force-app/main/default/flows/Account_Planning_Priority_Accounts_P1_P2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Plan_Found</name>
        <label>Account Plan Found</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Account_Plan_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Account_Plan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Plan_Form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Planning Priority Accounts (P1 + P2) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Planning Priority Accounts (P1 + P2)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Plan</name>
        <label>Create Account Plan</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Retrieve_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corporate_Objectives_CO_advanced__c</field>
            <value>
                <elementReference>Copy_1_of_Corporate_Objectives_COP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dagens_avtaler__c</field>
            <value>
                <elementReference>Copy_1_of_Dagens_avtalerP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EGR_siste_3_r__c</field>
            <value>
                <elementReference>Copy_1_of_EGR_siste_3_ar_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eierstruktur__c</field>
            <value>
                <elementReference>Copy_1_of_EierstrukturP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_1__c</field>
            <value>
                <elementReference>Copy_1_of_Hovedkonkurrent_1P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_2__c</field>
            <value>
                <elementReference>Copy_1_of_Hovedkonkurrent_2P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_3__c</field>
            <value>
                <elementReference>Copy_1_of_Hovedkonkurrent_3P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_4__c</field>
            <value>
                <elementReference>Copy_1_of_Hovedkonkurrent_4P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_business_and_IT_initiatives_KI_adva__c</field>
            <value>
                <elementReference>Copy_1_of_Key_business_and_IT_initiatives_KIP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kort_beskrivelse_av_kunden_advanced__c</field>
            <value>
                <elementReference>Copy_1_of_Kort_beskrivelse_av_kundenP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kundens_strategi__c</field>
            <value>
                <elementReference>Copy_1_of_Kundens_strategiP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>M_lsetninger_med_kunden_de_neste_3_12_ad__c</field>
            <value>
                <elementReference>Copy_1_of_M_lsetninger_med_kunden_de_neste_3_12_mndP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mission_critical_priorities_MCP__c</field>
            <value>
                <elementReference>Copy_1_of_Mission_critical_priorities_MCPP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mlsetninger_med_kunden_de_neste_12_36_m__c</field>
            <value>
                <elementReference>Copy_1_of_M_lsetninger_med_kunden_de_neste_12_36_mndP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Muligheter__c</field>
            <value>
                <elementReference>Copy_1_of_Muligheter_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_kkeldata_advanced__c</field>
            <value>
                <elementReference>Copy_1_of_NokkeldataP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relevante_eksterne_faktorer__c</field>
            <value>
                <elementReference>Copy_1_of_Relevante_eksterne_faktorerP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Styrker__c</field>
            <value>
                <elementReference>Copy_1_of_Styrker_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Svakheter__c</field>
            <value>
                <elementReference>Copy_1_of_Svakheter_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tilstedevrelse_hos_kunden__c</field>
            <value>
                <elementReference>Copy_1_of_Tilstedev_relse_hos_kundenP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusler__c</field>
            <value>
                <elementReference>Copy_1_of_Trusler_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_account</name>
        <label>Retrieve account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Account_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Account_Plan</name>
        <label>Retrieve Account Plan</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Plan_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_plan</name>
        <label>Update account plan</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Corporate_Objectives_CO_advanced__c</field>
            <value>
                <elementReference>Corporate_Objectives_COP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dagens_avtaler__c</field>
            <value>
                <elementReference>Dagens_avtalerP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EGR_siste_3_r__c</field>
            <value>
                <elementReference>EGR_siste_3_ar_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eierstruktur__c</field>
            <value>
                <elementReference>EierstrukturP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_1__c</field>
            <value>
                <elementReference>Hovedkonkurrent_1P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_2__c</field>
            <value>
                <elementReference>Hovedkonkurrent_2P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_3__c</field>
            <value>
                <elementReference>Hovedkonkurrent_3P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hovedkonkurrent_4__c</field>
            <value>
                <elementReference>Hovedkonkurrent_4P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_business_and_IT_initiatives_KI_adva__c</field>
            <value>
                <elementReference>Key_business_and_IT_initiatives_KIP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kort_beskrivelse_av_kunden_advanced__c</field>
            <value>
                <elementReference>Kort_beskrivelse_av_kundenP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kundens_strategi__c</field>
            <value>
                <elementReference>Kundens_strategiP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>M_lsetninger_med_kunden_de_neste_3_12_ad__c</field>
            <value>
                <elementReference>M_lsetninger_med_kunden_de_neste_3_12_mndP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mission_critical_priorities_MCP__c</field>
            <value>
                <elementReference>Mission_critical_priorities_MCPP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mlsetninger_med_kunden_de_neste_12_36_m__c</field>
            <value>
                <elementReference>M_lsetninger_med_kunden_de_neste_12_36_mndP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Muligheter__c</field>
            <value>
                <elementReference>Muligheter_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_kkeldata_advanced__c</field>
            <value>
                <elementReference>NokkeldataP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relevante_eksterne_faktorer__c</field>
            <value>
                <elementReference>Relevante_eksterne_faktorerP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Styrker__c</field>
            <value>
                <elementReference>Styrker_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Svakheter__c</field>
            <value>
                <elementReference>Svakheter_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tilstedevrelse_hos_kunden__c</field>
            <value>
                <elementReference>Tilstedev_relse_hos_kundenP1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusler__c</field>
            <value>
                <elementReference>Trusler_P1.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPlan__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Update_Account_Plan_Form</name>
        <label>Copy 1 of Update Account Plan Form</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account_Plan</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_BasicAccountPlanning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Advanced Account Planning:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;«Advanced Account Planning» er i utgangspunktet ment på våre P1 og P2 kunder, men kan også benyttes på andre kunder dersom du ser behovet for dette. Det er du som «Account owner» som er ansvarlig for å utarbeide denne planen sammen med Kundeteamet/aktuelle personer fra øvrige BUer.&lt;/p&gt;&lt;p&gt;Denne kundeplanen bør betraktes som et levende verktøy for din og vår måloppnåelse med kunden.&lt;/p&gt;&lt;p&gt;Det er ønskelig at du beskriver så mye du klarer, og du kan supplere ved å laste opp dokumenter om du har dette tilgjengelig under «Files». F.eks. årsrapporter, offentlige tildelingsbrev, strategier, org.kart etc.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Fakta_om_kunden</name>
            <fieldText>Fakta om kunden</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Fakta_om_kunden_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Kort_beskrivelse_av_kundenP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Kort beskrivelse av kunden</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Kort_beskrivelse_av_kunden_advanced__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Gi en kort beskrivelse av hvem kunden er, hva de fokuserer på, hvem er deres kunder etc. Hva er kundens visjoner og mål?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_NokkeldataP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Nøkkeldata</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.N_kkeldata_advanced__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Nøkkeldata som er relevant å vite om kunden: IT budsjett, omfang på bruken av eksterne konsulenter, antall ansatte, lokasjoner, relevante finansielle nøkkeltall etc.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Corporate_Objectives_COP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Corporate Objectives (CO)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Corporate_Objectives_CO_advanced__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er de overordnede forretningsmålene til kunden?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Mission_critical_priorities_MCPP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Mission critical priorities (MCP)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Mission_critical_priorities_MCP__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er de kritiske prioriteringene som kunden må gjennomføre for å nå sine forretningsmål?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Key_business_and_IT_initiatives_KIP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Key business and IT initiatives (KI)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Key_business_and_IT_initiatives_KI_adva__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvilke er kundens forretningsinitiativer og IT/digitaliseringsinitiativer for å understøtte de overordnede forretningsmålene?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Kundens_strategiP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Kundens_strategi__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er kundens forretnings- og IT/digitaliseringsstrategi?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Kundens strategi</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_EierstrukturP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Eierstruktur</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Eierstruktur__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv kundens eierstruktur</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Eksterne_faktorer_P1</name>
            <fieldText>Eksterne faktorer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Eksterne_faktorer_P1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Relevante_eksterne_faktorerP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Relevante eksterne faktorer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Relevante_eksterne_faktorer__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv hvilke eksterne faktorer som er mest relevant for kunden og dens virke, og som det er viktig at vi kjenner til.  Offentlige rammebetingelser, konkurransesituasjon i markedet, internasjonale forhold etc</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_M_lsetninger</name>
            <fieldText>Målsetninger</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_M_lsetninger_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Dagens_avtalerP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Dagens avtaler</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Dagens_avtaler__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvilke avtaler har vi med kunden i dag, og når utløper disse? Driftsavtale? Rammeavtale? Etc</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_EGR_siste_3_ar_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>131000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.EGR_siste_3_r__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>EGR siste 3 år</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Lim inn bilde fra Qlik</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Tilstedev_relse_hos_kundenP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Tilstedeværelse hos kunden</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Tilstedevrelse_hos_kunden__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>På hvilke områder/avdelinger/divisjoner hos kunden har vi historisk vært best representert? Har vi «kun» levert til IT, eller kan vi vise til oppdrag også andre steder hos kunden?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_M_lsetninger_med_kunden_de_neste_3_12_mndP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Målsetninger med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.M_lsetninger_med_kunden_de_neste_3_12_ad__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv dine mål med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_M_lsetninger_med_kunden_de_neste_12_36_mndP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Målsetninger med kunden de neste 12-36 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Mlsetninger_med_kunden_de_neste_12_36_m__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv dine mål med kunden de neste 12-36 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Konkurrenter_2</name>
            <fieldText>Konkurrenter</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Konkurrenter_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Hovedkonkurrent_1P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Hovedkonkurrent_2P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Hovedkonkurrent_3P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_3__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Hovedkonkurrent_4P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #4</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_4__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SWOT</name>
            <fieldText>SWOT</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_SWOT_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Styrker_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Styrker</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Styrker__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Svakheter_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Svakheter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Svakheter__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Muligheter_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Muligheter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Muligheter__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Trusler_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Trusler</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Trusler__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_UploadFilesUpdate</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .jpeg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Account_Plan_Form</name>
        <label>Update Account Plan Form</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_account_plan</targetReference>
        </connector>
        <fields>
            <name>BasicAccountPlanning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Advanced Account Planning:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;«Advanced Account Planning» er i utgangspunktet ment på våre P1 og P2 kunder, men kan også benyttes på andre kunder dersom du ser behovet for dette. Det er du som «Account owner» som er ansvarlig for å utarbeide denne planen sammen med Kundeteamet/aktuelle personer fra øvrige BUer.&lt;/p&gt;&lt;p&gt;Denne kundeplanen bør betraktes som et levende verktøy for din og vår måloppnåelse med kunden.&lt;/p&gt;&lt;p&gt;Det er ønskelig at du beskriver så mye du klarer, og du kan supplere ved å laste opp dokumenter om du har dette tilgjengelig under «Files». F.eks. årsrapporter, offentlige tildelingsbrev, strategier, org.kart etc.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fakta_om_kunden</name>
            <fieldText>Fakta om kunden</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fakta_om_kunden_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Kort_beskrivelse_av_kundenP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Kort_beskrivelse_av_kunden_advanced__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Kort beskrivelse av kunden</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Gi en kort beskrivelse av hvem kunden er, hva de fokuserer på, hvem er deres kunder etc. Hva er kundens visjoner og mål?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>NokkeldataP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Nøkkeldata</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.N_kkeldata_advanced__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Nøkkeldata som er relevant å vite om kunden: IT budsjett, omfang på bruken av eksterne konsulenter, antall ansatte, lokasjoner, relevante finansielle nøkkeltall etc.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Corporate_Objectives_COP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Corporate Objectives (CO)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Corporate_Objectives_CO_advanced__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er de overordnede forretningsmålene til kunden?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Mission_critical_priorities_MCPP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Mission critical priorities (MCP)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Mission_critical_priorities_MCP__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er de kritiske prioriteringene som kunden må gjennomføre for å nå sine forretningsmål?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Key_business_and_IT_initiatives_KIP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Key business and IT initiatives (KI)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Key_business_and_IT_initiatives_KI_adva__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvilke er kundens forretningsinitiativer og IT/digitaliseringsinitiativer for å understøtte de overordnede forretningsmålene?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Kundens_strategiP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Kundens strategi</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Kundens_strategi__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er kundens forretnings- og IT/digitaliseringsstrategi?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EierstrukturP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Eierstruktur</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Eierstruktur__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv kundens eierstruktur</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Eksterne_faktorer_P1</name>
            <fieldText>Eksterne faktorer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Eksterne_faktorer_P1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relevante_eksterne_faktorerP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Relevante eksterne faktorer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Relevante_eksterne_faktorer__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv hvilke eksterne faktorer som er mest relevant for kunden og dens virke, og som det er viktig at vi kjenner til.  Offentlige rammebetingelser, konkurransesituasjon i markedet, internasjonale forhold etc</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>M_lsetninger</name>
            <fieldText>Målsetninger</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>M_lsetninger_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dagens_avtalerP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Dagens avtaler</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Dagens_avtaler__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvilke avtaler har vi med kunden i dag, og når utløper disse? Driftsavtale? Rammeavtale? Etc</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Dagens_avtaler__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EGR_siste_3_ar_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>131000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.EGR_siste_3_r__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>EGR siste 3 år</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Lim inn bilde fra Qlik</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Tilstedev_relse_hos_kundenP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Tilstedeværelse hos kunden</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Tilstedevrelse_hos_kunden__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>På hvilke områder/avdelinger/divisjoner hos kunden har vi historisk vært best representert? Har vi «kun» levert til IT, eller kan vi vise til oppdrag også andre steder hos kunden?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>M_lsetninger_med_kunden_de_neste_3_12_mndP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Målsetninger med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.M_lsetninger_med_kunden_de_neste_3_12_ad__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv dine mål med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>M_lsetninger_med_kunden_de_neste_12_36_mndP1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Målsetninger med kunden de neste 12-36 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Mlsetninger_med_kunden_de_neste_12_36_m__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv dine mål med kunden de neste 12-36 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Konkurrenter_2</name>
            <fieldText>Konkurrenter</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Konkurrenter_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hovedkonkurrent_1P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Hovedkonkurrent_2P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Hovedkonkurrent_3P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_3__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Hovedkonkurrent_4P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Hovedkonkurrent #4</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Hovedkonkurrent_4__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvem anser du er våre største konkurrenter hos kunden? Hva er deres posisjon hos kunden i dag? Hva er deres styrker og svakheter? Hvilke avtaler har de i dag, og når utløper disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SWOT</name>
            <fieldText>SWOT</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SWOT_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Styrker_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Styrker</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Styrker__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Svakheter_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Svakheter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Svakheter__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Svakheter__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Muligheter_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Muligheter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Muligheter__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Trusler_P1</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Trusler</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Trusler__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UploadFilesUpdate</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .jpeg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
