force-app/main/default/flows/Account_Planning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Plan_Found</name>
        <label>Account Plan Found</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>New_Account_Plan_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Account_Plan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Plan_Form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Planning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Planning non-Priority Accounts (P3 + Hunting)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Plan</name>
        <label>Create Account Plan</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corporate_Objectives__c</field>
            <value>
                <elementReference>Copy_1_of_Corporate_Objectives_COP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_business_and_IT_initiatives__c</field>
            <value>
                <elementReference>Copy_1_of_Key_business_and_IT_initiativesP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kort_beskrivelse_av_kunden__c</field>
            <value>
                <elementReference>Copy_1_of_Kort_beskrivelse_av_kundenP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mlsetninger_med_kunden_de_neste_3_12_mn__c</field>
            <value>
                <elementReference>Copy_1_of_M_lsetninger_med_kunden_de_neste_3_12_mndP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nkkeldata__c</field>
            <value>
                <elementReference>Copy_1_of_NokkeldataP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relasjoner__c</field>
            <value>
                <elementReference>Copy_1_of_RelasjonerP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_account</name>
        <label>Retrieve account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Account_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Account_Plan</name>
        <label>Retrieve Account Plan</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Plan_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_plan</name>
        <label>Update account plan</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Corporate_Objectives__c</field>
            <value>
                <elementReference>Corporate_Objectives_COP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_business_and_IT_initiatives__c</field>
            <value>
                <elementReference>Key_business_and_IT_initiativesP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kort_beskrivelse_av_kunden__c</field>
            <value>
                <elementReference>Kort_beskrivelse_av_kundenP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mlsetninger_med_kunden_de_neste_3_12_mn__c</field>
            <value>
                <elementReference>M_lsetninger_med_kunden_de_neste_3_12_mndP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nkkeldata__c</field>
            <value>
                <elementReference>NokkeldataP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relasjoner__c</field>
            <value>
                <elementReference>RelasjonerP3.fieldValue</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPlan__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Account_Plan_Form</name>
        <label>New Account Plan Form</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account_Plan</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_BasicAccountPlanning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Basic Account Planning:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot;Basic Account Planning&quot; er i utgangspunktet ment på kunder som ikke er blant våre P1 eller P2 kunder, og det er du som «Account owner» som er ansvarlig for å utarbeide denne, eventuelt sammen med øvrige BUer.&lt;/p&gt;&lt;p&gt;Denne kundeplanen bør betraktes som et levende verktøy for din og vår måloppnåelse med kunden.&lt;/p&gt;&lt;p&gt;Det er ønskelig at du beskriver så mye du klarer, og du kan supplere ved å laste opp dokumenter om du har dette tilgjengelig under «Files». F.eks. årsrapporter, offentlige tildelingsbrev, strategier, org.kart etc.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Fakta_om_kunden</name>
            <fieldText>Fakta om kunden</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Fakta_om_kunden_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Kort_beskrivelse_av_kundenP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Kort beskrivelse av kunden</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Kort_beskrivelse_av_kunden__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Gi en kort beskrivelse av hvem kunden er, hva de fokuserer på, hvem er deres kunder etc. Hva er kundens visjoner og mål?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_NokkeldataP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Nøkkeldata</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Nkkeldata__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Nøkkeldata som er relevant å vite om kunden: IT budsjett, omfang på bruken av eksterne konsulenter, antall ansatte, lokasjoner, relevante finansielle nøkkeltall etc.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Corporate_Objectives_COP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Corporate Objectives (CO)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Corporate_Objectives__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er de overordnede forretningsmålene til kunden?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Corporate_Objectives__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Key_business_and_IT_initiativesP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Key business and IT initiatives</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Key_business_and_IT_initiatives__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvilke er kundens forretningsinitiativer og IT/digitaliseringsinitiativer for å understøtte de overordnede forretningsmålene?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_RelasjonerP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Relasjoner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Relasjoner__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Synliggjør hvilke relasjoner du/Sopra Steria har med relevante stakeholdere hos kunden. Hva er din plan for å utvide og styrke disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_M_lsetninger</name>
            <fieldText>Målsetninger</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_M_lsetninger_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_M_lsetninger_med_kunden_de_neste_3_12_mndP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Målsetninger med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Mlsetninger_med_kunden_de_neste_3_12_mn__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv dine mål med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UploadFileNew</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .jpeg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Account_Plan_Form</name>
        <label>Update Account Plan Form</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_account_plan</targetReference>
        </connector>
        <fields>
            <name>BasicAccountPlanning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Basic Account Planning:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot;Basic Account Planning&quot; er i utgangspunktet ment på kunder som ikke er blant våre P1 eller P2 kunder, og det er du som «Account owner» som er ansvarlig for å utarbeide denne, eventuelt sammen med øvrige BUer.&lt;/p&gt;&lt;p&gt;Denne kundeplanen bør betraktes som et levende verktøy for din og vår måloppnåelse med kunden.&lt;/p&gt;&lt;p&gt;Det er ønskelig at du beskriver så mye du klarer, og du kan supplere ved å laste opp dokumenter om du har dette tilgjengelig under «Files». F.eks. årsrapporter, offentlige tildelingsbrev, strategier, org.kart etc.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fakta_om_kunden</name>
            <fieldText>Fakta om kunden</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fakta_om_kunden_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Kort_beskrivelse_av_kundenP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Kort beskrivelse av kunden</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Kort_beskrivelse_av_kunden__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Gi en kort beskrivelse av hvem kunden er, hva de fokuserer på, hvem er deres kunder etc. Hva er kundens visjoner og mål?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>NokkeldataP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Nøkkeldata</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Nkkeldata__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Nøkkeldata som er relevant å vite om kunden: IT budsjett, omfang på bruken av eksterne konsulenter, antall ansatte, lokasjoner, relevante finansielle nøkkeltall etc.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Corporate_Objectives_COP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Corporate Objectives (CO)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Corporate_Objectives__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hva er de overordnede forretningsmålene til kunden?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Key_business_and_IT_initiativesP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Key business and IT initiatives</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Key_business_and_IT_initiatives__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Hvilke er kundens forretningsinitiativer og IT/digitaliseringsinitiativer for å understøtte de overordnede forretningsmålene?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RelasjonerP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Relasjoner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Relasjoner__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Synliggjør hvilke relasjoner du/Sopra Steria har med relevante stakeholdere hos kunden. Hva er din plan for å utvide og styrke disse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>M_lsetninger</name>
            <fieldText>Målsetninger</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>M_lsetninger_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>M_lsetninger_med_kunden_de_neste_3_12_mndP3</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Målsetninger med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLength</name>
                        <value>
                            <numberValue>33000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Mlsetninger_med_kunden_de_neste_3_12_mn__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpTextLabel</name>
                        <value>
                            <stringValue>Beskriv dine mål med kunden de neste 3-12 mnd</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Retrieve_Account_Plan.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UploadFilesUpdate</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .jpeg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
