force-app/main/default/flows/Account_Goal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignCreateTask</name>
        <label>AssignCreateTask</label>
        <locationX>774</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Goal_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.arpedio_AccountGoalIndex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Goal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAccGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdateTask</name>
        <label>AssignUpdateTask</label>
        <locationX>510</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Goal_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayTable.selectedTasks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTaskRecVariable.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_Date_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteAccGoal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccGoals_Available</name>
        <label>AccGoals Available</label>
        <locationX>223</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>FormForCreateAccountGoal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without AccGoals</defaultConnectorLabel>
        <rules>
            <name>Account_with_AccGoals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TableAccGoals</targetReference>
            </connector>
            <label>Account with AccGoals</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateAccountGoalDecision</name>
        <label>CreateAccountGoalDecision</label>
        <locationX>174</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>FormForCreateUpdateGoal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Account Goals</defaultConnectorLabel>
        <rules>
            <name>Account_Goal_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_a_new_account_goal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FormForCreateAccountGoal</targetReference>
            </connector>
            <label>Account Goal Creation</label>
        </rules>
        <rules>
            <name>ScreenRefresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisplayTable.selectedTasks.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_a_new_account_goal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>ScreenRefresh</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeleteAccGoal</name>
        <label>DeleteAccGoal</label>
        <locationX>500</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Goal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Acc Goal</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Account_Goal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccGoalDeletion</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TaskStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Account Goal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Goal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAccGoal</name>
        <label>CreateAccGoal</label>
        <locationX>941</locationX>
        <locationY>443</locationY>
        <inputReference>CreateTaskRecVariable</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>AccGoalDeletion</name>
        <label>AccGoalDeletion</label>
        <locationX>791</locationX>
        <locationY>853</locationY>
        <inputReference>CreateTaskRecVariable</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Account Goals</description>
        <name>GetTasks</name>
        <label>GetTasks</label>
        <locationX>573</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccGoals_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>arpedio_AccountGoalIndex__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Goal</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Goal</name>
        <label>Update Account Goal</label>
        <locationX>790</locationX>
        <locationY>621</locationY>
        <inputReference>CreateTaskRecVariable</inputReference>
    </recordUpdates>
    <screens>
        <name>FormForCreateAccountGoal</name>
        <label>FormForCreateAccountGoal</label>
        <locationX>478</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignCreateTask</targetReference>
        </connector>
        <fields>
            <name>arpedioimage2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ArpedioLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Image not available</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoAccountGoal</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(43, 109, 69);&quot;&gt;Create a new account goal:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormForCreateAccountGoal_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FormForCreateAccountGoal_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Goal_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Account Goal Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormForCreateAccountGoal_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>TaskStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Started</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FormForCreateUpdateGoal</name>
        <label>FormForUpdateAccountGoal</label>
        <locationX>335</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignUpdateTask</targetReference>
        </connector>
        <fields>
            <name>arpediologo3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ArpedioLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Image not available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FormForCreateUpdateGoal_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FormForCreateUpdateGoal_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Goal_Name_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DisplayTable.selectedTasks.Subject</elementReference>
                    </defaultValue>
                    <fieldText>Account Goal Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DisplayTable.selectedTasks.Description</elementReference>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormForCreateUpdateGoal_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_Date_0</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DisplayTable.selectedTasks.ActivityDate</elementReference>
                    </defaultValue>
                    <fieldText>Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status_0</name>
                    <choiceReferences>TaskStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DisplayTable.selectedTasks.Status</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Delete_Account_Goal</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete account goal?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If checked, the account goal will be deleted after click next.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TableAccGoals</name>
        <label>TableAccGoals</label>
        <locationX>50</locationX>
        <locationY>498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateAccountGoalDecision</targetReference>
        </connector>
        <fields>
            <name>ArpedioImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ArpedioLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Error for displaying image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectAccGoal</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(43, 109, 69); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Account Goals:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_new_account_goal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_a_new_account_goal</name>
            <dataType>Boolean</dataType>
            <fieldText>Create a new account goal</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(43, 109, 69);&quot;&gt;Check this checkbox for create a new Account goal&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayTable</name>
            <extensionName>c:DisplayAccountGoals</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>taskList</name>
                <value>
                    <elementReference>GetTasks</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_new_account_goal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTasks</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CreateTaskRecVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
