force-app/main/default/flows/Add_Chatter_follower.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_duplicate_subscription</name>
        <label>Check for duplicate subscription</label>
        <locationX>623</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Duplicate_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Duplicate exists</label>
        </rules>
        <rules>
            <name>No_duplicate_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_add_follower_to_opportunity</targetReference>
            </connector>
            <label>No duplicate exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added catch for Inactive user to handle an error caused by TaskActivity Trigger</description>
        <name>Not_for_Temp_Owner</name>
        <label>Not for Temp Owner</label>
        <locationX>258</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>Check_if_subscription_already_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Temp_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FollowerID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0054I000006qiNrQAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Follower_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Temp Owner Or Inactive</label>
        </rules>
    </decisions>
    <description>Added catch for Inactive user to handle an error caused by TaskTrigger</description>
    <environments>Default</environments>
    <interviewLabel>Add Chatter follower {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Chatter follower</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Auto_add_follower_to_opportunity</name>
        <label>Auto add follower to opportunity</label>
        <locationX>720</locationX>
        <locationY>392</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>FollowerID</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_subscription_already_exists</name>
        <label>Check if subscription already exists</label>
        <locationX>390</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_duplicate_subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FollowerID</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>SubscriptionIDs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Follower_Record</name>
        <label>Get Follower Record</label>
        <locationX>91</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_for_Temp_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FollowerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Follower_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Lookup to entitysubscription to see if matching record exists</description>
        <name>EntitySubscriptionExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FollowerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SubscriptionIDs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
</Flow>
