force-app/main/default/flows/BCR_Status_to_Opportuntiy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_of_approval_request</name>
        <label>Notify of approval request</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>BCR__c.Notify_of_approval_request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BCR__c.Notify_of_approval_request</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Send_approval_request_email</name>
        <label>Send approval request email?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_of_approval_request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>approval</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE( {!$Record.Request_approval__c}) = FALSE &amp;&amp; 
{!$Record.Request_approval__c} = TRUE  &amp;&amp; 
( 
( {!$Record.BCR_Type__c} = &quot;BCR0&quot; &amp;&amp; {!$Record.BCR0_approved__c}  = FALSE) || 
( {!$Record.BCR_Type__c} = &quot;BCR0 Fast track&quot; &amp;&amp;{!$Record.BCR0_approved__c}  = FALSE) || 
( {!$Record.BCR_Type__c} = &quot;BCR1&quot; &amp;&amp; {!$Record.BCR1_approved__c}  = FALSE) )</expression>
    </formulas>
    <interviewLabel>BCR Status to Opportuntiy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify about BCR approval request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_approval_request_email</targetReference>
        </connector>
        <object>BCR__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
