force-app/main/default/flows/Competitor_Evaluation_Sort.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_updated_record</name>
        <label>Add updated record</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Last_Sort_Date</name>
        <label>Last Sort Date</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Evaluation_Area.Last_Competitor_Evaluation_Sort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_rank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_rank</name>
        <label>New rank</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varCalcRank</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.Ranking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCalcRank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Competitor Evaluation Sort {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Competitor Evaluation Sort</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Evaluation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_rank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Last_Sort_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Evaluation</name>
        <label>Evaluation</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Evaluation_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evaluation_Area.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competitor_evaluation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Evaluation_Area__c</queriedFields>
        <queriedFields>Ranking__c</queriedFields>
        <sortField>Total_Score__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Evaluation_Area</name>
        <label>Evaluation Area</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Evaluation_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Evaluation_Area_Sort_Date</name>
        <label>Update Evaluation Area Sort Date</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <inputReference>Evaluation_Area</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_rank</name>
        <label>Update rank</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Evaluation_Area_Sort_Date</targetReference>
        </connector>
        <inputReference>UpdatedRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluation_Area</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_evaluation__c</objectType>
    </variables>
    <variables>
        <name>varCalcRank</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
