force-app/main/default/flows/Contact_GDPR_Mark_Contacts_for_Redaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>358</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Outcome 1 of Decision 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_related_to_open_opportunities</name>
        <label>Is contact related to open opportunities?</label>
        <locationX>182</locationX>
        <locationY>960</locationY>
        <defaultConnectorLabel>Has Opportunities</defaultConnectorLabel>
        <rules>
            <name>No_opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_contact_for_redaction</targetReference>
            </connector>
            <label>No opportunities</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contact - GDPR - Mark Contacts for Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - GDPR - Mark Contacts for Redaction</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_opportunities</name>
        <label>Get Open Opportunities</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_contact_related_to_open_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Abandoned by Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Abandoned by Us</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity</name>
        <label>Get opportunity</label>
        <locationX>358</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Roles</name>
        <label>Opportunity Roles</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_contact_for_redaction</name>
        <label>Mark contact for redaction</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <inputAssignments>
            <field>Marked_for_redaction__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Permission__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Legitimate_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-09-13</startDate>
            <startTime>15:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
