force-app/main/default/flows/Create_BID_SE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Received_valid_url</name>
        <label>Received valid url?</label>
        <locationX>491</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BidRoom_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Url</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BID</targetReference>
            </connector>
            <label>Found available Bid room</label>
        </rules>
        <rules>
            <name>BIDRoom_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Url</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_avaiable_bid_room</targetReference>
            </connector>
            <label>No available Bid Room</label>
        </rules>
    </decisions>
    <formulas>
        <name>StageAndOpptname</name>
        <dataType>String</dataType>
        <expression>{!StageName} + &apos; - &apos;  + {!OpportunityName}</expression>
    </formulas>
    <interviewLabel>Create BID SE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create BID SE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BID</name>
        <label>Create BID</label>
        <locationX>776</locationX>
        <locationY>57</locationY>
        <assignRecordIdToReference>BidID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>BID_Number__c</field>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Bid_SE__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_url</name>
        <label>Get url</label>
        <locationX>180</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mark_URL_as_used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Bid_URL_SE__c</object>
        <outputAssignments>
            <assignToReference>UrlID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Url</assignToReference>
            <field>URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>mark_URL_as_used</name>
        <label>mark URL as used</label>
        <locationX>306</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Received_valid_url</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>URL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Used__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Bid_URL_SE__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>No_avaiable_bid_room</name>
        <label>No avaiable bid room</label>
        <locationX>641</locationX>
        <locationY>293</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bid_Number__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update current opportunity with Bid number and &quot;Is updated&quot; flag</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>951</locationX>
        <locationY>57</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bid_ID__c</field>
            <value>
                <elementReference>BidID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Number__c</field>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Created_in_bid_portal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_url</startElementReference>
    <status>Active</status>
    <variables>
        <name>BidID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Opportunity Stage ID</description>
        <name>StageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of url record</description>
        <name>UrlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URLObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid_URL__c</objectType>
    </variables>
</Flow>
