force-app/main/default/flows/Delete_obsolete_bid_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Country</name>
        <label>Country</label>
        <locationX>231</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_NO_DK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOwnerCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Bid_NO_DK</targetReference>
            </connector>
            <label>Country NO DK</label>
        </rules>
        <rules>
            <name>Country_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Bid_SE</targetReference>
            </connector>
            <label>Country SE</label>
        </rules>
    </decisions>
    <interviewLabel>Delete obsolete bid record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete obsolete bid record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Bid_NO_DK</name>
        <label>Delete Bid NO DK</label>
        <locationX>578</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BID_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBidNumber</elementReference>
            </value>
        </filters>
        <object>Bid__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Bid_SE</name>
        <label>Delete Bid SE</label>
        <locationX>239</locationX>
        <locationY>258</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BID_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBidNumber</elementReference>
            </value>
        </filters>
        <object>Bid_SE__c</object>
    </recordDeletes>
    <startElementReference>Country</startElementReference>
    <status>Active</status>
    <variables>
        <name>VarBid_NO_DK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid__c</objectType>
    </variables>
    <variables>
        <name>varBid_SE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid_SE__c</objectType>
    </variables>
    <variables>
        <name>varBidID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBidNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
