force-app/main/default/flows/Delete_HR_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Amount</name>
        <label>Amount</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Amount_of_Employees</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_HR_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Deleted_Employees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delete_HR_Records</name>
        <label>Delete Records</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not deleted</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HR_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_HRlist</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Select_for_Deletion</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-(2)</expression>
    </formulas>
    <interviewLabel>Delete_HR_List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete HR-List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_HRlist</name>
        <label>Delete_HRList</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Delete_Screen</targetReference>
        </connector>
        <inputReference>Get_HR_List</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_HR_List</name>
        <label>Get_HR_List</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Delete_HR_List_Records</name>
        <label>Delete HR List Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_HR_List</targetReference>
        </connector>
        <fields>
            <name>Delete_Employees_HR</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Delete and update employees from HR-list.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Screen</name>
        <label>Delete_Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Delete_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Amount_of_Employees} records have been deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Deleted_Employees</name>
        <label>Display Deleted Employees</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_HR_Records</targetReference>
        </connector>
        <fields>
            <name>Display_Deleted</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Employees to be deleted: &lt;/strong&gt;{!Amount_of_Employees}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_delete</name>
        <label>No Delete</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Delete</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No records was deleted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_HR_List_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount_of_Employees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Employee_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
</Flow>
