force-app/main/default/flows/ERROR_HANDLING.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendErrorEmail</name>
        <label>sendErrorEmail</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varAdminEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error Additional Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Include this as a subflow in any flow. Pass the id of the record. Pass more error handling information.</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_URLlink</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL} &amp; &apos;lightning/r/Opportunity/&apos; &amp; {!varRecordId} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>ERROR HANDLING {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERROR HANDLING</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Admin_Emails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Look email addresses of admins to alert for errors</description>
        <name>Get_Admin_Emails</name>
        <label>Get Admin Emails</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>sendErrorEmail</targetReference>
        </connector>
        <flowName>UsersAdminEmailList</flowName>
        <outputAssignments>
            <assignToReference>varAdminEmailList</assignToReference>
            <name>var_AdminEmailList</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!frm_URLlink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to record with error&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;{!moreErrorInfo}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>send in from flow with error</description>
        <name>moreErrorInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAdminEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
