force-app/main/default/flows/Evalation_Area_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>collUpdatedCompetitorEvaluation</name>
        <label>collUpdatedCompetitorEvaluation</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>updatedCompetitorEvaluation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Competitor_evaluation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competitor_evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_All_Score_Values</name>
        <label>Update All Score Values</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Competitor_evaluation.Score_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmScorePrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Competitor_evaluation.Score_Quality_CV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmScoreCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Competitor_evaluation.Score_Quality_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmScoreOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Competitor_evaluation.Score_Quality_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmScoreCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Competitor_evaluation.Score_Quality_Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmScoreQuality</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collUpdatedCompetitorEvaluation</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>frmScoreCapacity</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Weight_Quality_Capacity__c} = 0, 0, {!Competitor_evaluation.Score_Quality_Capacity__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>frmScoreCV</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Weight_Quality_CV__c} = 0, 0, {!Competitor_evaluation.Score_Quality_CV__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>frmScoreOther</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Weight_Quality_Other__c} = 0, 0, {!Competitor_evaluation.Score_Quality_Other__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>frmScorePrice</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Weight_Price__c} = 0, 0, {!Competitor_evaluation.Score_Price__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>frmScoreQuality</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Weight_Quality_Quality__c} = 0, 0, {!Competitor_evaluation.Score_Quality_Quality__c})</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Evalation Area Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evaluation Area Changes</label>
    <loops>
        <name>Competitor_evaluation</name>
        <label>Competitor evaluation</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>collCompetitor_Evaluation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_All_Score_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>collCompetitor_Evaluation</name>
        <label>Coll Competitor Evaluation</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Competitor_evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Evaluation_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competitor_evaluation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>updatedCompetitorEvaluation</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>collCompetitor_Evaluation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Validate_Weight_Capacity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Validate_Weight_CV__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Validate_Weight_Other__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Validate_Weight_Price__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Validate_Weight_Quality__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Evaluation_Area__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>updatedCompetitorEvaluation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_evaluation__c</objectType>
    </variables>
    <variables>
        <name>varEvaluation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWeightPriceNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varWeightQualityNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
