force-app/main/default/flows/Fourteen_Days_Before_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Opportunity_Owner_DK</name>
        <label>Email Opportunity Owner</label>
        <locationX>842</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Alert_Denmark</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Opportunity_Owner_NO</name>
        <label>Email Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Alert_Norway</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Account_Owner_DK</name>
        <label>Email to Account Owner DK</label>
        <locationX>974</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Opportunity_Owner_Account_Owner_DK</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Alert_Denmark</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Account_Owner_NO</name>
        <label>Email to Account Owner NO</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Opportunity_Owner_Account_Owner_NO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Alert_Norway</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Distinguishes the country the opportunity belongs to</description>
        <name>Country</name>
        <label>Country</label>
        <locationX>776</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Norway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Account_Owner_NO</targetReference>
            </connector>
            <label>Norway</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>Denmark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark-DK Temporarily disabled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Account_Owner_DK</targetReference>
            </connector>
            <label>Denmark</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Account Owner is also the Owner of the Opportunity the email will be just sent once, otherwise both the Opportunity and Account Owner will be notified</description>
        <name>Opportunity_Owner_Account_Owner_DK</name>
        <label>Opportunity Owner = Account Owner</label>
        <locationX>974</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_DK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opportunity_Owner_DK</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Account Owner is also the Owner of the Opportunity the email will be just sent once, otherwise both the Opportunity and Account Owner will be notified</description>
        <name>Opportunity_Owner_Account_Owner_NO</name>
        <label>Opportunity Owner = Account Owner</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opportunity_Owner_NO</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Email notification 14 days before the Opportunity closes. Change the criteria to exclude opportunities that are already closed, but close date was not updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!AccountID.Owner.Email}</expression>
    </formulas>
    <formulas>
        <name>Link</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &quot;/services&quot;, $Api.Partner_Server_URL_260)) &amp; &quot;lightning/r/&quot; &amp; {!$Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Fourteen Days Before Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fourteen Days Before Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>776</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X14DaysBeforeCloseDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>4 - Offer - Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Abandoned by Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Abandoned by Us</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-29</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Alert_Denmark</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi!
According to the data you logged in Salesforce, this Opportunity will be closing within the next 30 days. Do you have control over all the activities that have to take place within the next weeks, to reach the closing date? If you think the close date is not realistic, please update the close date. We are eager to have high quality data in our CRM system.
Thanks for the help and hold on to the good work 游땕

Opportunity Name: {!$Record.Name}
Account Name: {!$Record.Account_Name__c}
Link to Opportunity: {!Link}</text>
    </textTemplates>
    <textTemplates>
        <name>Alert_Norway</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei! 
N친 er det kun 14 dager igjen til denne Opportunitien skal v칝re closet. Har du kontroll p친 alle aktiviteter som m친 gj칮res for 친 komme i m친l? Dersom du tror det er lite sannsynlig at Close date er realistisk er det fint om du endrer denne datoen. Vi trenger gode og p친litelige data i v친rt CRM system! 
Takk for hjelpen, og st친 p친 videre 游땕

Opportunity Name: {!$Record.Name}
Account Name: {!$Record.Account_Name__c}
Link til Opportunity: {!Link}</text>
    </textTemplates>
    <textTemplates>
        <name>FourteenDayAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Opportunity following has Close Date in 14 Days:
Opportunity: {!$Record.Name} 
Account: {!$Record.Account_Name__c}
Please update the Opportunity via this {!Link}!
Thank you!</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Opportunity has Close Date in 14 Days</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
