force-app/main/default/flows/Get_Distribution_Public_Url.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>No_Doc_Content</name>
        <label>No Doc Content</label>
        <locationX>644</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>varDistributionPublicUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No attachment was found in the Checklist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Distribution_Link</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Document_Content</name>
        <label>Found Document Content</label>
        <locationX>266</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContentDocId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Content_Document_Version</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContentDocId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>No_Doc_Content</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Make file public and retrieve url</description>
    <interviewLabel>Get Distribution Public Url {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Distribution Public Url</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Content_Distribution</name>
        <label>Content Distribution</label>
        <locationX>576</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>varContentDist</assignRecordIdToReference>
        <connector>
            <targetReference>Content_Distribution_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>varContentVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Pris- och Faktureringsmodell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowOriginalDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowPDFDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesLinkLatestVersion</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
    </recordCreates>
    <recordLookups>
        <name>Content_Distribution_Link</name>
        <label>Content Distribution Link</label>
        <locationX>835</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContentDist</elementReference>
            </value>
        </filters>
        <object>ContentDistribution</object>
        <outputAssignments>
            <assignToReference>varDistributionPublicUrl</assignToReference>
            <field>DistributionPublicUrl</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>273</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Document_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputAssignments>
            <assignToReference>varContentDocId</assignToReference>
            <field>ContentDocumentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Content_Document_Version</name>
        <label>Content Document Version</label>
        <locationX>446</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Distribution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContentDocId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputAssignments>
            <assignToReference>varContentVersionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContentDist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDistributionPublicUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
