force-app/main/default/flows/Get_URL_for_bid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Received_valid_url</name>
        <label>Received valid url?</label>
        <locationX>564</locationX>
        <locationY>113</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BidRoom_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Url</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mark_URL_as_used</targetReference>
            </connector>
            <label>Found available Bid room</label>
        </rules>
        <rules>
            <name>BIDRoom_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Url</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_avaiable_bid_room</targetReference>
            </connector>
            <label>No available Bid Room</label>
        </rules>
    </decisions>
    <description>Fetch URL from BIDUrl and create BID document</description>
    <environments>Default</environments>
    <interviewLabel>Get URL for bid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get URL for new bid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BID</name>
        <label>Create BID</label>
        <locationX>975</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>BID_Number__c</field>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Bid_changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Bid__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_url</name>
        <label>Get url</label>
        <locationX>390</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Received_valid_url</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Bid_URL__c</object>
        <outputAssignments>
            <assignToReference>UrlID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Url</assignToReference>
            <field>URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>mark_URL_as_used</name>
        <label>mark URL as used</label>
        <locationX>801</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Create_BID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>URL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Used__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Bid_URL__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>No_avaiable_bid_room</name>
        <label>No avaiable bid room</label>
        <locationX>801</locationX>
        <locationY>228</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bid_Number__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update current opportunity with Bid number and &quot;Is updated&quot; flag</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1138</locationX>
        <locationY>117</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bid_Number__c</field>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Created_in_bid_portal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_url</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of url record</description>
        <name>UrlID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URLObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid_URL__c</objectType>
    </variables>
</Flow>
