force-app/main/default/flows/Lead_Find_existing_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Lead.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Lead.Sector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.Ownership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Lead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Org_Number</name>
        <label>Assign Org Number</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Lead.Org_number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Org_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Org_Number_in_Place</name>
        <label>Org Number in Place</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Org_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Lead.Org_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrgNoMatch</name>
        <label>Matching Org Number</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Matchnotfound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account.Org_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_updated_Lead.Org_number__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes, Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead: Find existing account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Find existing account</label>
    <loops>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_Current_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_account</name>
        <label>Get rel Account</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrgNoMatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Org_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_updated_Lead.Org_number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Org_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Lead.Org_number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Lead</name>
        <label>Get Current Lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Number_in_Place</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_updated_Lead</name>
        <label>Get updated Lead</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Get_updated_Lead</targetReference>
        </connector>
        <inputReference>Get_Current_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Match_Found</name>
        <label>Match Found</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Fields</targetReference>
        </connector>
        <fields>
            <name>Match_Found_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Match_Found_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Checkmark</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>150</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Match_Found_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResultsForAccounts</name>
                    <fieldText>&lt;p&gt;We found the following match:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Find_Account.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &quot;Next&quot; for inserting the Account details into this Lead.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No new Account will be created when this Lead will be converted. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Matchnotfound</name>
        <label>Match not found</label>
        <locationX>308</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Matchnotfound_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Matchnotfound_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CrossMark2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Search</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Matchnotfound_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ResultsForAccounts</name>
                    <fieldText>&lt;p&gt;We have not found an already existing account for the Company:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Get_Current_Lead.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new Account will be created when this Lead will be converted. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Org_Number</name>
        <label>No Org Number</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Org_Number</targetReference>
        </connector>
        <fields>
            <name>No_Org_Number_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Org_Number_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CrossMark</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Crossmark</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Org_Number_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message</name>
                    <fieldText>&lt;p&gt;In order to search for an already existing Account, please insert the Org number to the Company. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Current_Lead.Org_Number_Check__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Lead.Company</elementReference>
                    </defaultValue>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Org_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Org Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Lead</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
