force-app/main/default/flows/Lead_ConversionDifftAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>How many contacts at the other accounts?</description>
        <name>asgCountOfContacts</name>
        <label>asgCountOfContacts</label>
        <locationX>957</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>varNumContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collContactsAtOtherAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>desHow_many_contacts_at_other_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Contact_is_True</name>
        <label>Create New Contact is True</label>
        <locationX>679</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>moveContactToLeadAccount</name>
        <label>moveContactToLeadAccount</label>
        <locationX>457</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTheContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Do not need to set varAccountId because it is not changing.</description>
        <name>MoveContactToLeadAcct</name>
        <label>Move Contact to Lead acct</label>
        <locationX>885</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableContacts.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableContacts.firstSelectedRow.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableContacts.firstSelectedRow.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTheContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>merge the lead into this contact and their account.</description>
        <name>moveLeadtoContact</name>
        <label>moveLeadtoContact</label>
        <locationX>55</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarLead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Contact.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>moveLeadToContactAcct</name>
        <label>moveLeadToContactAcct</label>
        <locationX>1351</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableContacts.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableContacts.firstSelectedRow.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarLead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableContacts.firstSelectedRow.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableContacts.firstSelectedRow.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chsCreate_a_new_contact</name>
        <choiceText>Create a new contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a new contact </stringValue>
        </value>
    </choices>
    <choices>
        <name>chsMoveContactToLeadAccount</name>
        <choiceText>Move the contact to the same account as the lead, {!varAccountName}.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MoveAccount</stringValue>
        </value>
    </choices>
    <choices>
        <description>We cannot make the sentence display the name for the account selected for the contact because that is not populated or saved to the variable until they hit next.</description>
        <name>chsMoveLeadToContact</name>
        <choiceText>Move the lead to the same account as the contact {!Get_One_Contact.Account.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MergeIntoExisting</stringValue>
        </value>
    </choices>
    <decisions>
        <name>desHow_many_contacts_at_other_account</name>
        <label>How many contacts at other account?</label>
        <locationX>704</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>Multiple_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 1</defaultConnectorLabel>
        <rules>
            <name>X1_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_One_Contact</targetReference>
            </connector>
            <label>1 only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_Contact_to_Lead_Account2</name>
        <label>Move Contact to Lead Account</label>
        <locationX>966</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>moveLeadToContactAcct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move Lead to Contact Account</defaultConnectorLabel>
        <rules>
            <name>Move_Contact_to_Lead_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsMoveContactToLeadAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MoveContactToLeadAcct</targetReference>
            </connector>
            <label>Move Contact to Lead Account</label>
        </rules>
        <rules>
            <name>decCreate_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsCreate_a_new_contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact_is_True</targetReference>
            </connector>
            <label>Create New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_Contact_to_theLead_Account_0</name>
        <label>Move Contact to Lead Account</label>
        <locationX>444</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>moveLeadtoContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move Lead to Contact Account</defaultConnectorLabel>
        <rules>
            <name>Move_Contact_to_Lead_Account_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsMoveContactToLeadAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>moveContactToLeadAccount</targetReference>
            </connector>
            <label>Move Contact to Lead Account</label>
        </rules>
        <rules>
            <name>Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsCreate_a_new_contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact_is_True</targetReference>
            </connector>
            <label>Create New Contact</label>
        </rules>
    </decisions>
    <description>The lead is converted to a contact at a different account.</description>
    <environments>Default</environments>
    <interviewLabel>Screen Subflow Lead Conversion Different Accounts 3/3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Subflow Lead Conversion Different Accounts 3/3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_One_Contact</name>
        <label>Get One Contact</label>
        <locationX>453</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen1Contact</targetReference>
        </connector>
        <filterLogic>((1 AND 4) OR (2 AND 3)) AND NOT 5</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recVarLead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recVarLead.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recVarLead.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Account_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>654</locationX>
        <locationY>1076</locationY>
        <inputReference>recVarLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the account on the contact record.</description>
        <name>UpdateTheContact</name>
        <label>Update the Contact</label>
        <locationX>659</locationX>
        <locationY>823</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Multiple_Contacts</name>
        <label>Multiple Contacts</label>
        <locationX>727</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Move_Contact_to_Lead_Account2</targetReference>
        </connector>
        <fields>
            <name>dspMultipleFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Matching Contacts&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;No contacts were found named {!recVarLead.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recVarLead.LastName} at &lt;/span&gt;{!varAccountName}, but multiple matching contacts were found at other accounts.&lt;/p&gt;&lt;p&gt;You may choose one to merge with the lead.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dataTableContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collContactsAtOtherAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2895&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-cb8e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-bd24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>chsMoveLeadToContact</choiceReferences>
            <choiceReferences>chsMoveContactToLeadAccount</choiceReferences>
            <choiceReferences>chsCreate_a_new_contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen1Contact</name>
        <label>Screen1Contact</label>
        <locationX>452</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Move_Contact_to_theLead_Account_0</targetReference>
        </connector>
        <fields>
            <name>dspMultipleFound_0</name>
            <fieldText>&lt;p&gt;You entered this lead:&lt;/p&gt;&lt;p&gt;Name: {!recVarLead.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recVarLead.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Account: {!varAccountName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email: {!recVarLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We found one possible matching contact: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name: {!Get_One_Contact.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Account: {!Get_One_Contact.Account.Name} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Email: {!Get_One_Contact.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_would_you_like_to_do_0</name>
            <choiceReferences>chsMoveLeadToContact</choiceReferences>
            <choiceReferences>chsMoveContactToLeadAccount</choiceReferences>
            <choiceReferences>chsCreate_a_new_contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>831</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>asgCountOfContacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booCreateNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contacts at other account are sent in from main flow</description>
        <name>collContactsAtOtherAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>comes in from main flow</description>
        <name>recVarLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>accountId sent in from main flow, and sent back.</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>How many contacts at other accounts</description>
        <name>varNumContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumScenario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
