force-app/main/default/flows/Manage_BIDs_NO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_DPS_Mailbox</name>
        <label>Alert DPS Mailbox</label>
        <locationX>1056</locationX>
        <locationY>1211</locationY>
        <actionName>Opportunity.Alert_Opportunity_assigned_to_DPS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_assigned_to_DPS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DPS</name>
        <label>DPS</label>
        <locationX>1201</locationX>
        <locationY>1145</locationY>
        <defaultConnectorLabel>FALSE_DPS</defaultConnectorLabel>
        <rules>
            <name>TRUE_DPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_DPS_Mailbox</targetReference>
            </connector>
            <label>TRUE_DPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInBidPortalAndChanged</name>
        <label>Is in bid portal and changed</label>
        <locationX>1386</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>FALSE_Is in bid portal</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR  6  OR 7 OR 8 Or 9  OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 17) AND 16</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Created_in_bid_portal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Proposal_Due_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Country__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apps_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BC_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DPS_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reset_Bid_Room__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBid</targetReference>
            </connector>
            <label>TRUE_Is in bid portal</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewBidRoom</name>
        <label>New Bid Room</label>
        <locationX>1386</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>IsInBidPortalAndChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Create</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 ) AND  5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Possibility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Prequal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Created_in_bid_portal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewBid</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <description>Modified entry conditions from: AND(OR({!$Record.Owner.Country}&lt;&gt; &apos;Sweden&apos;, !ISPICKVAL({!$Record.Type}, &apos;Renewal&apos;)))

to; AND({!$Record.Owner.Country}&lt;&gt; &apos;Sweden&apos;, !ISPICKVAL({!$Record.Type}, &apos;Renewal&apos;))
Previous &quot;OR&quot; condtion would cause flow to run almost every time.

AND({!$Record.Owner.Country}&lt;&gt; &apos;Sweden&apos;, ISPICKVAL({!$Record.Type}, &apos;Renewal&apos;),  
(OR(ISCHANGED({!$Record.Is_Created_in_bid_portal__c}),
ISCHANGED({!$Record.Name}), ISCHANGED({!$Record.Account.Name}), ISCHANGED({!$Record.Proposal_Due_Date_Time__c}),ISCHANGED({!$Record.Business_Unit__c}), ISCHANGED({!$Record.Owner.Country}), ISCHANGED({!$Record.Sector__c}), ISCHANGED({!$Record.StageName}), ISCHANGED({!$Record.Type}), ISCHANGED({!$Record.BC_Owner__c}), ISCHANGED({!$Record.DPS_Owner__c}), ISCHANGED({!$Record.OwnerId}), 
ISCHANGED({!$Record.Account.OwnerId}), ISCHANGED({!$Record.Reset_Bid_Room__c}), ISCHANGED({!$Record.Status__c}))))</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(INCLUDES( {!$Record.Business_Unit__c} ,&apos;DPS&apos;) , {!$Record.Is_Created_in_bid_portal__c} = TRUE, OR(ISCHANGED({!$Record.Is_Created_in_bid_portal__c} ) , ISNEW()))</expression>
    </formulas>
    <formulas>
        <description>Add url suffix specific for country</description>
        <name>frmBidUrlCountrySpecific</name>
        <dataType>String</dataType>
        <expression>&quot;/SitePages/Home.aspx&quot;</expression>
    </formulas>
    <formulas>
        <description>Bid URL Status</description>
        <name>frmBidURLStatus</name>
        <dataType>String</dataType>
        <expression>{!$User.Username} &amp; &quot; , created on&quot; &amp; TEXT({!$System.OriginDateTime})</expression>
    </formulas>
    <formulas>
        <name>frmRecordStageName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.StageName})</expression>
    </formulas>
    <interviewLabel>Manage BIDs NO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage BIDs NO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>IsCreated_SetURLCountry</name>
        <label>Is created + Bid Url Country</label>
        <locationX>1254</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>IsInBidPortalAndChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>BID_URL_Country__c</field>
            <value>
                <elementReference>frmBidUrlCountrySpecific</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BID_URL_Status__c</field>
            <value>
                <elementReference>frmBidURLStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Created_in_bid_portal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>323</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>NewBidRoom</targetReference>
        </connector>
        <filterFormula>AND({!$Record.Owner.Country}&lt;&gt; &apos;Sweden&apos;, !ISPICKVAL({!$Record.Type}, &apos;Renewal&apos;))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateNewBid</name>
        <label>Create new bid</label>
        <locationX>1254</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>IsCreated_SetURLCountry</targetReference>
        </connector>
        <flowName>Create_BID</flowName>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateBid</name>
        <label>Update Bid</label>
        <locationX>1188</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>DPS</targetReference>
        </connector>
        <flowName>Update_Bid</flowName>
        <inputAssignments>
            <name>BidID</name>
            <value>
                <elementReference>$Record.Bid_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StageName</name>
            <value>
                <elementReference>frmRecordStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
