force-app/main/default/flows/New_Service_Area.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Service_to_variable</name>
        <label>Assign Service to variable</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Services</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Loop_through_Evaluation_Area.Service__r.Name}; {!Services} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Evaluation_Area</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_BCR_connected</name>
        <label>Is BCR connected</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Related_Frame_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.BCR0_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BCR_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_service</name>
        <label>New service</label>
        <locationX>380</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Create_Evaluation_Area_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_New_ServiceQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Duplicate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Service_is_Duplicate</name>
        <label>New Service is Duplicate</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Service_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Service_Exists_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Duplicate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing</targetReference>
            </connector>
            <label>New Service Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Frame_Agreement</name>
        <label>Related Frame Agreement</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Input_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.Related_to_Frame_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Evaluation_Area</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Maintain Evaluation Area and Service Area for closed Opportunity</description>
    <dynamicChoiceSets>
        <name>Price_Category_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Price_Category__c</picklistField>
        <picklistObject>Evaluation_Area__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusEvaluationAreaPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Evaluation_Area__c</picklistField>
        <picklistObject>Evaluation_Area__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Win_Loss_Reason_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Win_Loss_reason__c</picklistField>
        <picklistObject>Evaluation_Area__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RelatedToFrameAgreement_Formel</name>
        <dataType>String</dataType>
        <expression>{!getOpportunity.Related_to_Frame_Agreement__r.Name}</expression>
    </formulas>
    <formulas>
        <name>Sum_Weights</name>
        <dataType>Number</dataType>
        <expression>{!Weight_Price} + {!Weight_Quality_Capacity} + {!Weight_Quality_CV} + {!Weight_Quality_Other} +{!Weight_Quality_Quality}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Add default value in screen if no BCR found, Necessary for input evaluation</description>
        <name>WeightPriceDefault</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_BCR_record.Weight_Price__c} ) , 0, {!Get_BCR_record.Weight_Price__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <description>For validation in Screen</description>
        <name>WeightQCapacityDefault</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_BCR_record.Weight_Quality_Capacity__c} ) , 0, {!Get_BCR_record.Weight_Quality_Capacity__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <description>For validation in Screen</description>
        <name>WeightQCVDefault</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_BCR_record.Weight_Quality_CV__c} ) , 0, {!Get_BCR_record.Weight_Quality_CV__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <description>For validation in Screen</description>
        <name>WeightQOtherDefault</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_BCR_record.Weight_Quality_Other__c} ) , 0, {!Get_BCR_record.Weight_Quality_Other__c})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <description>For feltvalidering i Screen</description>
        <name>WeightQQualityDefault</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_BCR_record.Weight_Quality_Quality__c} ) , 0, {!Get_BCR_record.Weight_Quality_Quality__c})</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>New Service Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: New Service Area</label>
    <loops>
        <name>Loop_through_Evaluation_Area</name>
        <label>Loop through Evaluation Area</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Evaluation_Area</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Service_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Input_data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Evaluation_Area_0</name>
        <label>Create Evaluation Area</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Evaluation_Area_created</targetReference>
        </connector>
        <inputAssignments>
            <field>Competitor_Comments__c</field>
            <value>
                <elementReference>Competitor_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Category__c</field>
            <value>
                <elementReference>Price_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedtoFrameAgreement__c</field>
            <value>
                <elementReference>getOpportunity.Related_to_Frame_Agreement__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Serivce.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sopra_Steria_Hourly_Rate__c</field>
            <value>
                <elementReference>Sopra_Steria_Hourly_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Evaluation_Area__c</field>
            <value>
                <elementReference>Status_Evaluation_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Price__c</field>
            <value>
                <elementReference>Weight_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_CV__c</field>
            <value>
                <elementReference>Weight_Quality_CV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_Capacity__c</field>
            <value>
                <elementReference>Weight_Quality_Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_Other__c</field>
            <value>
                <elementReference>Weight_Quality_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_Quality__c</field>
            <value>
                <elementReference>Weight_Quality_Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_reason__c</field>
            <value>
                <elementReference>Win_Loss_reason</elementReference>
            </value>
        </inputAssignments>
        <object>Evaluation_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Evaluation_Area_0_0</name>
        <label>Create Evaluation Area</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Evaluation_Area_created</targetReference>
        </connector>
        <inputAssignments>
            <field>Competitor_Comments__c</field>
            <value>
                <elementReference>Competitor_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Category__c</field>
            <value>
                <elementReference>Price_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedtoFrameAgreement__c</field>
            <value>
                <elementReference>getOpportunity.Related_to_Frame_Agreement__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>ServiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sopra_Steria_Hourly_Rate__c</field>
            <value>
                <elementReference>Sopra_Steria_Hourly_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Evaluation_Area__c</field>
            <value>
                <elementReference>Status_Evaluation_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Price__c</field>
            <value>
                <elementReference>Weight_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_CV__c</field>
            <value>
                <elementReference>Weight_Quality_CV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_Capacity__c</field>
            <value>
                <elementReference>Weight_Quality_Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_Other__c</field>
            <value>
                <elementReference>Weight_Quality_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_Quality_Quality__c</field>
            <value>
                <elementReference>Weight_Quality_Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_reason__c</field>
            <value>
                <elementReference>Win_Loss_reason</elementReference>
            </value>
        </inputAssignments>
        <object>Evaluation_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Service_0_0</name>
        <label>Service</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignRecordIdToReference>ServiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Evaluation_Area_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Add_new_Service</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_BCR_record</name>
        <label>Get BCR record</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Frame_Agreement</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012580000002SkMAAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124I000000dEByQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BCR__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Evaluation_Area</name>
        <label>Get Evaluation Area</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Evaluation_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.Related_to_Frame_Agreement__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Evaluation_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing</name>
        <label>Get existing</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Evaluation_Area_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_new_Service</elementReference>
            </value>
        </filters>
        <object>Service__c</object>
        <outputAssignments>
            <assignToReference>ServiceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_BCR_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Duplicate</name>
        <label>Service Duplicate</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Service_is_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_new_Service</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Evaluation_Area_created</name>
        <label>Evaluation Area created</label>
        <locationX>380</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_screen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The new Evaluation Area &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Serivce.recordName}{!Add_new_Service} &lt;/b&gt;&lt;b&gt;was successfully created! &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_data</name>
        <label>Input data</label>
        <locationX>380</locationX>
        <locationY>1142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_service</targetReference>
        </connector>
        <fields>
            <name>Input</name>
            <fieldText>&lt;p&gt;Add data for your Evaluation Area&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelatedtoFrameAgreement</name>
                    <fieldText>&lt;p&gt;Related to Frame Agreement&lt;/p&gt;&lt;p&gt;{!RelatedToFrameAgreement_Formel}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getOpportunity.Related_to_Frame_Agreement__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FA_Services</name>
                    <fieldText>&lt;p&gt;Services from Frame Agreement&lt;/p&gt;&lt;p&gt;{!Services}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getOpportunity.Related_to_Frame_Agreement__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Serivce</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Screen_Flow_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_New_ServiceQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Add_New_ServiceQ</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add New Service?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Add_new_Service</name>
                    <dataType>String</dataType>
                    <fieldText>Add new Service:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_New_ServiceQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Weight_Price</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>WeightPriceDefault</elementReference>
                    </defaultValue>
                    <fieldText>Weight Price (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Sum of all Weights must be 100&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Weight_Price}+ {!Weight_Quality_Capacity}+{!Weight_Quality_Other}+ {!Weight_Quality_CV} +{!Weight_Quality_Quality} =100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Weight_Quality_Quality</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>WeightQQualityDefault</elementReference>
                    </defaultValue>
                    <fieldText>Weight Quality: Quality (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Sum of all Weights must be 100&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Weight_Price}+ {!Weight_Quality_Capacity}+{!Weight_Quality_Other}+ {!Weight_Quality_CV} +{!Weight_Quality_Quality} =100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Weight_Quality_Capacity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>WeightQCapacityDefault</elementReference>
                    </defaultValue>
                    <fieldText>Weight Quality: Capacity (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Sum of all weights must be 100&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Weight_Price}+ {!Weight_Quality_Capacity}+{!Weight_Quality_Other}+ {!Weight_Quality_CV} +{!Weight_Quality_Quality} =100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Weight_Quality_CV</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>WeightQCVDefault</elementReference>
                    </defaultValue>
                    <fieldText>Weight Quality: CV (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Sum of all weights must be 100&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Weight_Price}+ {!Weight_Quality_Capacity}+{!Weight_Quality_Other}+ {!Weight_Quality_CV} +{!Weight_Quality_Quality} =100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Weight_Quality_Other</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>WeightQOtherDefault</elementReference>
                    </defaultValue>
                    <fieldText>Weight Quality: Other (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Sum of all weights must be 100&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Weight_Price}+ {!Weight_Quality_Capacity}+{!Weight_Quality_Other}+ {!Weight_Quality_CV} +{!Weight_Quality_Quality} =100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_data_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sopra_Steria_Hourly_Rate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Sopra Steria Hourly Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Price_Category</name>
                    <choiceReferences>Price_Category_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Price Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status_Evaluation_Area</name>
                    <choiceReferences>StatusEvaluationAreaPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status Evaluation Area</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Win_Loss_reason</name>
                    <choiceReferences>Win_Loss_Reason_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Win / Loss reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Competitor_Comments</name>
                    <fieldText>Competitor Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bcrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Services</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
