force-app/main/default/flows/Opportunity_Update_Stage_Name_Priovalue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decision based on formula SetClosingDay</description>
        <name>Shouldclosingdaybeset</name>
        <label>Should Closing day be set</label>
        <locationX>1166</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Stage_is_set_to_RFI_Prequal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not</defaultConnectorLabel>
        <rules>
            <name>Set_Closing_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setClosingDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ClosING_Date</targetReference>
            </connector>
            <label>Set Closing Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_set_to_RFI_Prequal</name>
        <label>Stage is set to RFI / Prequal, Status is changed</label>
        <locationX>1490</locationX>
        <locationY>975</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RFI_Sent</name>
            <conditionLogic>1 AND 3 AND 5 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Prequal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Proposal_Due_Date_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>RFI or Prequal is Sent</label>
        </rules>
    </decisions>
    <description>Added criteria to exclude if opportunity account is blocked.</description>
    <environments>Default</environments>
    <formulas>
        <description>If the opportunity is new and in one of these stages, set closing day. If it is not new and stage changed to one of these stages, set closing day.</description>
        <name>setClosingDay</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp;
(TEXT({!$Record.StageName}) = &apos;5 - Awarded&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Won&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Lost&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Us&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Customer&apos; )) 
|| 
(ISCHANGED({!$Record.StageName}) &amp;&amp;
(TEXT({!$Record.StageName}) = &apos;5 - Awarded&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Won&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Lost&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Us&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Customer&apos; )  &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;5 - Awarded&apos; &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;Closed Won&apos; &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;Closed Lost&apos; )</expression>
    </formulas>
    <formulas>
        <name>StagePriorValue</name>
        <dataType>String</dataType>
        <expression>TEXT(Priorvalue({!$Record.StageName}))</expression>
    </formulas>
    <interviewLabel>Opportunity: Update Stage Name Priovalue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Opp: Stage or Status Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Track date for when opportunity changes to stage 5.</description>
        <name>ClosedDateawarded</name>
        <label>store stage 5 date</label>
        <locationX>922</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>Shouldclosingdaybeset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Awarded</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Date_Awarded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Not close date, but closING date.</description>
        <name>Update_ClosING_Date</name>
        <label>Update ClosING Date</label>
        <locationX>1105</locationX>
        <locationY>981</locationY>
        <connector>
            <targetReference>Stage_is_set_to_RFI_Prequal</targetReference>
        </connector>
        <inputAssignments>
            <field>Closing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1777</locationX>
        <locationY>1229</locationY>
        <inputAssignments>
            <field>Proposal_Due_Date_Time__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Stage_Name</name>
        <label>Update Prior Stage Name</label>
        <locationX>918</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>ClosedDateawarded</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName_Priorvalue__c</field>
            <value>
                <elementReference>StagePriorValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>814</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Prior_Stage_Name</targetReference>
        </connector>
        <filterFormula>{!$Record.Account.Blocked__c} = FALSE &amp;&amp;
OR(ISCHANGED({!$Record.StageName}), ISNEW()=True,
AND(ISCHANGED({!$Record.Status__c}), ISPICKVAL({!$Record.Status__c},&quot;Sent&quot;), ISBLANK({!$Record.Proposal_Due_Date_Time__c})=false,
OR(ISPICKVAL({!$Record.StageName},&quot;2 - RFI&quot;),ISPICKVAL({!$Record.StageName},&quot;3 - Prequal&quot;))
))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
