force-app/main/default/flows/Opportunity_Opportunity_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bergen_Opportunity_Awarded_Notification</name>
        <label>Bergen Opportunity Awarded Notification</label>
        <locationX>2032</locationX>
        <locationY>586</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Open_and_before_close_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>49d67524.soprasteria.com@emea.teams.ms</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>BergenOpportunityAwardedAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BergenOpportunityAwardedTeamsAlert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Bergen_Opportunity_Notification</name>
        <label>Bergen Opportunity Notification</label>
        <locationX>1383</locationX>
        <locationY>528</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Open_and_before_close_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>bergenEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>BergenOpportunityAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BergenOpportunityTeamsAlert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>DPS_Opportunity_Owner_Email</name>
        <label>DPS Opportunity Owner Email</label>
        <locationX>1379</locationX>
        <locationY>2075</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.DPS_Business_Owner__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You were added as DPS Opportunity Owner.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_DPSEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_BU_Lead_for_single_BU</name>
        <label>Set BU Lead for single BU</label>
        <locationX>1233</locationX>
        <locationY>1806</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetBU_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_DPS_Opportunity_Owner_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_amount_this_year</name>
        <label>Update amount this year</label>
        <locationX>1297</locationX>
        <locationY>1290</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_This_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_This_Year_Calculated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_BU_Auto_assign_BU_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_calculated_Amount</name>
        <label>Update calculated Amount</label>
        <locationX>1051</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_Calculated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Old_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_Calculated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_This_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_This_Year_Calculated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_BU_Auto_assign_BU_lead</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>email address for Bergen</description>
        <name>bergenEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>49d67524.soprasteria.com@emea.teams.ms</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Amount_Decisions</name>
        <label>Amount Decisions</label>
        <locationX>1443</locationX>
        <locationY>1102</locationY>
        <defaultConnector>
            <targetReference>Single_BU_Auto_assign_BU_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None of those</defaultConnectorLabel>
        <rules>
            <name>Amount_new_and_old_value_are_equals_Months_and_Consultants_are_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Consultants__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Amount_Old_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_calculated_Amount</targetReference>
            </connector>
            <label>Amount new and old value are equals. #Months and #Consultants are greater than 0</label>
        </rules>
        <rules>
            <name>Amount_is_0_and_Consultants_are_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Consultants__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_calculated_Amount</targetReference>
            </connector>
            <label>Amount is 0 and #Consultants are greater than 0</label>
        </rules>
        <rules>
            <name>Amount_and_Consultants_are_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Consultants__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_amount_this_year</targetReference>
            </connector>
            <label>Amount and Consultants are greater than 0</label>
        </rules>
        <rules>
            <name>Amount_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Consultants__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_calculated_Amount</targetReference>
            </connector>
            <label>Amount is null</label>
        </rules>
    </decisions>
    <decisions>
        <description>The value of the DPS Opportunity owner is changed.</description>
        <name>dec_DPS_Opportunity_Owner_Changed</name>
        <label>DPS Opportunity Owner Changed</label>
        <locationX>1524</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>out_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DPS_Business_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DPS_Business_Owner__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DPS_Opportunity_Owner_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_and_before_close_date</name>
        <label>Open and before close date</label>
        <locationX>1442</locationX>
        <locationY>843</locationY>
        <defaultConnector>
            <targetReference>Amount_Decisions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_currency_rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Opportunity region is Bergen and the stage is Awarded</description>
        <name>Region_Bergen_and_Stage_Awarded</name>
        <label>Region Bergen and Stage Awarded</label>
        <locationX>1711</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Open_and_before_close_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bergen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Awarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bergen_Opportunity_Awarded_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES_1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the opportunity region is Bergen and stage is not Awarded or Closed Won</description>
        <name>Region_Bergen_and_Stage_Not_Awarded_Not_Closed_Won</name>
        <label>Region Bergen and Stage Not Awarded or Closed Won</label>
        <locationX>1376</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Region_Bergen_and_Stage_Awarded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bergen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5 - Awarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bergen_Opportunity_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_BU_Auto_assign_BU_lead</name>
        <label>Single BU  -&gt; Auto-assign BU lead</label>
        <locationX>1391</locationX>
        <locationY>1624</locationY>
        <defaultConnector>
            <targetReference>dec_DPS_Opportunity_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Single_BU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBU_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BU_Lead_for_single_BU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added requirement to exclude opps with blocked accounts.</description>
    <environments>Default</environments>
    <formulas>
        <name>DesicionFormula1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.StageName} ) &amp;&amp; TEXT({!$Record.StageName}) = &apos;2 - RFI&apos; &amp;&amp; TEXT({!$Record.Status__c}) = &apos;In progress&apos;</expression>
    </formulas>
    <formulas>
        <name>DesicionFormula2</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Status__c} ) &amp;&amp; TEXT({!$Record.StageName}) = &apos;2 - RFI&apos; &amp;&amp; TEXT({!$Record.Status__c}) = &apos;Sent&apos; &amp;&amp; TEXT(PRIORVALUE({!$Record.Status__c}))=&apos;In Progress&apos;</expression>
    </formulas>
    <formulas>
        <name>DesicionFormula3</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.StageName} ) &amp;&amp; 
TEXT({!$Record.StageName}) = &apos;3 - Prequal&apos; 
&amp;&amp; TEXT({!$Record.Status__c}) = &apos;In progress&apos;</expression>
    </formulas>
    <formulas>
        <name>DesicionFormula4</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Status__c} ) &amp;&amp; TEXT({!$Record.StageName}) = &apos;3 - Prequal&apos; &amp;&amp; TEXT({!$Record.Status__c}) = &apos;Sent&apos;</expression>
    </formulas>
    <formulas>
        <name>DesicionFormula5</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.StageName} ) &amp;&amp; 
TEXT({!$Record.StageName}) = &apos;4 - Offer&apos; 
&amp;&amp; TEXT({!$Record.Status__c}) = &apos;In progress&apos;</expression>
    </formulas>
    <formulas>
        <name>frmCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>NewOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SetBU_Lead</name>
        <dataType>String</dataType>
        <expression>IF (INCLUDES({!$Record.Business_Unit__c} , &apos;APPS&apos;) , &apos;APPS&apos; , 
IF (INCLUDES({!$Record.Business_Unit__c} , &apos;DPS&apos; ), &apos;DPS&apos; , 
IF (INCLUDES({!$Record.Business_Unit__c} , &apos;Advisory&apos; ) , &apos;Advisory&apos; , 
IF (INCLUDES({!$Record.Business_Unit__c} , &apos;Biometrics&apos; ) , &apos;Biometrics&apos; , 
&apos;&apos;))))</expression>
    </formulas>
    <formulas>
        <description>Before 26.3.25 this was set only when the close date was in the future.</description>
        <name>SetClosedDate</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED({!$Record.StageName}) &amp;&amp;
(TEXT({!$Record.StageName}) = &apos;5 - Awarded&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Won&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Lost&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Us&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Customer&apos; )  &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;5 - Awarded&apos; &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;Closed Won&apos; &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;Closed Lost&apos; )</expression>
    </formulas>
    <formulas>
        <name>SetClosingDay</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp;
(TEXT({!$Record.StageName}) = &apos;5 - Awarded&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Won&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Lost&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Us&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Customer&apos; )) 
|| 
(ISCHANGED({!$Record.StageName}) &amp;&amp;
(TEXT({!$Record.StageName}) = &apos;5 - Awarded&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Won&apos; ||
TEXT({!$Record.StageName}) = &apos;Closed Lost&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Us&apos; ||
TEXT({!$Record.StageName}) = &apos;Abandoned by Customer&apos; )  &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;5 - Awarded&apos; &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;Closed Won&apos; &amp;&amp;
TEXT({!$Record__Prior.StageName}) != &apos;Closed Lost&apos; )</expression>
    </formulas>
    <formulas>
        <name>ShortDescription</name>
        <dataType>String</dataType>
        <expression>TRIM(
  LEFT($Record.Description, 1000) &amp; &quot;.....&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SingleBU_Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.Business_Unit_Count__c}  = 1 , TEXT({!$Record.BU_Lead__c}) = &quot;&quot;, TEXT({!$Record.StageName}) != &apos;0 - Planning&apos;,  TEXT({!$Record.StageName}) != &apos;1 - Possibility&apos;)</expression>
    </formulas>
    <formulas>
        <name>StageAbandoned</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.StageName}) &amp;&amp; 
(ISPICKVAL({!$Record.StageName} , &apos;Abandoned by Customer&apos;) || ISPICKVAL({!$Record.StageName} , &apos;Abandoned by Us&apos;))  &amp;&amp;
LEFT({!$Record.OwnerId}, 15)  != LEFT({!$User.Id} , 15)</expression>
    </formulas>
    <interviewLabel>Opportunity: Opportunity Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Opportunity Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1682</locationX>
        <locationY>2077</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1258</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Region_Bergen_and_Stage_Not_Awarded_Not_Closed_Won</targetReference>
        </connector>
        <filterFormula>(ISCHANGED({!$Record.Last_Created_Activity__c}) = False) &amp;&amp; {!$Record.Account.Blocked__c} = FALSE</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_currency_rate</name>
        <label>Get currency rate</label>
        <locationX>1240</locationX>
        <locationY>847</locationY>
        <connector>
            <targetReference>Amount_Decisions</targetReference>
        </connector>
        <flowName>Get_Currency_Rate</flowName>
        <inputAssignments>
            <name>CurrencyCode</name>
            <value>
                <elementReference>$Record.Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>BergenOpportunityAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ny Mulighet !</text>
    </textTemplates>
    <textTemplates>
        <name>BergenOpportunityAwardedAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ny Win!</text>
    </textTemplates>
    <textTemplates>
        <description>Sends a notification on Teams channel if the Opportunity with Region Bergen is Awarded</description>
        <name>BergenOpportunityAwardedTeamsAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bergen Opportunity has been Closed Won!
Opportunity Name: {!$Record.Name}
Opportunity Owner: {!$Record.Owner_Name__c}
Account Name: {!$Record.Account_Name__c}
Business Unit: {!$Record.Business_Unit__c}
Amount: {!$Record.Amount}
Stage: {!$Record.StageName}
Description: {!ShortDescription}</text>
    </textTemplates>
    <textTemplates>
        <description>Sends a notification on Teams channel if the Opportunity is created with Region Bergen</description>
        <name>BergenOpportunityTeamsAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new opportunity has been created for Bergen!
Opportunity Name: {!$Record.Name}
Opportunity Owner: {!$Record.Owner_Name__c}
Account name: {!$Record.Account_Name__c}
Business Unit: {!$Record.Business_Unit__c}
Amount: {!$Record.Amount}
Stage: {!$Record.StageName}
Description: {!ShortDescription}</text>
    </textTemplates>
    <textTemplates>
        <name>emailbodyTEST</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;CloseDate: {!$Record.CloseDate}&lt;/p&gt;&lt;p&gt;Number: {!number}&lt;/p&gt;&lt;p&gt;{!$Flow.CurrentDateTime}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_DPSEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.DPS_Business_Owner__r.FirstName},&lt;/p&gt;&lt;p&gt;You were added to &lt;a href=&quot;https://soprasteriasc.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this opportunity&lt;/a&gt; as the DPS Opportunity Owner.&lt;/p&gt;&lt;p&gt;mvh,&lt;/p&gt;&lt;p&gt;The Bid Office&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>2000</triggerOrder>
    <variables>
        <name>number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
