force-app/main/default/flows/Opportunity_Reminder_for_Awarded_Opportunites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Owner</name>
        <label>Email to Owner</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Owner_14_days</name>
        <label>Email to Owner</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Owner_21_Days</name>
        <label>Email to Owner</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Days_since_awarded</name>
        <label>Days since awarded</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Less or more</defaultConnectorLabel>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceAwarded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Owner</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>X14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceAwarded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Owner_14_days</targetReference>
            </connector>
            <label>14</label>
        </rules>
        <rules>
            <name>X21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceAwarded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Owner_21_Days</targetReference>
            </connector>
            <label>21</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysSinceAwarded</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.Close_Date_Awarded__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LinkToOpty</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &quot;/services&quot;, {!$Api.Partner_Server_URL_260})) &amp; &quot;lightning/r/&quot; &amp; {!$Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity: Reminder for Awarded Opportunites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Reminder for Awarded Opportunites</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Days_since_awarded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Awarded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Norway</stringValue>
            </value>
        </filters>
        <filters>
            <field>New_or_Renewal__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsContractUploaded__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-28</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>AlertManager</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h4&gt;We sent the following email to {!$Record.Owner_Name__c} because we are missing the signed contract to the Opportunity mentioned in the email below.&lt;/h4&gt;
--------------------------------------------------------------------------------------------------------------------------------
&lt;/br&gt;
&lt;/br&gt;

&lt;h3&gt;The Opportunity {!$Record.Name} has been in the stage awarded since {!$Record.Close_Date_Awarded__c}.&lt;/h3&gt;



&lt;strong&gt;Please send the signed contract to BD, so it can be archived and the opportunity closed.&lt;/strong&gt;&lt;/br&gt;&lt;/br&gt;



Opportunity: {!$Record.Name}&lt;/br&gt;

Account: {!$Record.Account_Name__c}&lt;/br&gt;

Close date: {!$Record.CloseDate}&lt;/br&gt;

Stage: {!$Record.StageName}&lt;/br&gt;&lt;/br&gt;



Link to Opportunity in Salesforce:&lt;/br&gt;

{!LinkToOpty}&lt;/BR&gt;&lt;/BR&gt;





&lt;/hr&gt;

You cannot reply to this e-mail. If you have received this notification by mistake please contact the Salesforce Admin in Sopra Steria.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>*Salesforce deadline notification* We are missing the signed contract for: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>TextBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;The Opportunity {!$Record.Name} has been in the stage awarded since {!$Record.Close_Date_Awarded__c}.&lt;/h3&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please upload the missing contract(s), so the opportunity can be closed!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Account: {!$Record.Account_Name__c}&lt;/p&gt;&lt;p&gt;Close date: {!$Record.CloseDate}&lt;/p&gt;&lt;p&gt;Stage: {!$Record.StageName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Opportunity in Salesforce:&lt;/p&gt;&lt;p&gt;{!LinkToOpty}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You cannot reply to this e-mail. If you have received this notification by mistake please contact the Salesforce Admin in Sopra Steria.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
