force-app/main/default/flows/Opportunity_Alert_BID_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_BID_Office</name>
        <label>Alert BID Office</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <actionName>Opportunity.Alert_BID_Office_Owner_when_Lead_Qualified</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_BID_Office_Owner_when_Lead_Qualified</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_New_Bid_Office_Owner</name>
        <label>Alert New Bid Office Owner</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Opportunity.Alert_BID_Office_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Qualified</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_BID_Office_owner_is_assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Bid_Office_Owner_is_assigned</name>
        <label>Bid Office Owner is assigned</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Opportunity.Alert_BID_Office_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_BID_Office_owner_is_assigned</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bid_Office_Owner_Changed</name>
        <label>Bid Office Owner Changed</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Qualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Bid_Office_owner_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BidOfficeOwnerChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_BID_office_owner_chatter_follow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Bid_Office_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stages_to_Alert_BID_Office_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Qualified</name>
        <label>Opportunity Qualified</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityQualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_BID_Office</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stages_to_Alert_BID_Office_Owner</name>
        <label>Stages to Alert BID Office Owner</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlertBIDOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BID_Owner_Chatter_Follow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AlertBIDOwner</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK( {!$Record.BID_Office_Owner__c} ) = false &amp;&amp; 
(TEXT({!$Record.StageName} ) = &apos;2 - RFI&apos; || TEXT({!$Record.StageName})  = &apos;3 - Prequal&apos; || TEXT({!$Record.StageName}) = &apos;4 - Offer&apos;)</expression>
    </formulas>
    <formulas>
        <name>BidOfficeOwnerChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!$Record.BID_Office_Owner__c} ) &amp;&amp;
ISBLANK( {!$Record.BID_Office_Owner__c} ) = false</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>OpportunityQualified</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() = false &amp;&amp;
ISBLANK( {!$Record.BID_Office_Owner__c} ) = false &amp;&amp;
{!$Record.BID_Office_Owner__r.IsActive}   = true &amp;&amp;
ISCHANGED({!$Record.StageName}) = true &amp;&amp;
(TEXT({!$Record.StageName} ) = &apos;2 - RFI&apos; || TEXT({!$Record.StageName})  = &apos;3 - Prequal&apos; || TEXT({!$Record.StageName} ) = &apos;4 - Offer&apos;)</expression>
    </formulas>
    <interviewLabel>Opportunity: BID Owner Follows and Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Alert BID Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>BID_Owner_Chatter_Follow</name>
        <label>BID Owner Chatter Follow</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Bid_Office_Owner_is_assigned</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.BID_Office_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>New_BID_office_owner_chatter_follow</name>
        <label>New BID office owner chatter follow</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Alert_New_Bid_Office_Owner</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.BID_Office_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
