force-app/main/default/flows/Opportunity_Change_of_probability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Custom_Probability_is_changed</name>
        <label>Custom Probability is changed</label>
        <locationX>1014</locationX>
        <locationY>1149</locationY>
        <defaultConnector>
            <targetReference>Update_Custom_Probability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Plus_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_has_closing_stage</name>
        <label>Opportunity has closing stage</label>
        <locationX>952</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>Probability_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Awarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Awarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Probability_to_100</targetReference>
            </connector>
            <label>Awarded</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandoned by Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandoned by Us</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Probability_to_0</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here it shows which probability field actually changes and then decides which field to update</description>
        <name>Probability_Changes</name>
        <label>Probability Changes</label>
        <locationX>947</locationX>
        <locationY>845</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>Is_New_and_stage_not_0_Planning</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0 - Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Probability_is_changed</targetReference>
            </connector>
            <label>Is New and stage not 0 - Planning</label>
        </rules>
        <rules>
            <name>Change_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unequal_Values_in_Porbability</targetReference>
            </connector>
            <label>Change Stage</label>
        </rules>
        <rules>
            <name>Change_Probability_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unequal_Values_in_Porbability</targetReference>
            </connector>
            <label>Change Probability Standard</label>
        </rules>
        <rules>
            <name>Change_Probability_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Plus_Checkbox</targetReference>
            </connector>
            <label>Change Probability Custom</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the values in the probability fields are different and then adjust the certain probability field</description>
        <name>Unequal_Values_in_Porbability</name>
        <label>Unequal Values in Porbability</label>
        <locationX>517</locationX>
        <locationY>853</locationY>
        <defaultConnector>
            <targetReference>Update_Standard_Probability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Probability</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custom_Probability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Probability</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This version added criteria that exclude opportunities from test data</description>
    <environments>Default</environments>
    <formulas>
        <name>Custom</name>
        <dataType>Boolean</dataType>
        <expression>{!Change_Probability_Custom} = true</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Opportunity: Change of probability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Opp Change of probability</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the User Record of the Owner so we can see the country that decides in which direction the flow proceeds</description>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>820</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_has_closing_stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Custom_Probability_to_0</name>
        <label>Set Custom Probability to 0</label>
        <locationX>724</locationX>
        <locationY>680</locationY>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Custom_Probability_to_100</name>
        <label>Set Custom Probability to 100</label>
        <locationX>482</locationX>
        <locationY>572</locationY>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custom_Probability</name>
        <label>Update Custom Probability</label>
        <locationX>595</locationX>
        <locationY>1217</locationY>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>$Record.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the standard probability field and also the checkbox that follows with the change</description>
        <name>Update_Standard_Plus_Checkbox</name>
        <label>Update Standard Plus Checkbox</label>
        <locationX>1202</locationX>
        <locationY>1023</locationY>
        <inputAssignments>
            <field>Custom_Probability__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>$Record.Probability__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Standard_Probability</name>
        <label>Update Standard Probability</label>
        <locationX>369</locationX>
        <locationY>868</locationY>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>$Record.Probability__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>694</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.Account.Country__c},&apos;Norway&apos;) &amp;&amp; {!$Record.Account.Blocked__c} = False &amp;&amp; {!$Record.Name} != &apos;TestDataFactoryTestOpportunity12345&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
