force-app/main/default/flows/Opportunity_Alert_and_follow_Owner_and_Account_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Account_Owner</name>
        <label>Alert Account Owner</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>Opportunity.Alert_Opportunity_alert_account_owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Opportunity_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_alert_account_owner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Assigned_0</name>
        <label>Opportunity Assigned</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <actionName>Opportunity.Alert_Opportunity_assigned_to_You</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Follow_by_new_Opportunity_Owner_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_assigned_to_You</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_new_Opportunity_Owner_assign_0_0_0</name>
        <label>Set new Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Set_Opportunity_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Set_Opportunity_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Opty_owner_not_equal_account_owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_by_Account_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Opportunity_Owner</name>
        <label>New Opportunity Owner</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Opportunity_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOpportunityOwnerFormel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Assigned_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Opty_owner_not_equal_account_owner</name>
        <label>New Opty owner not equal account owner</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>New_Opportunity_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_unequal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>user_unequal_account_owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Account_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Opportunity_Owner</name>
        <label>Manually set new Opportunity Owner</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>New_Opty_owner_not_equal_account_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_opportunity_owner_formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_by_new_Opportunity_Owner_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This version limits the initial criteria severely so that it only runs when it is new or owner fields are changed. It will not run for changes made by Jessie.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>NewOpportunityOwnerFormel</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED ( {!$Record.OwnerId} ) &amp;&amp;
LEFT({!$User.Id},15)  &lt;&gt; Left({!$Record.OwnerId},15)) ||

(ISNEW()  &amp;&amp;
{!$Record.Set_Opportunity_Owner__c} &lt;&gt; &quot;&quot; &amp;&amp;
Left({!$User.Id},15) &lt;&gt;  LEFT({!$Record.Set_Opportunity_Owner__c} ,15) )</expression>
    </formulas>
    <formulas>
        <name>Set_opportunity_owner_formula</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Set_Opportunity_Owner__c} &lt;&gt; &quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>user_unequal_account_owner</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
LEFT({!$User.Id},15)  &lt;&gt; LEFT ({!$Record.Account.Owner.Id},15)
&amp;&amp; {!$Record.Account.Owner.Id} &lt;&gt; {!$Record.OwnerId}</expression>
    </formulas>
    <interviewLabel>Opportunity: Alert and follow Owner and Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Opp Owner Follow and Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <filterFormula>AND(OR( ISCHANGED({!$Record.OwnerId}), ISCHANGED({!$Record.Account.OwnerId}), ISCHANGED({!$Record.Set_Opportunity_Owner__c}), ISNEW()),{!$User.Alias}!= &apos;Jessie&apos;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Follow_by_Account_Owner</name>
        <label>Follow by Account Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Follow_by_creator</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Follow_by_creator</name>
        <label>Follow by creator</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Opportunity_Owner</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Follow_by_new_Opportunity_Owner_0</name>
        <label>Follow by new Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Follow_by_new_Opportunity_Owner_0_0</name>
        <label>Follow by new Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Set_new_Opportunity_Owner_assign_0_0_0</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.Set_Opportunity_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
