force-app/main/default/flows/Record_triggered_Opportunity_Stage_Awarded_or_Closed_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>226</locationX>
        <locationY>923</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtOpportunityInfo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mona.wilhelmsen@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>BCR_Approved</name>
        <label>BCR Approved</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>BCRStatusTxt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_BCR.BCR1_approved__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_BCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_BCR1</name>
        <label>No BCR1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>BCRStatusTxt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>*BCR1 was not found*</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BCRFound</name>
        <label>BCRFound</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Loop_BCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_BCR1</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <description>Email alert to Finance about opportunities Awarded or Closed Lost. For evaluation</description>
    <environments>Default</environments>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;*Salesforce notification* Opportunity &quot; &amp; {!$Record.Name} &amp; &quot; has new stage: &quot; &amp; TEXT({!$Record.StageName})</expression>
    </formulas>
    <interviewLabel>Record-triggered: Opportunity-Stage Awarded or Closed Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity BCR</label>
    <loops>
        <name>Loop_BCR</name>
        <label>Loop BCR</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>BCR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BCR_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BCR</name>
        <label>BCR</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BCRFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BCR_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BCR1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BCR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BCR</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Awarded</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frame agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team tender</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed services</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtOpportunityInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Oppportunity Name:   &lt;/strong&gt;{!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt;  {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Owner: &lt;/strong&gt; {!$Record.Owner.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Bid Office Owner: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.BID_Office_Owner__r.FirstName} {!$Record.BID_Office_Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Proposal Due Date:  &lt;/strong&gt;{!$Record.Proposal_Due_Date_Time__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;BCR1 Approved: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!BCRStatusTxt}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Stage:&lt;/strong&gt; {!$Record.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Type:&lt;/strong&gt; {!$Record.Type}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Apps Owner:&lt;/strong&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Apps_Owner__r.FirstName} {!$Record.Apps_Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;BC Owner:&lt;/strong&gt; {!$Record.BC_Owner__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.BC_Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;DPS Owner: &lt;/strong&gt;{!$Record.DPS_Owner__r.FirstName} {!$Record.DPS_Owner__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Link to opportunity in Salesforce: &lt;/strong&gt;{!$Label.BaseURL}{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Link to Bid Room:  &lt;/strong&gt;{!$Record.Bid_Number__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Description:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Description}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a system generated email, it cannot be answered.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BCRStatusTxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
