force-app/main/default/flows/Record_Triggered_Lead_Internal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notification to responsible person in BU
Formula BUResponsible now uses &quot;CASE&quot; formula, input in Business Unit TXT from ServiceNOW now retrieves data from Workday instead of AD, With this there are fewer possible options and CASE formula should do better than IF formula</description>
        <name>Notify_BU_responsible</name>
        <label>Notify BU responsible</label>
        <locationX>1227</locationX>
        <locationY>717</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_handling</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>var_EmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.sc@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>frmTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>If the team leader created the lead, then they do not need an email.</description>
        <name>Created_By_Team_Lead</name>
        <label>Created By = Team Lead</label>
        <locationX>824</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>Notify_BU_responsible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Email</defaultConnectorLabel>
        <rules>
            <name>Created_by_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <label>Created by = User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unassigned_leads</name>
        <label>Unassigned leads</label>
        <locationX>1013</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Owned by someone else</defaultConnectorLabel>
        <rules>
            <name>No_BU_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_BusinessUnitNO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No BU Found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frm_BusinessUnitSE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No BU Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_handling</targetReference>
            </connector>
            <label>No BU Found</label>
        </rules>
        <rules>
            <name>Owned_by_Unassigned_Leads_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unassigned Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Name_of_User_to_Contact</targetReference>
            </connector>
            <label>Owned by Unassigned Leads Queue</label>
        </rules>
    </decisions>
    <description>When a lead is created through the internal lead form in SharePoint for Norway and Sweden, the business unit is adjusted here and the right people are notified.

This version changes the lead source to Internal Lead SE for Sweden.</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_AccountName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account__r.Name}),{!$Record.Company},{!$Record.Account__r.Name})</expression>
    </formulas>
    <formulas>
        <description>Replace input from Service NOW (BU names from Workday) with shortnames in SF. Only for Norwegian field.</description>
        <name>frm_BusinessUnitNO</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Business_Unit_TXT__c},
&apos;BU APPS Norway&apos;, &apos;Apps&apos;,
&apos;BU Advisory Norway&apos;, &apos;Advisory&apos;,
&apos;BU Business Development Norway&apos;, &apos;BD&apos;,
&apos;BU Digital Platform Services Norway&apos;, &apos;DPS&apos;,
&apos;BU Finance &amp; Administration Norway&apos;, &apos;Finance &amp; Administration &apos;,
&apos;BU HR &amp; MarCom Norway&apos;, &apos;HR &amp; MarCom &apos;,
&apos;BU Strategisk ledergruppe Norway&apos;, &apos;Strategisk ledergruppe&apos;,
&apos;No BU found&apos;)</expression>
    </formulas>
    <formulas>
        <description>Business unit formula for Sweden</description>
        <name>frm_BusinessUnitSE</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Business_Unit_TXT__c},
&apos;BU Business Value Services Sweden&apos;, &apos;BVS&apos;,
&apos;BU Management Sweden&apos;, &apos;BVS&apos;,
&apos;BU Digital Platform Services Sweden&apos;, &apos;DPS&apos;,
&apos;No BU found&apos;)</expression>
    </formulas>
    <formulas>
        <description>Change lead source to Internal Lead SE for Sweden.</description>
        <name>frm_LeadSourceSE</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Country__c}, &apos;Sweden&apos;), &apos;Internal Lead SE&apos;, &apos;Internal Lead&apos;)</expression>
    </formulas>
    <formulas>
        <name>frm_primaryCampaignSource</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Country__c}, &apos;Sweden&apos;), &apos;&apos;, {!$Label.Campaign_Internal_leads})</expression>
    </formulas>
    <formulas>
        <name>frm_SupportTicketURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL} &amp; &apos;/lightning/o/User_Support__c/list?filterName=__Recent&apos;</expression>
    </formulas>
    <formulas>
        <name>frm_UserName</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Business_Unit_TXT__c},
&apos;BU APPS Norway&apos;, &apos;Lars Petter Hoff&apos;,
&apos;BU Advisory Norway&apos;, &apos;Fredrik Hellebostad&apos;,
&apos;BU Business Development Norway&apos;, &apos;BD&apos;,
&apos;BU Digital Platform Services Norway&apos;, &apos;Rebecca Liverød&apos;,
&apos;BU Finance &amp; Administration Norway&apos;, &apos;Finance &amp; Administration &apos;,
&apos;BU HR &amp; MarCom Norway&apos;, &apos;HR &amp; MarCom &apos;,
&apos;BU Business Value Services Sweden&apos;, &apos;Benjamin Fransson&apos;,
&apos;BU Strategisk ledergruppe Norway&apos;, &apos;Strategisk ledergruppe&apos;,
&apos;BU Digital Platform Services Sweden&apos;, &apos;Amir Hantash&apos;,
&apos;No BU found&apos;)</expression>
    </formulas>
    <formulas>
        <name>frmRecordLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL} &amp; &apos;/lightning/r/Lead/&apos; &amp; {!$Record.Id} &amp; &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>frmTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Lead: An internal lead &apos; &amp; {!$Record.FirstName} &amp; &apos; &apos; &amp; {!$Record.LastName} &amp; &apos; related to your BU has been created&apos;</expression>
    </formulas>
    <interviewLabel>Record Triggered Lead Internal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Lead Internal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>look up this user based on formula.</description>
        <name>Get_Name_of_User_to_Contact</name>
        <label>Get Name of User to Contact</label>
        <locationX>986</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Created_By_Team_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_handling</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frm_UserName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_EmailRecipient</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>added business unit here. 
frm_BusinessUnit now uses &quot;CASE&quot; formula, input in Business Unit TXT from ServiceNOW now retrieves data from Workday instead of AD, With this there are fewer possible options and CASE formula should do better than IF formula.

Sweden is not using a primary campaign now so the formula is adding only norwegian leads to the campaign.</description>
        <name>Set_primary_campaign_source</name>
        <label>Primary campaign source and Business Unit</label>
        <locationX>753</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>Unassigned_leads</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_handling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Unit_SE__c</field>
            <value>
                <elementReference>frm_BusinessUnitSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>frm_BusinessUnitNO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>frm_LeadSourceSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <elementReference>frm_primaryCampaignSource</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>973</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>Set_primary_campaign_source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reported_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Add error handling</description>
        <name>Error_handling</name>
        <label>Error handling</label>
        <locationX>1413</locationX>
        <locationY>391</locationY>
        <flowName>ERROR_HANDLING</flowName>
        <inputAssignments>
            <name>moreErrorInfo</name>
            <value>
                <stringValue>Flow Record triggered Lead Internal has an error with the business unit or primary campaign. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!frmRecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Lead: {!$Record.FirstName} {!$Record.LastName}, {!frm_AccountName}, has been created.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Please assign the lead to an owner!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do not reply to this email. &lt;a href=&quot;{!frm_SupportTicketURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;For help, click New Request here.&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Get admin email list from subflow OR get email of person to alert.</description>
        <name>var_EmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
