force-app/main/default/flows/Record_Triggered_Account_Account_was_created_in_Salesforce_UI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Alert for new account that was created by standard user</description>
        <name>SendAlert</name>
        <label>Send Alert</label>
        <locationX>566</locationX>
        <locationY>762</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jessie.rymph@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>varAdminEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new account was created by user other than Integration user</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check for which user created the account.</description>
        <name>WhichUser</name>
        <label>Which user created?</label>
        <locationX>467</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>UserAdminsEmailList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other User</defaultConnectorLabel>
        <rules>
            <name>ServiceNow_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_ServiceNow_Integration_User.Id</elementReference>
                </rightValue>
            </conditions>
            <label>ServiceNow Integration User</label>
        </rules>
    </decisions>
    <description>Detect and alert when an account is created in Salesforce user interface instead og verification and test process in Service NOW</description>
    <environments>Default</environments>
    <interviewLabel>Record Triggered: Account - Account was created in Salesforce UI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Account - Account was created in Salesforce UI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ServiceNow_Integration_User</name>
        <label>Get ServiceNow Integration User</label>
        <locationX>475</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceNOW Integrationuser</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>349</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_ServiceNow_Integration_User</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>UserAdminsEmailList</name>
        <label>UserAdminsEmailList</label>
        <locationX>271</locationX>
        <locationY>691</locationY>
        <connector>
            <targetReference>SendAlert</targetReference>
        </connector>
        <flowName>UsersAdminEmailList</flowName>
        <outputAssignments>
            <assignToReference>varAdminEmailList</assignToReference>
            <name>var_AdminEmailList</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>txtBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Account: {!$Record.Name} was created by {!$Record.CreatedBy.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CreatedBy.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Link: {!$Label.BaseURL}/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This means that &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CreatedBy.FirstName} {!$Record.CreatedBy.LastName} has &apos;Create&apos; permission for the Account object.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please investigate and correct the error!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAdminEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
