force-app/main/default/flows/RecordTriggered_Account_set_Blocked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ContactUpdate</name>
        <label>ContactUpdate</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Blocked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005P1000009OuThIAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collUpdatedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpptyUpdate</name>
        <label>OpptyUpdate</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>LoopOppties.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005P1000009OuThIAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collUpdatedOppties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOppties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppties</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the checkbox field Blocked is ticked.</description>
        <name>Account_blocked</name>
        <label>Account blocked?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.To_be_blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllContacts</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Sets field &quot;Blocked&quot; = true when hidden field &quot;To Be Blocked&quot; = true. To be Blocked field i set by Flow:  
ScreenFlow:Account - Blocked account

Sharing rules triggered by filed Blocked then sets Account and related records to not available for standard user.</description>
    <environments>Default</environments>
    <formulas>
        <name>Blockeddateformula</name>
        <dataType>Date</dataType>
        <expression>TODAY ()</expression>
    </formulas>
    <interviewLabel>Record Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTriggered:Account set Blocked</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>AllContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOppties</name>
        <label>LoopOppties</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Own_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpptyUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>finUpdateOppties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AllContacts</name>
        <label>AllContacts</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Blocked__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Own_Opportunities</name>
        <label>Own Opportunities</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOppties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Final_update</name>
        <label>Final update</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Own_Opportunities</targetReference>
        </connector>
        <inputReference>collUpdatedContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>finUpdateOppties</name>
        <label>finUpdateOppties</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <inputReference>collUpdatedOppties</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Blocked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_be_blocked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_blocked</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.To_be_blocked__c}= true</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collUpdatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collUpdatedOppties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
