force-app/main/default/flows/ScreenFlow_Lead_Conversion_1_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Contact_apex</name>
        <label>Create Contact</label>
        <locationX>2593</locationX>
        <locationY>2413</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgExistingContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>frmOwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_nothing</name>
        <label>Create nothing</label>
        <locationX>2306</locationX>
        <locationY>2317</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgExistingContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>frmOwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_new_record</name>
        <label>Open new record</label>
        <locationX>1773</locationX>
        <locationY>2900</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>varURLToOpen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_and_Contact_apex</name>
        <label>Opportunity and Contact</label>
        <locationX>1909</locationX>
        <locationY>2347</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgOpportunityAndContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewOpportunity</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Only_apex</name>
        <label>Opportunity Only</label>
        <locationX>1451</locationX>
        <locationY>2326</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgOpportuity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varNewOpportunity</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>allOpportunities Get these updates</description>
        <name>allOpps</name>
        <label>AllOpps</label>
        <locationX>1247</locationX>
        <locationY>2901</locationY>
        <assignmentItems>
            <assignToReference>recOppVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmLeadDescriptionQuotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.Lead_Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Reported_By__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpp_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg1Scenario1</name>
        <label>asg1Scenario1</label>
        <locationX>50</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactAtThisAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextForNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textFoundmatchingContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextForNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textFoundmatchingContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenContactAndOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAccountId_0_0</name>
        <label>asgAccountId</label>
        <locationX>850</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varFoundAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactAtThisAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAccountId_0_0_0</name>
        <label>asgAccountId</label>
        <locationX>1238</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>varFoundAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LeadAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgExistingContact</name>
        <label>asgExistingContact</label>
        <locationX>2270</locationX>
        <locationY>2637</locationY>
        <assignmentItems>
            <assignToReference>varURLToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!varContactId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_Opportunity_and_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgOpportuity</name>
        <label>asgOpportunity</label>
        <locationX>1244</locationX>
        <locationY>2433</locationY>
        <assignmentItems>
            <assignToReference>varURLToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!varNewOpportunity}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadSource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgOpportunityAndContact</name>
        <label>asgOpportunityAndContact</label>
        <locationX>1878</locationX>
        <locationY>2524</locationY>
        <assignmentItems>
            <assignToReference>varURLToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!varNewOpportunity}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadSource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Internal Leads get these updates</description>
        <name>InteralLeadOpps</name>
        <label>InteralLeadOpps</label>
        <locationX>1419</locationX>
        <locationY>2748</locationY>
        <assignmentItems>
            <assignToReference>recOppVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Possibility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resources</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.Consultants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOppVar.BU_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>allOpps</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>chsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>cnstCreateNewContact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>cnstUseExisting</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Use existing contact</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_new_contact</name>
        <label>Create new contact?</label>
        <locationX>676</locationX>
        <locationY>1437</locationY>
        <defaultConnector>
            <targetReference>What_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not create</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booCreateNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact1</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the contact found at the account or not</description>
        <name>dec_whereContactIsFound_0</name>
        <label>Contact Found?</label>
        <locationX>392</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Same_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>At_Account_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetContactAtThisAccount</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg1Scenario1</targetReference>
            </connector>
            <label>At Account</label>
        </rules>
        <rules>
            <name>Contacts_at_other_accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_OtherAccts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subFlowDifferent_Accounts</targetReference>
            </connector>
            <label>ConsOtherAccts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the account provided before lead conversion button clicked?</description>
        <name>desAccount_Provided</name>
        <label>desAccountProvided</label>
        <locationX>1005</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, lookup account</defaultConnectorLabel>
        <rules>
            <name>Account_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgAccountId_0_0</targetReference>
            </connector>
            <label>Account provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update many values on opportunity if the lead source is internal lead.</description>
        <name>LeadSource</name>
        <label>Lead Source</label>
        <locationX>1100</locationX>
        <locationY>2691</locationY>
        <defaultConnector>
            <targetReference>allOpps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other source</defaultConnectorLabel>
        <rules>
            <name>Internal_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InteralLeadOpps</targetReference>
            </connector>
            <label>Internal Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_to_Create</name>
        <label>What to Create</label>
        <locationX>1778</locationX>
        <locationY>2210</locationY>
        <defaultConnectorLabel>Nothing Selected</defaultConnectorLabel>
        <rules>
            <name>ContactOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booCreateNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_apex</targetReference>
            </connector>
            <label>Contact Only</label>
        </rules>
        <rules>
            <name>Opportunity_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booCreateNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Only_apex</targetReference>
            </connector>
            <label>Opportunity Only</label>
        </rules>
        <rules>
            <name>Opportunity_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booCreateNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_and_Contact_apex</targetReference>
            </connector>
            <label>Opp and Contact</label>
        </rules>
        <rules>
            <name>ExistingContact_No_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>booCreateNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_nothing</targetReference>
            </connector>
            <label>Create Nothing</label>
        </rules>
    </decisions>
    <description>New version with BU as a picklist field. 
Option 1 Match found at same account - DO NOT SHOW
Option 2 Matches found at different account based on name or email
Option 3 Other people found at same account.
Option 4 one match found at different account.
Option 5 no contacts found at the same account.
Two subflows</description>
    <dynamicChoiceSets>
        <description>Get all contacts at the account into a collection choice set</description>
        <name>chsCollectionContacts</name>
        <collectionReference>getOtherContactsAtAccount</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>This formula is used to determine if the lead source is internal. If it is, then opportunity creation will default to yes.</description>
        <name>frm_defaultOpportunity</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Lead.LeadSource}, &apos;Internal Lead&apos;),{!chsYes},{!chsNo})</expression>
    </formulas>
    <formulas>
        <description>Set the opportunity stage to 1 - Possibility for Internal Leads</description>
        <name>frm_oppStage</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Lead.LeadSource},&apos;Internal Lead&apos;), &apos;1 - Possibility&apos;, &apos;0 - Planning&apos;)</expression>
    </formulas>
    <formulas>
        <name>frmAccountFound</name>
        <dataType>String</dataType>
        <expression>IF({!Lead.Account__c}=&quot;&quot; &amp;&amp; {!varFoundAccountId}=&quot;&quot;,&quot;No account found matching &quot; + {!Lead.Company}+&quot;. Search for it here.&quot;, 
IF({!varFoundAccountId}!=&quot;&quot;, &quot;Is this the correct account?&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>frmAllContactErrors</name>
        <dataType>String</dataType>
        <expression>&apos;one&apos;</expression>
    </formulas>
    <formulas>
        <name>frmConfirmCreateOpp</name>
        <dataType>Boolean</dataType>
        <expression>IF({!pckCreateOpp}=&apos;Yes&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>frmCreatedItems</name>
        <dataType>String</dataType>
        <expression>IF(OR({!booCreateNewContact}=true,{!varNewOpportunity}!=&apos;&apos;),

&apos;We created &apos;  + IF({!booCreateNewContact}=true, &apos; a contact &apos;,&apos;&apos;) + IF(AND({!booCreateNewContact}=true, {!varNewOpportunity}!=&apos;&apos;)  , &apos; and &apos; ,&apos;&apos;) +  IF({!varNewOpportunity}!=&apos;&apos;, &apos;an Opportunity&apos;,&apos;&apos;) + &apos; for you. Click Next to open the &apos; + IF({!varNewOpportunity}!=&apos;&apos;, &apos;Opportunity.&apos;,&apos;Contact.&apos;),
&apos;You chose not to create any new record. Click Next to continue to the Contact you merged into.&apos;)</expression>
    </formulas>
    <formulas>
        <description>remove double quotes from description because it breaks in Share Point if there are double quotes.</description>
        <name>frmLeadDescriptionQuotes</name>
        <dataType>String</dataType>
        <expression>IF({!Lead.Reported_By__c} != &quot;&quot;, &quot;Lead reported by: &quot; &amp; {!Lead.Reported_By__r.Name}&amp; BR(),&quot;&quot;)  &amp;
SUBSTITUTE({!Description},&apos;&quot;&apos;,&quot;&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <description>if the lead owner is inactive, assign current user. otherwise, use owner of the lead.</description>
        <name>frmOwnerId</name>
        <dataType>String</dataType>
        <expression>IF(OR({!varActiveOwner}=&quot;&quot;,ISNULL({!varActiveOwner})),{!$User.Id},{!varActiveOwner})</expression>
    </formulas>
    <interviewLabel>ScreenFlow Lead Conversion 1/3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow Lead Conversion 1/3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>change to find AccountId from varFoundAccountId instead of from Lead record.</description>
        <name>Create_New_Contact1</name>
        <label>Create Contact</label>
        <locationX>1166</locationX>
        <locationY>1424</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>What_to_Create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailInput.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameInput</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <description>People matching by email, name or account.</description>
        <name>ContactsAtOtherAccounts</name>
        <label>Contacts At Other Account</label>
        <locationX>628</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_whereContactIsFound_0</targetReference>
        </connector>
        <filterLogic>((1 and 4) OR (2 AND 3)) and NOT 5</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>coll_OtherAccts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Look up account based on the company name field on the lead.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1390</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindMatchingAccount</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Lead.Company</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varFoundAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>See if owner is currently active. If they are not, then we need a different owner. If the owner is Temp Owner, we also need a different owner. the ownerId if found here is assigned to VarActiveOwner. Using a formula, the owner is assigned to current user if varactiveOwner is empty.</description>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>1371</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desAccount_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Temp Owner</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varActiveOwner</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get contacts only from the account.</description>
        <name>GetContactAtThisAccount</name>
        <label>Contact At this Account</label>
        <locationX>488</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactsAtOtherAccounts</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get contacts to include in record choice set.</description>
        <name>getOtherContactsAtAccount</name>
        <label>XXXXgetOtherContactsAtAccount</label>
        <locationX>993</locationX>
        <locationY>845</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>1338</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>The apex is not correctly setting the contact owner so we will set it here.</description>
        <name>upd_ContactOwner</name>
        <label>updateContactOwner</label>
        <locationX>1650</locationX>
        <locationY>2815</locationY>
        <connector>
            <targetReference>Created_Opportunity_and_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>If they looked up an account in the flow, update the lead&apos;s Account so the conversion process will work.</description>
        <name>Update_LeadAccount</name>
        <label>Update Lead Account</label>
        <locationX>1072</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>GetContactAtThisAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the opportunity uses values from the assignment.</description>
        <name>UpdateOpp_0</name>
        <label>Update Opportunity</label>
        <locationX>1537</locationX>
        <locationY>2900</locationY>
        <connector>
            <targetReference>upd_ContactOwner</targetReference>
        </connector>
        <inputReference>recOppVar</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>817</locationX>
        <locationY>1279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No, go back</backButtonLabel>
        <connector>
            <targetReference>Create_new_contact</targetReference>
        </connector>
        <fields>
            <name>dspConfirmScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Is this correct?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>togCreateNewContact</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create New Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>booCreateNewContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>togCreateOpp</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create New Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>frmConfirmCreateOpp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dsp_CreateOppConfirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;Are you sure do not want an opportunity on this internal lead? Click &quot;No, go back&quot; to change your choice.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead.LeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Internal Lead</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>frmConfirmCreateOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Correct</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Created_Opportunity_and_Contact</name>
        <label>Created Opportunity and Contact</label>
        <locationX>1938</locationX>
        <locationY>2777</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_new_record</targetReference>
        </connector>
        <fields>
            <name>imgFinished</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ConvertLead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Created_Opportunity_and_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Created_Opportunity_and_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtAccount</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtContact</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtOpportunity</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Created_Opportunity_and_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Created_Opportunity_and_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspAccount</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!Lead.Account__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspNewContact</name>
                    <fieldText>&lt;p&gt;{!varContactFirstName} {!varContactLastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspOpportunity</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!OpportunityName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>pckCreateOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chsYes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OpportunityName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dspNoOpporunity</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;None&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>pckCreateOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chsNo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!frmCreatedItems}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errApex</name>
        <label>Error</label>
        <locationX>1658</locationX>
        <locationY>2482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errMsgApex</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Sorry, something went wrong&lt;/strong&gt; during creation of Account or Opportunity.&lt;/p&gt;&lt;p&gt;System adminisntrator has been alerted.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The user can look up the account or confirm that the flow found the correct one.</description>
        <name>FindMatchingAccount</name>
        <label>Find Matching Account</label>
        <locationX>1389</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgAccountId_0_0_0</targetReference>
        </connector>
        <fields>
            <name>FindMatchingAccount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FindMatchingAccount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <fieldText>&lt;p&gt;{!frmAccountFound}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Screen_Flow_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varFoundAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dspLinkToServiceNow</name>
                    <fieldText>&lt;p&gt;{!textTempUrlToServiceNow}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountLookup.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Lead.Account__r.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenContactAndOpp</name>
        <label>Create New Contact And/or Opportunity</label>
        <locationX>402</locationX>
        <locationY>1279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <fields>
            <name>displayTextResult</name>
            <fieldText>&lt;p&gt;{!varDisplayTextForNewContact}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenContactAndOpp_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenContactAndOpp_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dsp_AccountName</name>
                    <fieldText>&lt;p&gt;Account: {!varAccountName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FirstNameInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LastNameInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmailInput</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Lead.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>booCreateNewContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenContactAndOpp_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenContactAndOpp_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_Opportunity</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Opportunity&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>pckCreateOpp</name>
            <choiceReferences>chsYes</choiceReferences>
            <choiceReferences>chsNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>frm_defaultOpportunity</elementReference>
            </defaultValue>
            <fieldText>Create an opportunity?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screenContactAndOpp_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenContactAndOpp_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dsp_createOppconfirmtext</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Are you sure do not want an opportunity on this internal lead? &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>frmConfirmCreateOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Lead.LeadSource</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Internal Lead</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OpportunityName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Lead_Subject__c</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Description</elementReference>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LookupOwner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Screen_Flow_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>frmOwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pckCreateOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chsYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>948</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Same_Account</name>
        <label>Same Account</label>
        <locationX>595</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>screenContactAndOpp</targetReference>
        </connector>
        <flowName>Lead_Conversion_Subflow_Same_Account</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountName</name>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>booCreateNewContact</assignToReference>
            <name>booCreateNewContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFoundAccountId</assignToReference>
            <name>varAccountId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactFirstName</assignToReference>
            <name>varFirstName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactLastName</assignToReference>
            <name>varLastName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDisplayTextForNewContact</assignToReference>
            <name>varDisplayTextOutbound</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>subFlowDifferent_Accounts</name>
        <label>Matches at Different Accounts</label>
        <locationX>395</locationX>
        <locationY>1057</locationY>
        <connector>
            <targetReference>screenContactAndOpp</targetReference>
        </connector>
        <flowName>Lead_ConversionDifftAccounts</flowName>
        <inputAssignments>
            <name>collContactsAtOtherAccount</name>
            <value>
                <elementReference>coll_OtherAccts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recVarLead</name>
            <value>
                <elementReference>Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountName</name>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>booCreateNewContact</assignToReference>
            <name>booCreateNewContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead</assignToReference>
            <name>recVarLead</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFoundAccountId</assignToReference>
            <name>varAccountId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <name>varAccountName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactFirstName</assignToReference>
            <name>varContactFirstName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactLastName</assignToReference>
            <name>varContactLastName</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>text_searchContactAtAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>See all contacts at {!varAccountName}.</text>
    </textTemplates>
    <textTemplates>
        <name>textFoundmatchingContact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;We found a matching contact at {!varAccountName}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTempUrlToServiceNow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://alfred.service-now.com/x/ssasi/customer-registration/customer-req/prospect&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;If no matching Account can be found, go here to create a new Account in ServiceNow.&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>booCreateNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>collection of contacts found at other accounts. This goes into a grid.</description>
        <name>coll_OtherAccts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Opportunity to update at the end</description>
        <name>recOppVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>this is the Lead that is being converted. value passed in from the lead conversion button.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>If variable is null, the owner is not active and we need a new owner for the converted records.</description>
        <name>varActiveOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Lead.FirstName</elementReference>
        </value>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Lead.LastName</elementReference>
        </value>
    </variables>
    <variables>
        <description>Display this text on the Create New Contact and or opportunity screen. Set in assignment with text template. Also takes input from Same Account sublfow</description>
        <name>varDisplayTextForNewContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFoundAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>1 Match found at same account
2 Multiple Matches found at different account based on name or email
3 Other people found at same account.
4 One match found at different account
5 no matches anywhere, and no contacts found at same account.</description>
        <name>varSCENARIO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varURLToOpen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
