force-app/main/default/flows/Screen_UpdateMyOldOpps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Alert_Jessie</name>
        <label>Alert Jessie</label>
        <locationX>854</locationX>
        <locationY>1436</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Final</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jessie.rymph@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>textTemplate_AlertJessie</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hurray!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_admin_email</name>
        <label>Send admin email</label>
        <locationX>638</locationX>
        <locationY>1231</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Alert_Jessie</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>txt_emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Feedback on Update My Old Opps Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FeedbackEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>1210</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>var_OppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughChanges.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughChanges.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collvar_opp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OppRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughChanges.pckType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppRecord.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughChanges.NOBusiness_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppRecord.Contract_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughChanges.Contract_CategoryBrokerProjRes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughChanges</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chs_change</name>
        <choiceText>Change to an active call off or contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change to an active call off or contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>chs_newCallOff</name>
        <choiceText>New call off (Agreement on existing contract)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New call off (Agreement on existing contract)</stringValue>
        </value>
    </choices>
    <choices>
        <name>chsNewContract</name>
        <choiceText>New contract (not connected to framework/capacity agreement)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New contract (not connected to framework/capacity agreement)</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_future_date</name>
        <label>Future or past date</label>
        <locationX>975</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Assignment_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Date in future</defaultConnectorLabel>
        <rules>
            <name>Date_in_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughChanges.CloseDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughChanges</targetReference>
            </connector>
            <label>Date in past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_feedback</name>
        <label>Is there feedback</label>
        <locationX>834</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Alert_Jessie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Let_us_know</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEmails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Contract category was incorrectly updating Contact Type field. The contract category is now required at stage 4. Includes different contract category picklists for each Type.</description>
    <dynamicChoiceSets>
        <name>chs_ContactCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chsBusinessUnit</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Unit__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>choice of Swedish business unit field</description>
        <name>chsSEBU</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Unit_SE__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chsType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>14 days ago</description>
        <name>frm_14daysAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-14</expression>
    </formulas>
    <formulas>
        <name>frm_LinkToOpp</name>
        <dataType>String</dataType>
        <expression>Left({!$Api.Enterprise_Server_URL_100}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_100})) &amp; &quot;/&quot;</expression>
    </formulas>
    <formulas>
        <name>frmUserCountry</name>
        <dataType>String</dataType>
        <expression>{!$User.Country}</expression>
    </formulas>
    <interviewLabel>Screen_UpdateMyOldOpps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen_UpdateMyOldOpps</label>
    <loops>
        <name>LoopThroughChanges</name>
        <label>LoopThroughChanges</label>
        <locationX>799</locationX>
        <locationY>398</locationY>
        <collectionReference>oppRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_future_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_My_Opportunities</name>
        <label>Get My Opportunities</label>
        <locationX>740</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>My_Open_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>frm_14daysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>5 - Awarded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>862</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Is_there_feedback</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>collvar_opp</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>442</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 3, 3);&quot;&gt;Uh oh! It looks like one of the opportunities you changed requires additional information. Most likely you need contract category, which &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;is required from stage 4, except for the types &apos;Frame agreement&apos; and &apos;Capacity agreement&apos;, or renewals in Sweden.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 3, 3);&quot;&gt;Please go back, click through your opportunities and make adjustments. Then submit again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final</name>
        <label>Final</label>
        <locationX>728</locationX>
        <locationY>1423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dspThanks</name>
            <fieldText>&lt;p&gt;Tusen takk! &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Trying /{!Get_My_Opportunities[$EachItem].Id} as the link on the opportunity record</description>
        <name>My_Open_Opps</name>
        <label>My Open Opps</label>
        <locationX>1001</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopThroughChanges</targetReference>
        </connector>
        <fields>
            <name>dsp_ScreenExplanation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please update the outdated close dates on these opportunities! You may have to enter new required fields as well. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>oppRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>oppName</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Name: {!Get_My_Opportunities[$EachItem].Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Account: {!Get_My_Opportunities[$EachItem].Account_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Stage: {!Get_My_Opportunities[$EachItem].StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Amount: kr {!Get_My_Opportunities[$EachItem].Amount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Link: &lt;/span&gt;&lt;a href=&quot;/{!Get_My_Opportunities[$EachItem].Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <fields>
                <name>CloseDate</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_My_Opportunities[$EachItem].CloseDate</elementReference>
                </defaultValue>
                <fieldText>Close Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <validationRule>
                    <errorMessage>&lt;p&gt;Change the date to today or later, OR click the remove button to avoid updating this opportunity.&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!oppRepeater.AllItems[$EachItem].CloseDate} &gt;= {!$Flow.CurrentDate}</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>NOBusiness_Unit</name>
                <choiceReferences>chsBusinessUnit</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_My_Opportunities[$EachItem].Business_Unit__c</elementReference>
                </defaultValue>
                <fieldText>Business Unit</fieldText>
                <fieldType>MultiSelectPicklist</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>0 - Planning</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>frmUserCountry</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>Sweden</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>SEBusiness_Unit</name>
                <choiceReferences>chsSEBU</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_My_Opportunities[$EachItem].Business_Unit_SE__c</elementReference>
                </defaultValue>
                <fieldText>Business Unit</fieldText>
                <fieldType>MultiSelectPicklist</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>frmUserCountry</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sweden</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>0 - Planning</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>pckType</name>
                <choiceReferences>chsType</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_My_Opportunities[$EachItem].Type</elementReference>
                </defaultValue>
                <fieldText>Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Contract_CategoryBrokerProjRes</name>
                <choiceReferences>chs_ContactCategory</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_My_Opportunities[$EachItem].Contract_Category__c</elementReference>
                </defaultValue>
                <fieldText>Contract Category</fieldText>
                <fieldType>DropdownBox</fieldType>
                <helpText>&lt;p&gt;Contract category is required from stage 4, except for the types &apos;Frame agreement&apos; and &apos;Capacity agreement&apos;&lt;/p&gt;&lt;p&gt;or for Renewals in Sweden.&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>(1 or 5 or 6) AND (2 or 3) and 4</conditionLogic>
                    <conditions>
                        <leftValueReference>oppRepeater.AllItems[$EachItem].pckType</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Broker</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>4 - Offer</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>5 - Awarded</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].New_or_Renewal__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>Renewal</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>oppRepeater.AllItems[$EachItem].pckType</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Resources</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>oppRepeater.AllItems[$EachItem].pckType</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Project</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Contract_CategoryAgreement</name>
                <choiceReferences>chsNewContract</choiceReferences>
                <dataType>String</dataType>
                <defaultSelectedChoiceReference>chsNewContract</defaultSelectedChoiceReference>
                <fieldText>Contract Category</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>1 AND ( 2 or 3) AND 4</conditionLogic>
                    <conditions>
                        <leftValueReference>oppRepeater.AllItems[$EachItem].pckType</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>agreement</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>4 - Offer</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>5 - Awarded</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].New_or_Renewal__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>Renewal</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Contract_CategoryManagedServices</name>
                <choiceReferences>chsNewContract</choiceReferences>
                <choiceReferences>chs_newCallOff</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_My_Opportunities[$EachItem].Contract_Category__c</elementReference>
                </defaultValue>
                <fieldText>Contract Category</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                    <conditions>
                        <leftValueReference>oppRepeater.AllItems[$EachItem].pckType</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Managed services</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>4 - Offer</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>5 - Awarded</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].New_or_Renewal__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>Renewal</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Contract_CategoryManagedServicesAddOn</name>
                <choiceReferences>chs_change</choiceReferences>
                <choiceReferences>chs_newCallOff</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_My_Opportunities[$EachItem].Contract_Category__c</elementReference>
                </defaultValue>
                <fieldText>Contract Category</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>4 - Offer</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].StageName</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>5 - Awarded</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_My_Opportunities[$EachItem].New_or_Renewal__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>Renewal</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>oppRepeater.AllItems[$EachItem].pckType</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Managed Services Add-On</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_My_Opportunities</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dsp_feedback</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Great! Do you have any feedback on this form?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Let_us_know</name>
            <dataType>String</dataType>
            <fieldText>Let us know!</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finalize changes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>673</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_My_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetEmails</name>
        <label>GetEmails</label>
        <locationX>667</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Send_admin_email</targetReference>
        </connector>
        <flowName>UsersAdminEmailList</flowName>
        <outputAssignments>
            <assignToReference>txt_emailList</assignToReference>
            <name>var_AdminEmailList</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>FeedbackEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$User.FirstName} {!$User.LastName} has this feedback on the update my old opps flow:&lt;/p&gt;&lt;p&gt;{!Let_us_know}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplate_AlertJessie</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName} updated their old opps!</text>
    </textTemplates>
    <variables>
        <name>collvar_opp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>txt_emailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
