force-app/main/default/flows/Screen_Contract_Fix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>dec_Delete_Account_Contract_Archive_Junction</name>
        <label>Delete Junction Object</label>
        <locationX>314</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>dec_Delete_Contract_Archive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not delete</defaultConnectorLabel>
        <rules>
            <name>outcome_Delete_junction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chk_deleteJunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Junction</targetReference>
            </connector>
            <label>Delete Junction Object</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Delete_Contract_Archive</name>
        <label>Delete Contract Archive</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not delete</defaultConnectorLabel>
        <rules>
            <name>outcome_Delete_contractArchive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chk_Do_you_want_to_delete_the_contract_archive_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContractArchive</targetReference>
            </connector>
            <label>Delete Contract Archive</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_doAnything</name>
        <label>Do anything else</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>outcome_Delete_something</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>chk_deleteJunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chk_Do_you_want_to_delete_the_contract_archive_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Id</targetReference>
            </connector>
            <label>Delete something</label>
        </rules>
    </decisions>
    <description>Display this screen flow on an opportunity that needs a contract fix! Also remove call of contract</description>
    <environments>Default</environments>
    <interviewLabel>Screen Contract Fix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Contract Fix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Junction</name>
        <label>Delete Junction</label>
        <locationX>50</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>dec_Delete_Contract_Archive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_display</targetReference>
        </faultConnector>
        <inputReference>Get_Contract_Junction_Object</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteContractArchive</name>
        <label>Delete Contract Archive</label>
        <locationX>50</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Junction_Object.Contract_Archive__c</elementReference>
            </value>
        </filters>
        <object>Contract_Archive__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>330</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Junction_Object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Junction_Object</name>
        <label>Get Contract Junction Object</label>
        <locationX>188</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Delete_Account_Contract_Archive_Junction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Contract_Archive_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>633</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>dec_doAnything</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Off_Contract__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractServiceNowUrl__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Lookup__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsContractSent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsContractUploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Contract_Fix</name>
        <label>Contract Fix</label>
        <locationX>842</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <fields>
            <name>contractFix</name>
            <fieldText>&lt;p&gt;Ready to reset the opportunity?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;These fields will be cleared:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Is contract sent?&lt;/li&gt;&lt;li&gt;Is contract uploaded?&lt;/li&gt;&lt;li&gt;Contract Service Now URL&lt;/li&gt;&lt;li&gt;Connected Contract&lt;/li&gt;&lt;li&gt;Calloff Contract&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chk_deleteJunction</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to delete the Contract Archive Junction Object?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chk_Do_you_want_to_delete_the_contract_archive_record</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to delete the contract archive record?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>DoneScreen</label>
        <locationX>266</locationX>
        <locationY>1497</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayTextDone</name>
            <fieldText>&lt;p&gt;Done.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_display</name>
        <label>error display</label>
        <locationX>495</locationX>
        <locationY>1289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errordisplaytext</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Contract_Fix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityrecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
