force-app/main/default/flows/Screen_flow_Employees_List_users_who_left_S2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_info</name>
        <label>Send email info</label>
        <locationX>352</locationX>
        <locationY>1922</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Finish_w_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varAdminEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce-brukere som ikke ble funnet i AD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>adds Employees who quitted to collection</description>
        <name>asgQuit</name>
        <label>asgQuit</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Loop_Employees.Quit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collQuit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_not_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>704</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CountFIlteredList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_based_on_email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgQuit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Terminated_Users</name>
        <label>Count Terminated Users</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varTerminatedEmployees</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Terminated_Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcsMore_than_200_terminated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inactive_Users</name>
        <label>Inactive Users</label>
        <locationX>572</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>txtSingle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frmUsersList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Employees</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter all User records entering the loop by matching the email address from employee list</description>
        <name>filter_based_on_email</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter based on email</label>
        <locationX>704</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_filter_based_on_email</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_based_on_email.Username</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Employees.Email__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Collection_not_0</name>
        <label>Collection&gt;0</label>
        <locationX>704</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountFIlteredList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Users</targetReference>
            </connector>
            <label>FoundRecords</label>
        </rules>
    </decisions>
    <decisions>
        <description>If more than 200 employees are tagged as terminated, it is likely that the date limit for the search is incorrect.</description>
        <name>dcsMore_than_200_terminated</name>
        <label>More than 200 terminated</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 200</defaultConnectorLabel>
        <rules>
            <name>More_than_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTerminatedEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>User_management_flow</targetReference>
            </connector>
            <label>More than 200</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>484</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Finish_w_o_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_send_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_email_to_user_admins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserAdminEmailList</targetReference>
            </connector>
            <label>Do send email</label>
        </rules>
    </decisions>
    <description>Removed hardcoded emails.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmNotUpdatedSince</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1</expression>
    </formulas>
    <formulas>
        <name>frmTrimText</name>
        <dataType>String</dataType>
        <expression>LEFT({!txtSingle}, LEN({!txtSingle})-0)</expression>
    </formulas>
    <formulas>
        <name>frmUsersList</name>
        <dataType>String</dataType>
        <expression>{!Loop_Employees.Name} &amp; &quot; (&quot; &amp; {!Loop_Employees.Email__c} &amp;&quot;)  -   &quot; &amp;  TRIM(MID( {!Loop_Employees.Business_Unit__c},FIND(&quot; &quot;, {!Loop_Employees.Business_Unit__c}),20)) &amp; BR()</expression>
    </formulas>
    <interviewLabel>Screen flow: Employees - Alert admins of users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen flow: Employees - List users who left S2</label>
    <loops>
        <description>Loop records from the Collection Variable- Get_Users</description>
        <name>Loop_Employees</name>
        <label>Loop Employees</label>
        <locationX>484</locationX>
        <locationY>674</locationY>
        <collectionReference>Terminated_Employee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_based_on_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Users_to_be_deactivated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get all active users who haven&apos;t logged in for last 90 days</description>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terminated_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get employees from the employee object that were not recently modified</description>
        <name>Terminated_Employee</name>
        <label>Get terminated employees</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Terminated_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Last_Upload_Before</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets &quot;Quit&quot; = true for collection</description>
        <name>updQuit</name>
        <label>updQuit</label>
        <locationX>484</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <inputReference>collQuit</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish_w_email</name>
        <label>Finish w/ email</label>
        <locationX>352</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_w_email</name>
            <fieldText>&lt;p&gt;Flow finished. email sent to SF Admins&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_w_o_email</name>
        <label>Finish w/o email</label>
        <locationX>616</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_w_o_email</name>
            <fieldText>&lt;p&gt;Flow finished, no email was sent to SF Admins. You may execute the flow again if you want to send emails.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_management_flow</name>
        <label>User management flow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Info</name>
            <fieldText>&lt;p&gt;Click Next to search for users who left Sopra Steria and still have an active Salesforce User&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you last data import to employees was &lt;strong&gt;more than&lt;/strong&gt; the defalut value of &lt;strong&gt;24 hours&lt;/strong&gt; ago, change value for Last Update Before to reflect this&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Upload_Before</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>frmNotUpdatedSince</elementReference>
            </defaultValue>
            <fieldText>Last Upload Before</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>warning_over200</name>
            <fieldText>&lt;p&gt;Your selection (based on the Date/Time you selected for &quot;Last Update Before&quot; are {!varTerminatedEmployees}  records. &lt;/p&gt;&lt;p&gt;This high number indicates that your selection may be wrong. Please verify the date and try again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varTerminatedEmployees</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>200.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Users_to_be_deactivated</name>
        <label>Users to be deactivated</label>
        <locationX>484</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updQuit</targetReference>
        </connector>
        <fields>
            <name>Llist</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thes following user(s) have left the company last month, and still have an active Salesforce user:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!txtSingle}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please verify status of users in AD and deactivate users.&lt;/p&gt;&lt;p&gt;Email will be sent to Salesforce user admins. If you don&apos;t want to send an email. please deselect checkbox below!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_email_to_user_admins</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send email to user admins?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_management_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>UserAdminEmailList</name>
        <label>UserAdminEmailList</label>
        <locationX>352</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Send_email_info</targetReference>
        </connector>
        <flowName>UsersAdminEmailList</flowName>
        <outputAssignments>
            <assignToReference>varAdminEmailList</assignToReference>
            <name>varAdminProductOwnerList</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hei!&lt;/p&gt;&lt;p&gt;Nedenfor er en liste over Salesforce-brukere som ser ut til å ha sluttet i Sopra Steria i løpet av siste måned, uten at Salesforce-kontoen har blitt deaktivert.&lt;/p&gt;&lt;p&gt;Identifiseringen er gjort ved sammenligning av epostadresse i AD og brukernavn i Salesforce, og ansattnummer fra HR. Hvis en bruker har ikke-standard epostadresse eller brukernavn eller ansattnummeret er endret, vil brukeren derfor komme med i denne listen selv om brukeren ikke har sluttet.&lt;/p&gt;&lt;p&gt;Derfor bør navnene i listen&lt;strong&gt; &lt;/strong&gt;sjekkes manuelt&lt;strong&gt; &lt;/strong&gt;før brukeren deaktiveres i Salesforce.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Liste over personer som må sjekkes:&lt;/p&gt;&lt;p&gt;{!txtSingle}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collQuit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>CountFIlteredList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_filter_based_on_email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>txtSingle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAdminEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTerminatedEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
