force-app/main/default/flows/ScreenFlow_Account_Before_merging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>rcdLogDetails</name>
        <label>rcdLogDetails</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rcdOpportunityLog.OpportunityId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpportunities_to_merge.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdOpportunityLog.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdOpportunityLog.New_AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Master_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Opportunities</name>
        <label>Updated Opportunities</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>collOpprtunityLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdOpportunityLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOpportunities_to_merge</targetReference>
        </connector>
    </assignments>
    <description>Run before merging of accounts. Creates log entries for the connected Opportunities, The log is used to re-align the Opportunities in Service NOW</description>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: Account - Before merging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Account - Before merging</label>
    <loops>
        <name>loopOpportunities_to_merge</name>
        <label>Opportunities to merge</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Opportunities_to_merge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rcdLogDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Log_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Account log record for the merged opportunity</description>
        <name>Create_Account_Log_Record</name>
        <label>Create Account Log Record</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <faultConnector>
            <targetReference>Error_on_Account_log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Master_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_to_Merge__c</field>
            <value>
                <elementReference>Account_to_merge.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <stringValue>Merge</stringValue>
            </value>
        </inputAssignments>
        <object>AccountLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Log_Records</name>
        <label>Create Opportunity Log Records</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_Account_Log_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_Create</targetReference>
        </faultConnector>
        <inputReference>collOpprtunityLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opportunities_to_merge</name>
        <label>Opportunities to merge</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOpportunities_to_merge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_Search</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_to_merge.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Before_merging_account</name>
        <label>Before merging account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunities_to_merge</targetReference>
        </connector>
        <fields>
            <name>Caution</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This flow must be executed before merging accounts!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The flow creates Log entries to identify deleted account. Logs are used to process the deleted records in Service NOW and realign opportunities to the merged account.&lt;/p&gt;&lt;p&gt;If you want to merge several accouns, you need to execute the flow once &lt;strong&gt;for every account&lt;/strong&gt; that will be merged.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Master_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Master Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Screen_Flow_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_to_merge</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account to merge</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Screen_Flow_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;This process must be run before you merge accounts that have related opportunities.&lt;/p&gt;&lt;p&gt;Process identifies opportunities that need to be updated in Service NOW after the merge.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_on_Account_log</name>
        <label>Error on Account log</label>
        <locationX>440</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Account_log_error</name>
            <fieldText>&lt;p&gt;Sorry: Your flow failed with this error message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_on_Create</name>
        <label>Error on Create</label>
        <locationX>704</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errMsg</name>
            <fieldText>&lt;p&gt;Sorry: Your flow failed with this error message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_on_Search</name>
        <label>Error on Search</label>
        <locationX>968</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errMsgSearch</name>
            <fieldText>&lt;p&gt;Sorry: Your flow failed with this error message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Before_merging_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collOpprtunityLog</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLog__c</objectType>
    </variables>
    <variables>
        <name>rcdOpportunityLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLog__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMasterAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
