force-app/main/default/flows/Screen_flow_License_count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgCountAdvisory</name>
        <label>asgCountAdvisory</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varUsersAdvisory</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fltAdvisory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fltDPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgCountAll</name>
        <label>asgCountAll</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varCountAll</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fltApps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgCountApps</name>
        <label>asgCountApps</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varUsersApps</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fltApps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fltSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgCountBD</name>
        <label>asgCountBD</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>varUsersBD</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fltBD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fltOther</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgCountDPS</name>
        <label>asgCountDPS</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>varUsersDPS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fltDPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fltBD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgCountOther</name>
        <label>asgCountOther</label>
        <locationX>182</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>varUsersOther</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fltOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fltLastLogin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgCountSE</name>
        <label>asgCountSE</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varUsersSE</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fltSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fltAdvisory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgUserId</name>
        <label>asgUserId</label>
        <locationX>182</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tblLastLogin.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Selected</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>fltAdvisory</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fltAdvisory</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <assignNextValueToReference>currentItem_fltAdvisory_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Country</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Sweden</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Advisory</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asgCountAdvisory</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>fltApps</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fltApps</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_fltApps</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fltApps.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>APPS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltApps.Country</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Sweden</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asgCountApps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>fltBD</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fltBD</label>
        <locationX>182</locationX>
        <locationY>1970</locationY>
        <assignNextValueToReference>currentItem_fltAdvisory_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Country</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Sweden</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Business Development</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asgCountBD</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>fltDPS</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fltDPS</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <assignNextValueToReference>currentItem_fltAdvisory_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Country</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Sweden</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>DPS</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asgCountDPS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>fltLastLogin</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fltLastLogin</label>
        <locationX>182</locationX>
        <locationY>2402</locationY>
        <assignNextValueToReference>currentItem_fltLastLogin</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fltLastLogin.LastLoginDate</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>frmLastLoginPeriod</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>sortLastLogin</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>fltOther</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fltOther</label>
        <locationX>182</locationX>
        <locationY>2186</locationY>
        <assignNextValueToReference>currentItem_fltAdvisory_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Country</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Sweden</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Business_Unit__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>BC</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Business_Unit__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>APPS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Business_Unit__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>DPS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fltAdvisory_0.Business_Unit__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Business Development</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asgCountOther</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>fltSE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fltSE</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_fltSE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Users</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fltSE.Country</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Sweden</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asgCountSE</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>sortLastLogin</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortLastLogin</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>fltLastLogin</collectionReference>
        <connector>
            <targetReference>License_overview</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>LastLoginDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>User_Selected</name>
        <label>User Selected</label>
        <locationX>182</locationX>
        <locationY>2834</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tblLastLogin.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_user_detail</targetReference>
            </connector>
            <label>UserSelected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmAdvisoryAvailable</name>
        <dataType>Number</dataType>
        <expression>{!frmAdvisoryQuota}-{!varUsersAdvisory}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmAdvisoryQuota</name>
        <dataType>Number</dataType>
        <expression>{!AdvisoryQuota.License_Quota__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmAppsAvailable</name>
        <dataType>Number</dataType>
        <expression>{!frmAppsQuota}-{!varUsersApps}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmAppsQuota</name>
        <dataType>Number</dataType>
        <expression>{!AppsQuota.License_Quota__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmBDAvailable</name>
        <dataType>Number</dataType>
        <expression>{!frmBDQuota}-{!varUsersBD}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmBDQuota</name>
        <dataType>Number</dataType>
        <expression>{!BDQuota.License_Quota__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmDPSAvailable</name>
        <dataType>Number</dataType>
        <expression>{!frmDPSQuota}-{!varUsersDPS}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmDPSQuota</name>
        <dataType>Number</dataType>
        <expression>{!DPSQuota.License_Quota__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmLastLoginPeriod</name>
        <dataType>DateTime</dataType>
        <expression>(NOW() - 60)</expression>
    </formulas>
    <formulas>
        <name>frmLicenseAvailable</name>
        <dataType>Number</dataType>
        <expression>{!License.TotalLicenses}-{!License.UsedLicenses}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmSEAvailable</name>
        <dataType>Number</dataType>
        <expression>{!frmSEQuota}-{!varUsersSE}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmSEQuota</name>
        <dataType>Number</dataType>
        <expression>{!SEQuota.License_Quota__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmSumQuotas</name>
        <dataType>Number</dataType>
        <expression>{!frmAppsQuota}+{!frmAdvisoryQuota}+{!frmDPSQuota}+{!frmBDQuota}+{!frmSEQuota}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmUserURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://soprasteriasc.lightning.force.com/lightning/setup/ManageUsers/page?address=%2F&quot;+{!tblLastLogin.firstSelectedRow.Id}+&quot;%3FisUserEntityOverride%3D1%26noredirect%3D1&quot;</expression>
    </formulas>
    <interviewLabel>Screen flow: License count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen flow: License count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AdvisoryQuota</name>
        <label>AdvisoryQuota</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DPSQuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Admin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AppsQuota</name>
        <label>AppsQuota</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AdvisoryQuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apps</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Admin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BDQuota</name>
        <label>BDQuota</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SEQuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Admin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DPSQuota</name>
        <label>DPSQuota</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BDQuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DPS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Admin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>License</name>
        <label>License</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgCountAll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Profile</name>
        <label>Profile</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserLicenseId</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEQuota</name>
        <label>SEQuota</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Admin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Users</name>
        <label>Users</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AppsQuota</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Norway</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denmark</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>UserType</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LastLoginDate</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>Business_Unit__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>License_overview</name>
        <label>License overview</label>
        <locationX>182</locationX>
        <locationY>2618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgUserId</targetReference>
        </connector>
        <fields>
            <name>Total</name>
            <fieldText>Total</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Total_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Licenses_DSP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>License.TotalLicenses</elementReference>
                    </defaultValue>
                    <fieldText>Total Licenses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Total_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Licenses_in_Use_DSP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>License.UsedLicenses</elementReference>
                    </defaultValue>
                    <fieldText>Licenses in Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Total_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Licenses_Available_DSP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmLicenseAvailable</elementReference>
                    </defaultValue>
                    <fieldText>Licenses Available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_unit_Country</name>
            <fieldText>Business unit / Country</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_unit_Country_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Apps_Quota</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmAppsQuota</elementReference>
                    </defaultValue>
                    <fieldText>Apps Quota</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Advisory_Quota</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmAdvisoryQuota</elementReference>
                    </defaultValue>
                    <fieldText>Advisory Quota</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>DPS_Quota</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmDPSQuota</elementReference>
                    </defaultValue>
                    <fieldText>DPS Quota</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>BD_Quota</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmBDQuota</elementReference>
                    </defaultValue>
                    <fieldText>BD Quota</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Sweden_Quota</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmSEQuota</elementReference>
                    </defaultValue>
                    <fieldText>Sweden Quota</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Dummy</name>
                    <dataType>Number</dataType>
                    <fieldText>Total</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Sum_Quotas</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmSumQuotas</elementReference>
                    </defaultValue>
                    <fieldText>Sum Quotas</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_unit_Country_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Apps_Used</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varUsersApps</elementReference>
                    </defaultValue>
                    <fieldText>Apps Used</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Advisory_Used</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varUsersAdvisory</elementReference>
                    </defaultValue>
                    <fieldText>Advisory Used</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>DPS_Used</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varUsersDPS</elementReference>
                    </defaultValue>
                    <fieldText>DPS Used</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>BD_Used</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varUsersBD</elementReference>
                    </defaultValue>
                    <fieldText>BD Used</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Sweden_Used</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varUsersSE</elementReference>
                    </defaultValue>
                    <fieldText>Sweden Used</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Other_Used</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varUsersOther</elementReference>
                    </defaultValue>
                    <fieldText>Other Used</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Total_used</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varCountAll</elementReference>
                    </defaultValue>
                    <fieldText>Total used</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_unit_Country_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Apps_Available</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmAppsAvailable</elementReference>
                    </defaultValue>
                    <fieldText>Apps Available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Advisory_Available</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmAdvisoryAvailable</elementReference>
                    </defaultValue>
                    <fieldText>Advisory Available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>DPS_Available</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmDPSAvailable</elementReference>
                    </defaultValue>
                    <fieldText>DPS Available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>BD_Available</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmBDAvailable</elementReference>
                    </defaultValue>
                    <fieldText>BD Available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Sweden_Available</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>frmSEAvailable</elementReference>
                    </defaultValue>
                    <fieldText>Sweden Available</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>txtLastLogin</name>
            <fieldText>&lt;p&gt;Users with no login for past 60 days.&lt;/p&gt;&lt;p&gt;Select user from the table and click Next to open the user profile&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>License_overview_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>License_overview_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tblLastLogin</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Last Login</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>fltLastLogin</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9e51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastLoginDate&quot;,&quot;guid&quot;:&quot;column-c40a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last Login&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Login&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-5c45&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Country&quot;,&quot;guid&quot;:&quot;column-e2ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Country&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Business_Unit__c&quot;,&quot;guid&quot;:&quot;column-ba5b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Business Unit&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_user_detail</name>
        <label>Open user detail</label>
        <locationX>50</locationX>
        <locationY>2942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_txtURL</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!frmUserURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;User profile:{!tblLastLogin.firstSelectedRow.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_fltAdvisory_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_fltApps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_fltLastLogin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_fltSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCountAll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsersAdvisory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUsersApps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUsersBD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUsersDPS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUsersOther</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUsersSE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
