force-app/main/default/flows/ScreenFlow_Opportunity_report_parameters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_URL</name>
        <label>Open URL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Input</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>frmURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>X0_Planning</name>
        <choiceText>0 - Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0 - Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Possibility</name>
        <choiceText>1 - Possibility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Possibility</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_RFI</name>
        <choiceText>2 - RFI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - RFI</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Prequal</name>
        <choiceText>3 - Prequal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Prequal</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_Offer</name>
        <choiceText>4 - Offer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Offer</stringValue>
        </value>
    </choices>
    <description>Used as frontend for Dynamic report DPS Sales meeting</description>
    <dynamicChoiceSets>
        <name>Team</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DPS_Team__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmStage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Select_Stage},&quot;;&quot;,&quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmTeam</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Select_Team},&quot; &amp; &quot;,&quot;%20%26%20&quot;),&quot;;&quot;,&quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://soprasteriasc.lightning.force.com/lightning/r/Report/00O4I000005PYr7UAG/view?fv3=&quot;&amp;{!frmStage}&amp; &quot;&amp;fv4=&quot;&amp;{!frmTeam}</expression>
    </formulas>
    <interviewLabel>ScreenFlow:Opportunity report parameters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow:Opportunity report parameters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_URL</targetReference>
        </connector>
        <fields>
            <name>Helo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Define filters for your report:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Select filters for DPS Team and/or Stage. &lt;/p&gt;&lt;p&gt;If you leave a filter blank, all values for that field are selected: e.g. leave &quot;DPS Team&quot; blank and the report will show records for all Teams.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Edit fields in the report:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click &quot;Enable Field Editing&quot; in the report header to modify data in records returned by the report. Note: some fields (Amount, DPS Team, Due date) are not editable in the report.  To edit these fields, you must first open the record (click link in the Opportunity name column)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Set new filter values:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The report will open in a new tab. Return to this tab to set new filter values and run the report again&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select your report filters:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Stage</name>
                    <choiceReferences>X0_Planning</choiceReferences>
                    <choiceReferences>X1_Possibility</choiceReferences>
                    <choiceReferences>X2_RFI</choiceReferences>
                    <choiceReferences>X3_Prequal</choiceReferences>
                    <choiceReferences>X4_Offer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Stage</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DPSClientDeveloper</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Id</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>DPS Client Developer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Team</name>
                    <choiceReferences>Team</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select DPS Team</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DPS_Opportunity_Owner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>DPS_Opportunity_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>DPS Opportunity Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <elementReference>$User.Username</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Run report</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
