force-app/main/default/flows/SE_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_har_blivit_kvalificerat</name>
        <label>Lead har blivit kvalificerat</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hannah.bothin@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ett Saleforce lead har blivit kvalificerat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>KvalificeratleadV2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>We are checking to see if the lead has an Sopra Steria address to remove them.</description>
        <name>Sopra_Steria_employee</name>
        <label>Sopra Steria employee?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Qualify_the_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sopra_Steria_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>soprasteria.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disqualify_Sopra_Steria_lead</targetReference>
            </connector>
            <label>Sopra Steria email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SE Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SE Lead qualifying flow Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Disqualify_Sopra_Steria_lead</name>
        <label>Disqualify Sopra Steria lead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Qualifies the lead</description>
        <name>Qualify_the_lead</name>
        <label>Qualify the lead</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Lead_har_blivit_kvalificerat</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sopra_Steria_employee</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26))</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>pi__score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>800.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Skatteverket</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Vattenfall</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Region Stockholm</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Telia</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Telenor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sveriges Ingenjörer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ikea</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Göteborg Energi</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Unionen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Västra Götaland</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Tele2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Arbetsförmedlingen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Volvo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEB</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SOS alarm</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAAB</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Catella</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E.ON</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>KvalificeratleadV2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hej!

Ett Salesforce lead har blivit kvalificerat:
{!$Record.Lead_URL__c}

MVH
Salesforce</text>
    </textTemplates>
    <variables>
        <description>Ett lead har blivit kvalificerat</description>
        <name>Notification_variable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
