force-app/main/default/flows/Support_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Possibility</name>
        <label>Stage</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ScreenPlanning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Possibility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Possibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenPossibility</targetReference>
            </connector>
            <label>Possibility</label>
        </rules>
        <rules>
            <name>Stage_RFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - RFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>RFI</targetReference>
            </connector>
            <label>RFI</label>
        </rules>
        <rules>
            <name>Stage_Prequal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Prequal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prequal</targetReference>
            </connector>
            <label>Prequal</label>
        </rules>
        <rules>
            <name>Stage_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offer</targetReference>
            </connector>
            <label>Offer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Support Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_Opportunity</name>
        <label>Get current Opportunity</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Possibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Offer</name>
        <label>Offer</label>
        <locationX>534</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previous Stage &quot;3 - Prequal&quot;</backButtonLabel>
        <fields>
            <name>OfferScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Stage 4 - Offer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;​Lenke til &lt;/span&gt;&lt;a href=&quot;https://steria.sharepoint.com/sites/Intra_SC_Salgsprosessen/SitePages/Salgsprosessen-i-Sopra-Steria.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(27, 27, 27);&quot;&gt;detaljert salgsprosess&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(77, 123, 221);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;på intranet&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I de aller fleste tilfeller vil en salgsprosess ende opp i et formelt tilbudsløp. Dette omtales ofte som RFP (Request for Proposal). &lt;/p&gt;&lt;p&gt;I Sopra Steria har vi lang erfaring og gode prosesser for å handtere formelle tilbudsløp, og du kan lese mer om dette her:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://steria.sharepoint.com/sites/intra_sc_omsoprasteria/sitepages/bid%20management.aspx?web=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Lenke til BCR-prosessen&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://steria.sharepoint.com/sites/intra_sc_businessdevelopmentno/SitePages/Tilbudsprosessen.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Lenke til BID Management/Tilbudsprosessen&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stages_45</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Opportunity_45</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prequal</name>
        <label>Prequal</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previous Stage &quot;3 - RFI&quot;</backButtonLabel>
        <connector>
            <targetReference>Offer</targetReference>
        </connector>
        <fields>
            <name>Prequal_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Prequal_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stages_3a</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Opportunity_23</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Prequal_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RFI_Screen_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Stage 3 - Prequal&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Lenke til &lt;a href=&quot;https://steria.sharepoint.com/sites/Intra_SC_Salgsprosessen/SitePages/Salgsprosessen-i-Sopra-Steria.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;detaljert salgsprosess&lt;/a&gt; på intranet&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I offentlige anbudskonkurranser kan Stage 3-Prequal kreve et formelt pre-kvalifiseringsløp med innsendelse av firmaattest etc.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I salgsprosesser med private virksomheter vil Stage 3-Prequal ofte innebære &quot;kun&quot; en bekreftelse fra kunden at de ønsker oss videre i prosessen.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next Stage &quot;4 - Offer&quot;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RFI</name>
        <label>RFI</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previous Stage &quot;1 - Planning&quot;</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Prequal</targetReference>
        </connector>
        <fields>
            <name>RFI_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RFI_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stages_2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Opportunity_23</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RFI_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RFI_Screen</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Stage 2 - RFI&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;​Lenke til &lt;/span&gt;&lt;a href=&quot;https://steria.sharepoint.com/sites/Intra_SC_Salgsprosessen/SitePages/Salgsprosessen-i-Sopra-Steria.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(94, 157, 231); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;detaljert salgsprosess&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;på intranet&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Vi har proaktivt jobbet frem en mulighet, og kommet i en posisjon hvor vi får muligheten til å presentere vårt verdiforslag på kundens utfordring&lt;/li&gt;&lt;li&gt;Vi mottar en formell RFI direkte fra kunden&lt;/li&gt;&lt;li&gt;Vi fanger opp offentlig utlysning på Mercell e.l&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Dette er vår mulighet til å påvirke kundens videre kjøpsprosess og utforming av kravspesifikasjon. Mao. ikke ta lett på dette arbeid!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dersom ingen fra Sopra Steria proaktivt har jobbet frem denne muligheten må aktiviteter som er beskrevet under Stage 1-Planning iverksettes.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next Stage &quot;3 - Prequal&quot;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenPlanning</name>
        <label>0 - Planning</label>
        <locationX>1018</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenPossibility</targetReference>
        </connector>
        <fields>
            <name>ScreenPlanning_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenPlanning_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stages_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Opportunity_01</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenPlanning_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Planning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Stage 0 - Planning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;​Lenke til &lt;/span&gt;&lt;a href=&quot;https://steria.sharepoint.com/sites/Intra_SC_Salgsprosessen/SitePages/Salgsprosessen-i-Sopra-Steria.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(82, 164, 231); font-size: 12px;&quot;&gt;detaljert salgsprosess&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; på intranet&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I denne fasen av salgsprosessen er det viktig å avdekke hypoteser gjennom kundemøter slik at Otpy kan flyttes til steg 1-Possibility og videre salgsarbeid kan iverksettes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next Stage &quot;1 - Possibility&quot;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenPossibility</name>
        <label>Possibility</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previous Stage &quot;0 - Planning&quot;</backButtonLabel>
        <connector>
            <targetReference>RFI</targetReference>
        </connector>
        <fields>
            <name>ScreenPossibility_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenPossibility_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stages_1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Opportunity_01</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenPossibility_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Stage 1 - Possibility&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Lenke til &lt;a href=&quot;https://steria.sharepoint.com/sites/Intra_SC_Salgsprosessen/SitePages/Salgsprosessen-i-Sopra-Steria.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;detaljert salgsprosess&lt;/a&gt; på intranet&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Kundemøter hvor SPIN benyttes og møtene dokumenteres i SalesForce. Bl.a. bør&amp;nbsp;T-form og Call Planner er benyttes.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Explicit Need kan formuleres &lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Uttalelse fra kunden om ønsker, behov og intensjoner. Kan oppsummeres med «Jeg søker en løsning/tjeneste»&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Gjennomføre stakeholderanalyser og dokumentere i SalesForce i eget stakeholder-felt på Opportunity&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Hvem hos kunden beslutter denne muligheten?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Hvem hos kunden er sponsorer på denne muligheten?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Møt flest mulig stakeholders, disse kan ha ulike behov&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Sette Opportunity Team i SalesForce dersom nødvendig &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Sikre forankring i BU om nødvendig (pre-BCR)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Avdekke kundens budsjettmidler (OBS!)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Vurdere realistisk close-date&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Identifisere hvor kunden er i sin kjøpssyklus (markeres i egen rullgardin-meny i SalesForce under «Opportunity Review»)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Beskrive neste steg man planlegger for å komme videre i prosessen&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next Stage &quot;2- RFI&quot;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
