force-app/main/default/flows/ThirtyDaysBeforeCloseDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Opportunity_Owner_DK</name>
        <label>Email Opportunity Owner DK</label>
        <locationX>842</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ThirtyDayAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>soprasteria.salesforce@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Opportunity_Owner_NO</name>
        <label>Email Opportunity Owner NO</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Alert_Norway</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>soprasteria.salesforce@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>This Email is sent to the Account Owner for Norway</description>
        <name>Email_to_Account_Owner_DK</name>
        <label>Email to Account Owner DK</label>
        <locationX>974</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Account_Owner_Opportunity_Owner_DK</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ThirtyDayAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>soprasteria.salesforce@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>This Email is sent to the Account Owner for Norway</description>
        <name>Email_to_Account_Owner_NO</name>
        <label>Email to Account Owner NO</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Account_Owner_Opportunity_Owner_NO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Alert_Norway</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>soprasteria.salesforce@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>If the Account Owner is also the Owner of the Opportunity the email will be just sent once, otherwise both the Opportunity and Account Owner will be notified</description>
        <name>Account_Owner_Opportunity_Owner_DK</name>
        <label>Account Owner = Opportunity Owner</label>
        <locationX>974</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_DK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opportunity_Owner_DK</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Account Owner is also the Owner of the Opportunity the email will be just sent once, otherwise both the Opportunity and Account Owner will be notified</description>
        <name>Account_Owner_Opportunity_Owner_NO</name>
        <label>Account Owner = Opportunity Owner</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opportunity_Owner_NO</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>In which country is the opportunity listed</description>
        <name>Country</name>
        <label>Country</label>
        <locationX>776</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Norway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Account_Owner_NO</targetReference>
            </connector>
            <label>Norway</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>Denmark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark-DKTemporarily disabled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Account_Owner_DK</targetReference>
            </connector>
            <label>Denmark</label>
        </rules>
    </decisions>
    <description>Will send an email alert when Opportunity is 30 days before Close Date</description>
    <formulas>
        <name>AccountOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!AccountID.Owner.Email}</expression>
    </formulas>
    <formulas>
        <name>Link</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &quot;/services&quot;, $Api.Partner_Server_URL_260)) &amp; &quot;lightning/r/&quot; &amp; {!$Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>ThirtyDaysBeforeCloseDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ThirtyDaysBeforeCloseDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X30DaysBeforeCloseDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>4 - Offer - Sent</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-02</startDate>
            <startTime>09:58:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Alert_Norway</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei! 
N친 er det under 칠n m친ned igjen til denne Opportunitien skal v칝re closet iht data som du har lagt inn i SF. Har du kontroll p친 alle aktiviteter som m친 skje de neste ukene for 친 komme i m친l? Dersom du tror det er lite sannsynlig at Close date er realistisk er det fint om du endrer denne datoen. Vi trenger gode og p친litelige data i v친rt CRM system! 
Takk for hjelpen, og st친 p친 videre 游땕

Opportunity Name: {!$Record.Name}
Account Name: {!$Record.Account_Name__c}
Link til Opportunity: {!Link}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Opportunity has Close Date in 30 Days</text>
    </textTemplates>
    <textTemplates>
        <name>ThirtyDayAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Opportunity following has Close Date in 30 Days:
Opportunity: {!$Record.Name} 
Account: {!$Record.Account_Name__c}
Please update the Opportunity via this {!Link}!
Thank you!</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
