force-app/main/default/flows/Update_Account_BU_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Advisory_Owner</name>
        <label>Assign Advisory Owner</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_all_BC_Account_Owner.BC_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_of_Owners_Advisory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_of_Owners_Advisory</name>
        <label>Assign Collection of Owners Advisory</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>New_Owner_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_BC_Account_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_BC_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_of_Owners_APPS</name>
        <label>Assign Collection of Owners APPS</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>New_Owner_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_APPS_Account_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_APPS_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_of_Owners_DPS</name>
        <label>Assign Collection of Owners DPS</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>New_Owner_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_DPS_Account_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_DPS_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DPS_Owner</name>
        <label>Assign DPS Owner</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_all_DPS_Account_Owner.DPS_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_of_Owners_DPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Apps_Owner</name>
        <label>Assing Apps Owner</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_all_APPS_Account_Owner.Apps_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_of_Owners_APPS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BU</name>
        <label>BU</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Owner_APPS</targetReference>
            </connector>
            <label>Apps</label>
        </rules>
        <rules>
            <name>Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Owner_Advisory</targetReference>
            </connector>
            <label>Advisory</label>
        </rules>
        <rules>
            <name>DPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Owner_DPS</targetReference>
            </connector>
            <label>DPS</label>
        </rules>
    </decisions>
    <description>Update BU owners from user object</description>
    <environments>Default</environments>
    <interviewLabel>Update Account BU Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account BU Owners</label>
    <loops>
        <name>Get_all_APPS_Account_Owner</name>
        <label>Get all APPS Account Owner</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Account_Owner_APPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_Apps_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_BU_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_BC_Account_Owner</name>
        <label>Get all BC Account Owner</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Account_Owner_Advisory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Advisory_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_BU_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_DPS_Account_Owner</name>
        <label>Get all DPS Account Owner</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Account_Owner_DPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_DPS_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_BU_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Owner_Advisory</name>
        <label>Get Account Owner Advisory</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_BC_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BC_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CurrentOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Owner_APPS</name>
        <label>Get Account Owner APPS</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_APPS_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apps_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CurrentOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Owner_DPS</name>
        <label>Get Account Owner DPS</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_DPS_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DPS_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CurrentOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_BU_Owner</name>
        <label>Update Account BU Owner</label>
        <locationX>534</locationX>
        <locationY>842</locationY>
        <inputReference>New_Owner_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BU</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>New_Owner_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_BU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CurrentOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_NewOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
