force-app/main/default/flows/Update_Opportunity_BU_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Advisory_Owner</name>
        <label>Assign New Advisory Owner</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Owner_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_opties_with_current_owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_opties_with_current_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_APPS_Owner</name>
        <label>Assign New APPS Owner</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Owner_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_opties_with_current_owner_APPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_opties_with_current_owner_APPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_DPS_Owner</name>
        <label>Assign New DPS Owner</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Owner_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_opties_with_current_owner_DPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_opties_with_current_owner_DPS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_owner_APPS</name>
        <label>Assign new owner</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_all_opties_with_current_owner_APPS.Apps_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_APPS_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_owner_BC</name>
        <label>Assign new owner</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_all_opties_with_current_owner.BC_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Advisory_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_owner_DPS</name>
        <label>Assign new owner</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_all_opties_with_current_owner_DPS.DPS_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_DPS_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BU</name>
        <label>BU</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_BU_owner_APPS</targetReference>
            </connector>
            <label>Apps</label>
        </rules>
        <rules>
            <name>Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_BU_owner</targetReference>
            </connector>
            <label>Advisory</label>
        </rules>
        <rules>
            <name>DPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_BU_owner_DPS</targetReference>
            </connector>
            <label>DPS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Opportunity BU Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity BU Owners</label>
    <loops>
        <name>Get_all_opties_with_current_owner</name>
        <label>Get all opties with current owner</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Current_BU_owner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_owner_BC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_opties_with_current_owner_APPS</name>
        <label>Get all opties with current owner</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Current_BU_owner_APPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_owner_APPS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_opties_with_current_owner_DPS</name>
        <label>Get all opties with current owner</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Current_BU_owner_DPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_owner_DPS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_BU_owner</name>
        <label>Get Current BU owner BC</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_opties_with_current_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BC_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CurrentOwnerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_BU_owner_APPS</name>
        <label>Get Current BU owner APPS</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_opties_with_current_owner_APPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apps_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CurrentOwnerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_BU_owner_DPS</name>
        <label>Get Current BU owner DPS</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_opties_with_current_owner_DPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DPS_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CurrentOwnerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>534</locationX>
        <locationY>842</locationY>
        <inputReference>Owner_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BU</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Owner_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_BU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CurrentOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_NewOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
