force-app/main/default/flows/User_Alert_user_was_deactivated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_User_was_deactivated</name>
        <label>Alert User was deactivated</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>User.User_has_been_de_activated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.User_has_been_de_activated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>For both accounts and opportunities</description>
        <name>Change_BU_Owner</name>
        <label>Change BU Owner</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <actionName>BUOwner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_form</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>var_BU</name>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>var_BUOwnerField</name>
            <value>
                <elementReference>frm_BUOwnerField</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>var_currentOwnerId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>var_newOwnerId</name>
            <value>
                <elementReference>$Record.New_BU_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BUOwner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Country_0</name>
        <label>Country</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Status_User_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Norway, Denmark</defaultConnectorLabel>
        <rules>
            <name>Sweden_user_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <label>Sweden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Replace_Business_Owner</name>
        <label>Replace Business Owner</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Reset_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_BU_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Replace_Ownerships__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_BU_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_form</name>
        <label>Reset form</label>
        <locationX>710</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_reset_form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_BU_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Replace_Ownerships__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_replacement_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_User</name>
        <label>Status User</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Country_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>User_Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_User_was_deactivated</targetReference>
            </connector>
            <label>User Deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_User_0</name>
        <label>Status User</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Replace_Business_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_User_to_Public_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddToPubicGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Public_Group_Member_0</targetReference>
            </connector>
            <label>Add User to Public Group</label>
        </rules>
    </decisions>
    <description>Add in new apex class for handling BU Owner change for accounts and opportunities. This will allow for the changes to be processed in batch and handle a high volume. Updated to correct Apex Class.</description>
    <environments>Default</environments>
    <formulas>
        <name>AddToPubicGroup</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND( TEXT({!$Record.Business_Unit__c}) = &quot;Business Development&quot; ,TEXT(PRIORVALUE({!$Record.Business_Unit__c}) ) != &quot;Business Development&quot;)  ,
AND ( TEXT({!$Record.Business_Unit__c}) = &quot;Business Development&quot; ,ISNEW())
)</expression>
    </formulas>
    <formulas>
        <description>This formula sets the field of the business unit owner for the user&apos;s BU. This tells the AccountBUOwnerFlow which BU Owner Field to update.</description>
        <name>frm_BUOwnerField</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Business_Unit__c},&apos;APPS&apos;), &apos;Apps_Owner__c&apos;,
IF (ISPICKVAL({!$Record.Business_Unit__c},&apos;Advisory&apos;), &apos;BC_Owner__c&apos;,
 &apos;DPS_Owner__c&apos;))</expression>
    </formulas>
    <interviewLabel>User: Alert user was deactivated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Manage Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Blank_replacement_User</name>
        <label>Blank replacement User</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>New_BU_Owner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Replace_Ownerships__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_User</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Public_Group_Member_0</name>
        <label>New Public Group Member</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Replace_Business_Owner</targetReference>
        </connector>
        <flowName>Add_Public_Group_member</flowName>
        <inputAssignments>
            <name>Var_Group</name>
            <value>
                <stringValue>00G4I0000053uw9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_Member</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
