force-app/force-app/main/default/flows/Autolaunched_Lead_Convert_Lead_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Contact_apex</name>
        <label>Create Contact</label>
        <locationX>321</locationX>
        <locationY>2318</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varNewContact</assignToReference>
            <name>contactId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_nothing</name>
        <label>Create nothing</label>
        <locationX>1905</locationX>
        <locationY>2318</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgExistingContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_new_record</name>
        <label>Open new record</label>
        <locationX>1377</locationX>
        <locationY>2858</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>varURLToOpen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_and_Contact_apex</name>
        <label>Opportunity and Contact</label>
        <locationX>1378</locationX>
        <locationY>2318</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgOpportunityAndContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varNewContact</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewOpportunity</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Only_apex</name>
        <label>Opportunity Only</label>
        <locationX>849</locationX>
        <locationY>2318</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgOpportuity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varNewOpportunity</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign account id to var if it was found on the screen</description>
        <name>asgAccountId_0</name>
        <label>asgAccountId</label>
        <locationX>739</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>varFoundAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LeadAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAccountId_0_0</name>
        <label>asgAccountId</label>
        <locationX>475</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varFoundAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgContact</name>
        <label>asgContact</label>
        <locationX>358</locationX>
        <locationY>2528</locationY>
        <assignmentItems>
            <assignToReference>varURLToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!varNewContact}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varfinalContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upd_ContactOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgContactId</name>
        <label>asgContactId</label>
        <locationX>673</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varFoundContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgExistingContact</name>
        <label>asgExistingContact</label>
        <locationX>1905</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>varURLToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!varContactId}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varfinalContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upd_ContactOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgOpportuity</name>
        <label>asgOpportunity</label>
        <locationX>849</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>varURLToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!varNewOpportunity}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varfinalContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLeadDescription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgOpportunityAndContact</name>
        <label>asgOpportunityAndContact</label>
        <locationX>1378</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>varURLToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!varNewOpportunity}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varfinalContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLeadDescription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contact id from the one selected on the screen.</description>
        <name>Contact_Id</name>
        <label>Contact Id</label>
        <locationX>1563</locationX>
        <locationY>1993</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Contact.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_to_Create</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>default to create a contact or use existing based on formula.</description>
        <name>chsDefaultContactCreate</name>
        <choiceText>{!frmDefaultCreateContact}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>frmDefaultCreateContact</elementReference>
        </value>
    </choices>
    <choices>
        <description>This choice is the opposite of what the default choice is so that there are only two values in the picklist</description>
        <name>chsDefaultCreateContactOpposite</name>
        <choiceText>{!frmDefaultCreateContactOpposite}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>frmDefaultCreateContactOpposite</elementReference>
        </value>
    </choices>
    <choices>
        <name>chsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>chsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAccountCompanyNameStart</name>
        <choiceText>no Account given. Start of Company name matches. No email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scenario 1</stringValue>
        </value>
    </choices>
    <constants>
        <name>cnstCreateNewContact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>cnstUseExisting</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Use existing contact</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_new_contact</name>
        <label>Create new contact?</label>
        <locationX>1377</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cnstCreateNewContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact1</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cnstUseExisting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Id</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did they their combination of choices result in an an error?</description>
        <name>dcs_Contact_Errors</name>
        <label>dcs Contact Errors</label>
        <locationX>673</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>ConfirmationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Did_not_select_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cnstUseExisting</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Contact.selectedChoiceValues</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Did not select existing</label>
        </rules>
        <rules>
            <name>Selected_create_new_and_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Contact.selectedChoiceValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Selected create new and existing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the account provided before lead conversion button clicked?</description>
        <name>desAccount_Provided</name>
        <label>desAccountProvided</label>
        <locationX>673</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, lookup account</defaultConnectorLabel>
        <rules>
            <name>Account_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgAccountId_0_0</targetReference>
            </connector>
            <label>Account provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>desFoundAccount</name>
        <label>desFoundAccount</label>
        <locationX>871</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Account Found Earlier</defaultConnectorLabel>
        <rules>
            <name>Account_Found_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountLookup.recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgAccountId_0</targetReference>
            </connector>
            <label>Account Found Now</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_to_Create</name>
        <label>What to Create</label>
        <locationX>1377</locationX>
        <locationY>2210</locationY>
        <defaultConnectorLabel>Nothing Selected</defaultConnectorLabel>
        <rules>
            <name>ContactOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cnstCreateNewContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_apex</targetReference>
            </connector>
            <label>Contact Only</label>
        </rules>
        <rules>
            <name>Opportunity_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cnstUseExisting</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Only_apex</targetReference>
            </connector>
            <label>Opportunity Only</label>
        </rules>
        <rules>
            <name>Opportunity_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cnstCreateNewContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_and_Contact_apex</targetReference>
            </connector>
            <label>Opp and Contact</label>
        </rules>
        <rules>
            <name>ExistingContact_No_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chsNo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cnstUseExisting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_nothing</targetReference>
            </connector>
            <label>Create Nothing</label>
        </rules>
    </decisions>
    <description>revised by Jessie Rymph in September 2024 to map description and reported by from Lead to Opportunity.
Switched to a record collection variable instead of record choice set to allow for accounts with over 200 contacts.
This version changes the contact&apos;s owner correctly to the chosen owner.</description>
    <dynamicChoiceSets>
        <description>Get all contacts at the account into a collection choice set</description>
        <name>chsCollectionContacts</name>
        <collectionReference>Get_Contacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>the dropdown list shows contacts at this account or with the same email address.</description>
        <name>chsContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>4 or 1 or (2 and 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundContactId</elementReference>
            </value>
        </filters>
        <limit>199</limit>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmAccountFound</name>
        <dataType>String</dataType>
        <expression>IF({!Lead.Account__c}=&quot;&quot; &amp;&amp; {!varFoundAccountId}=&quot;&quot;,&quot;No account found matching &quot; + {!Lead.Company}+&quot;. Search for it here.&quot;, 
IF({!varFoundAccountId}!=&quot;&quot;, &quot;Is this the correct account?&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>frmAllContactErrors</name>
        <dataType>String</dataType>
        <expression>IF(AND({!pckCreateContact}={!cnstUseExisting} ,{!Search_Contact.selectedChoiceValues}=&apos;&apos;), &apos;You must create a new contact with the prefilled information from lead, or look up an existing contact. &apos;, &apos;&apos;) +
IF(AND({!pckCreateContact}={!cnstUseExisting},{!varFoundContactId}=&apos;&apos;, {!Search_Contact.selectedChoiceValues} =&apos;&apos;), &apos;You selected to use an existing contact, but did not search and find a contact.&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>frmConfirmCreateOpp</name>
        <dataType>Boolean</dataType>
        <expression>IF({!pckCreateOpp}=&apos;Yes&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>frmConfirmNewContact</name>
        <dataType>Boolean</dataType>
        <expression>IF({!pckCreateContact}={!cnstCreateNewContact}, true, false)</expression>
    </formulas>
    <formulas>
        <name>frmContactFound</name>
        <dataType>String</dataType>
        <expression>IF({!varFoundContactId}!=&quot;&quot;, &quot;We found a matching contact for &quot; +{!Lead.FirstName} + &quot; &quot; + {!Lead.LastName}, &quot;No matching contact for &quot; +{!Lead.FirstName} + &quot; &quot; + {!Lead.LastName} + &quot; at this account. Can you find one?&quot; )</expression>
    </formulas>
    <formulas>
        <name>frmCreatedItems</name>
        <dataType>String</dataType>
        <expression>IF(OR({!varNewContact}!=&apos;&apos;,{!varNewOpportunity}!=&apos;&apos;),

&apos;We created &apos;  + IF({!varNewContact}!=&apos;&apos;,&apos;a Contact&apos;,&apos;&apos;) + IF(AND( {!varNewContact}!=&apos;&apos;, {!varNewOpportunity}!=&apos;&apos;)  , &apos; and &apos; ,&apos;&apos;) +  IF({!varNewOpportunity}!=&apos;&apos;, &apos;an Opportunity&apos;,&apos;&apos;) + &apos; for you. Click Next to open the &apos; + IF({!varNewOpportunity}!=&apos;&apos;, &apos;Opportunity.&apos;,&apos;Contact.&apos;),
&apos;You chose not to create any new record. Click Next to continue to the Contact you merged into.&apos;)</expression>
    </formulas>
    <formulas>
        <description>Used in the lookup for accounts.
IF({!Lead.Account__c}=&quot;&quot;, &quot;this is the account id of the one I looked up &quot; +{!Get_Account.Id} ,&quot;I will use the accountId from the lead which is &quot; + {!Lead.Account__c}  )</description>
        <name>frmDefaultAccountId</name>
        <dataType>String</dataType>
        <expression>IF({!Lead.Account__c}=&quot;&quot;, {!varFoundAccountId} , {!Lead.Account__c}  )</expression>
    </formulas>
    <formulas>
        <description>This is the default value of create contact or use existing, based on if the contact ID has been found.</description>
        <name>frmDefaultCreateContact</name>
        <dataType>String</dataType>
        <expression>IF({!varFoundContactId}=&quot;&quot;,{!cnstCreateNewContact},{!cnstUseExisting})</expression>
    </formulas>
    <formulas>
        <description>This is the opposite result so that the picklist only shows two values.</description>
        <name>frmDefaultCreateContactOpposite</name>
        <dataType>String</dataType>
        <expression>IF({!frmDefaultCreateContact}={!cnstUseExisting},{!cnstCreateNewContact},
IF({!frmDefaultCreateContact}={!cnstCreateNewContact},{!cnstUseExisting},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>frmEmail</name>
        <dataType>String</dataType>
        <expression>{!EmailInput.value}</expression>
    </formulas>
    <formulas>
        <description>Checks if lead contact exists with this customer</description>
        <name>frmExistingContact</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varFoundContactId} !=&apos;&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <description>remove double quotes from description because it breaks in Share Point if there are double quotes.</description>
        <name>frmLeadDescriptionQuotes</name>
        <dataType>String</dataType>
        <expression>IF({!Lead.Reported_By__c} != &quot;&quot;, &quot;Lead reported by: &quot; &amp; {!Lead.Reported_By__r.Name}&amp; BR(),&quot;&quot;)  &amp;
SUBSTITUTE({!Description},&apos;&quot;&apos;,&quot;&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmNewContact</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varFoundContactId} !=&apos;&apos;, false, true)</expression>
    </formulas>
    <formulas>
        <description>if the lead owner is inactive, assign current user. otherwise, use owner of the lead.</description>
        <name>frmOwnerId</name>
        <dataType>String</dataType>
        <expression>IF({!varActiveOwner}=&quot;&quot;,{!$User.Id},{!varActiveOwner})</expression>
    </formulas>
    <formulas>
        <name>frmToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Autolaunched - Lead: Convert Lead v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched - Lead: Convert Lead v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>change to find AccountId from varFoundAccountId instead of from Lead record.</description>
        <name>Create_New_Contact1</name>
        <label>Create Contact</label>
        <locationX>981</locationX>
        <locationY>1970</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>What_to_Create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>frmEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameInput</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <description>Look up account based on the company name field on the lead.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>871</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindMatchingAccount</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Lead.Company</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varFoundAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>get contacts at account</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>673</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenContactAndOpp</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>See if owner is currently active. If they are not, then we need a different owner. If the owner is Temp Owner, we also need a different owner.</description>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>673</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Temp Owner</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varActiveOwner</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get contacts only from the account or based on matching email.</description>
        <name>GetContact</name>
        <label>Contact</label>
        <locationX>673</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filterLogic>(1 AND 5) OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>673</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desAccount_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Lead conversion field mapping does not allow to map custom field to standard field</description>
        <name>AddLeadDescription</name>
        <label>Add Lead Description</label>
        <locationX>889</locationX>
        <locationY>2581</locationY>
        <connector>
            <targetReference>upd_ContactOwner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frmLeadDescriptionQuotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>Lead.Reported_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>The apex is not correctly setting the contact owner so we will set it here.</description>
        <name>upd_ContactOwner</name>
        <label>updateContactOwner</label>
        <locationX>1209</locationX>
        <locationY>2665</locationY>
        <connector>
            <targetReference>Created_Opportunity_and_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errApex</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varfinalContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LookupOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>If they looked up an account in the flow, update the lead&apos;s Account so the conversion process will work.</description>
        <name>Update_LeadAccount</name>
        <label>Update Lead Account</label>
        <locationX>739</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varFoundAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>1377</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No, go back</backButtonLabel>
        <connector>
            <targetReference>Create_new_contact</targetReference>
        </connector>
        <fields>
            <name>dspConfirmScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Is this correct?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>togCreateNewContact</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create New Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>frmConfirmNewContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>togCreateOpp</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create New Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>frmConfirmCreateOpp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Correct</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Created_Opportunity_and_Contact</name>
        <label>Created Opportunity and Contact</label>
        <locationX>1377</locationX>
        <locationY>2750</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_new_record</targetReference>
        </connector>
        <fields>
            <name>imgFinished</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ConvertLead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Created_Opportunity_and_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Created_Opportunity_and_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtAccount</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtContact</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtOpportunity</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Created_Opportunity_and_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Created_Opportunity_and_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspAccount</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!Lead.Account__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead.Account__r.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dspAccountName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountLookup.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead.Account__r.Name__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspNewContact</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!FirstNameInput} {!LastNameInput}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>pckCreateContact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>cnstCreateNewContact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dspExistingContact</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!Search_Contact.selectedChoiceLabels}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>pckCreateContact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>cnstUseExisting</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Created_Opportunity_and_Contact_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspOpportunity</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!OpportunityName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>pckCreateOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chsYes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OpportunityName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dspNoOpporunity</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;None&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>pckCreateOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chsNo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dspOpportunityDefaultName1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Lead.Account__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead.Account__r.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>pckCreateOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chsYes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OpportunityName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dspOpportunityDefaultName2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!AccountLookup.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead.Account__r.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>pckCreateOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chsYes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OpportunityName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!frmCreatedItems}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errApex</name>
        <label>Error</label>
        <locationX>1257</locationX>
        <locationY>2482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errMsgApex</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Sorry, something went wrong&lt;/strong&gt; during creation of Account or Opportunity.&lt;/p&gt;&lt;p&gt;System adminisntrator has been alerted.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>673</locationX>
        <locationY>3158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenContactAndOpp</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;ERROR!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead conversion failed because:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!frmAllContactErrors}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to review your choices and try again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The user can look up the account or confirm that the flow found the correct one.</description>
        <name>FindMatchingAccount</name>
        <label>Find Matching Account</label>
        <locationX>871</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>desFoundAccount</targetReference>
        </connector>
        <fields>
            <name>FindMatchingAccount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FindMatchingAccount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <fieldText>&lt;p&gt;{!frmAccountFound}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Screen_Flow_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varFoundAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dspLinkToServiceNow</name>
                    <fieldText>&lt;p&gt;{!textTempUrlToServiceNow}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountLookup.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Lead.Account__r.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenContactAndOpp</name>
        <label>Match Contact and Opportunity</label>
        <locationX>673</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcs_Contact_Errors</targetReference>
        </connector>
        <fields>
            <name>screenContactAndOpp_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenContactAndOpp_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspFoundContact</name>
                    <fieldText>&lt;p&gt;{!frmContactFound}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Search_Contact</name>
                    <choiceReferences>chsCollectionContacts</choiceReferences>
                    <defaultValue>
                        <elementReference>varFoundContactId</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contact Search</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search here to find a matching contact.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>pckCreateContact</name>
                    <choiceReferences>chsDefaultContactCreate</choiceReferences>
                    <choiceReferences>chsDefaultCreateContactOpposite</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>chsDefaultContactCreate</defaultSelectedChoiceReference>
                    <fieldText>What would you like to do?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>pckCreateOpp</name>
                    <choiceReferences>chsYes</choiceReferences>
                    <choiceReferences>chsNo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>chsNo</defaultSelectedChoiceReference>
                    <fieldText>Create an opportunity?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LookupOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Screen_Flow_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>frmOwnerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screenContactAndOpp_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenContactAndOpp_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstNameInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LastNameInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmailInput</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Lead.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pckCreateContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cnstCreateNewContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenContactAndOpp_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenContactAndOpp_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Lead_Subject__c</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Description</elementReference>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pckCreateOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chsYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenContactAndOpp_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenContactAndOpp_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead.FirstName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Banana</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>547</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTempUrlToServiceNow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://alfredtest.service-now.com/x/ssasi/customer-registration/customer-req/prospect&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;If no matching Account can be found, go here to create a new Account in ServiceNow.&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of temporary Contact, Apex class always creates a new contact(!) If user selects &quot;Use existing Contact&quot; we need to delete the new contact</description>
        <name>tmpContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If variable is null, the owner is not active and we need a new owner for the converted records.</description>
        <name>varActiveOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the contactid at the very end. Either it was newly created or it was existing. This contact&apos;s owner Id will be updated.</description>
        <name>varfinalContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFoundAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFoundContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varURLToOpen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
