force-app/force-app/main/default/flows/Autolaunched_Opportunity_Offer_SE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Offer_Values</name>
        <label>Parse Offer Values</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Opportunity.Offer__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Items</name>
        <label>Count Items</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Parse_Offer_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offer_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Item</name>
        <label>First Item</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varMainOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offer_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offer_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multi</name>
        <label>Multi</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varMainOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multi Value</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nothing</name>
        <label>Nothing</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varMainOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Value</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_Main_offer</name>
        <label>Main Offer</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multi_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi</targetReference>
            </connector>
            <label>Multi value</label>
        </rules>
        <rules>
            <name>No_value_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Offer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nothing</targetReference>
            </connector>
            <label>No value assigned</label>
        </rules>
        <rules>
            <name>One_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Offer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>One Value</label>
        </rules>
    </decisions>
    <description>Subflow for Opportunity Offer - NEW and CHANGED</description>
    <environments>Default</environments>
    <interviewLabel>Autolaunched: Opportunity Offer (SE) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched: Opportunity Offer (SE)</label>
    <loops>
        <name>Offer_Values</name>
        <label>Offer Values</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <collectionReference>Parse_Offer_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Main_offer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>402</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parse_Offer_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Offer_Group__c</field>
            <value>
                <elementReference>varMainOffer</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMainOffer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;No Value&apos;</stringValue>
        </value>
    </variables>
</Flow>
