force-app/force-app/main/default/flows/Custom_Clone_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_New_Opportunity</name>
        <label>Open New Opportunity</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>frmNewOpportunityLink</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_record_Id</name>
        <label>Assign record Id</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varNewOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppt.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Retry</name>
        <label>Retry</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Retry_True</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Name_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_empty_bid_room</name>
        <label>Stage &amp; empty bid room</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>NewOppt.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Possibility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmAssgnOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.Consultants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CtryNoDk</name>
        <label>CtryNoDk</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CtryNoDkOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opportunity</targetReference>
            </connector>
            <label>CtryNoDkOutcome</label>
        </rules>
        <rules>
            <name>CountrySeOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_SE</targetReference>
            </connector>
            <label>CountrySeOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Over_120</name>
        <label>Name Over 120</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Stage_empty_bid_room</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Over120</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmNameLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retry</targetReference>
            </connector>
            <label>Over120</label>
        </rules>
    </decisions>
    <description>This removes all the duplicate elements for Norway, Sweden and Denmark</description>
    <environments>Default</environments>
    <formulas>
        <name>Country</name>
        <dataType>String</dataType>
        <expression>{!$User.Country}</expression>
    </formulas>
    <formulas>
        <description>true = Opportunity Owner is Active</description>
        <name>frm_ActiveOwner</name>
        <dataType>Boolean</dataType>
        <expression>{!NewOppt.Owner.IsActive}</expression>
    </formulas>
    <formulas>
        <description>Assign the owner id</description>
        <name>frmAssgnOwnerId</name>
        <dataType>String</dataType>
        <expression>IF({!frm_ActiveOwner}=false,{!NewOwner.recordId},{!NewOppt.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>frmNameLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!NameNO})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>USed to open new opportunity</description>
        <name>frmNewOpportunityLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL}&amp;{!varNewOpportunityId}</expression>
    </formulas>
    <interviewLabel>Custom Clone Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Clone Opportunity V9</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Clone</name>
        <label>Create Clone</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Show_opportunities</targetReference>
        </connector>
        <inputReference>NewOppt</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_opportunity</name>
        <label>Get opportunity</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_Close_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>NewOppt</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Apps_Owner__c</queriedFields>
        <queriedFields>Apps_Status__c</queriedFields>
        <queriedFields>BC_Owner__c</queriedFields>
        <queriedFields>BC_Status__c</queriedFields>
        <queriedFields>BID_Office_Owner__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Classification__c</queriedFields>
        <queriedFields>Consultants__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Domain__c</queriedFields>
        <queriedFields>EUR_Rate__c</queriedFields>
        <queriedFields>DPS_Owner__c</queriedFields>
        <queriedFields>DPS_Status__c</queriedFields>
        <queriedFields>Months__c</queriedFields>
        <queriedFields>Owner_Name__c</queriedFields>
        <queriedFields>BU_Lead__c</queriedFields>
        <queriedFields>Service_Area_Apps__c</queriedFields>
        <queriedFields>Service_Area_BC__c</queriedFields>
        <queriedFields>Service_Area_DPS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_SE</name>
        <label>Get Records SE</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_Close_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>NewOppt</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NextStep</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Amount_This_Year__c</queriedFields>
        <queriedFields>Business_Unit_SE__c</queriedFields>
        <queriedFields>Classification__c</queriedFields>
        <queriedFields>Consultants__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>EUR_Rate__c</queriedFields>
        <queriedFields>Months__c</queriedFields>
        <queriedFields>Offer__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Name_Close_Date</name>
        <label>Name &amp; Close Date</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Name_Over_120</targetReference>
        </connector>
        <fields>
            <name>NameNO</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NewOppt.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_To_Long</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 7, 7);&quot;&gt;The value you entered for Name is {!frmNameLength} characters long. Max length for this field is 120, please reduce.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>frmNameLength</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>120.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>NewOppt.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose an Opportunity Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>frm_ActiveOwner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_opportunities</name>
        <label>Screen to open new opp</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_record_Id</targetReference>
        </connector>
        <fields>
            <name>ShowOld</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Continue&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to open the new opportunity&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CtryNoDk</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>DueDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOppt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Retry_True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>16</scale>
    </variables>
    <variables>
        <name>varAppsOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBcOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBidOfficeOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConsultants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varDueDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIMCSOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIMOSOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStageName</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
