force-app/force-app/main/default/flows/Lead_Conversion_Subflow_Same_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This lets us know if we are going back to the screen for the second time so we can display additional instruction.</description>
        <name>asst_Going_back_to_screen_again</name>
        <label>Going back to screen again</label>
        <locationX>1917</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>var_screenCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenSearchContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is a necessary step because a decision is not able to see if a record choice set is null or not.</description>
        <name>asstChosenContactId</name>
        <label>AssignChosenContactId</label>
        <locationX>1465</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>varChosenContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chooseContact.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_happened_in_that_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>No new contact.</description>
        <name>CreateContactFalse</name>
        <label>CreateContactFalse</label>
        <locationX>1492</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Get the number of contacts in this list.</description>
        <name>Get_Size_of_Contacts_List</name>
        <label>Get Size of Contacts List</label>
        <locationX>1116</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>varNumContactsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contacts_at_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_at_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>There are no contacts so the user will need to create a new contact automatically.</description>
        <name>No_contacts</name>
        <label>No contacts</label>
        <locationX>1062</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayTextOutbound</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No matching contacts found. A new contact will be created.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>The user has not found a contact matching and will create a new one. They already know that and do not need to learn it from the display text.</description>
        <name>No_contacts_0</name>
        <label>decided to create new contact</label>
        <locationX>1310</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>booCreateNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>See how many contacts are at the account. Are there any or are there 0?</description>
        <name>Contacts_at_Account</name>
        <label>Contacts at Account</label>
        <locationX>1321</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>No_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, emtpy list</defaultConnectorLabel>
        <rules>
            <name>Yescontacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumContactsSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSearchContacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>What choices were made in the last screen? Was it a valid choice?</description>
        <name>What_happened_in_that_screen</name>
        <label>What happened in that screen?</label>
        <locationX>1570</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>asst_Going_back_to_screen_again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid choice</defaultConnectorLabel>
        <rules>
            <name>Create_new_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pckCreateNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varChosenContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_contacts_0</targetReference>
            </connector>
            <label>Create new contact</label>
        </rules>
        <rules>
            <name>Select_from_existing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varChosenContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pckCreateNewContact</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chosen_Contact</targetReference>
            </connector>
            <label>Select from existing</label>
        </rules>
    </decisions>
    <description>This version sends the owner id of the existing contact back to the main flow.</description>
    <dynamicChoiceSets>
        <description>These are contacts at the account that do not match the lead</description>
        <name>collContactsAtAccounts</name>
        <collectionReference>Get_Contacts_at_Account</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Lead Conversion Subflow Same Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion Subflow Same Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>We want to display their name on the very last screen (and it may be different from lead) so we get their name here.</description>
        <name>Get_Chosen_Contact</name>
        <label>Get Chosen Contact</label>
        <locationX>1492</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateContactFalse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChosenContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_at_Account</name>
        <label>Get Contacts at Account</label>
        <locationX>1123</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Size_of_Contacts_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screenSearchContacts</name>
        <label>SearchContacts</label>
        <locationX>1560</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asstChosenContactId</targetReference>
        </connector>
        <fields>
            <name>dsp_choiceRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;**You must choose either to match with an existing contact or create a new contact.**&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_screenCount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chooseContact</name>
            <choiceReferences>collContactsAtAccounts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>There are no matching contacts. You may look for a match from contacts at this account.</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>textSearchContacts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>pckCreateNewContact</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to create a new contact instead?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1307</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contacts_at_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textSearchContacts</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>See all contacts at {!varAccountName}</text>
    </textTemplates>
    <variables>
        <description>selected both to merge with a new contact and create a new contact.</description>
        <name>boo_SelectedBoth</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Chose to neither create a contact or match with existing contact</description>
        <name>boo_SelectedNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>booCreateNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Number of times they have been to this screen. If this is their second time at this screen, add additional instructions.</description>
        <name>var_screenCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is needed to see if the chosen contact record choice set is populated. The decision cannot determine if it is populated on its own.</description>
        <name>varChosenContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This text will be displayed on the next screen in the main flow</description>
        <name>varDisplayTextOutbound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Number of contacts at the account.</description>
        <name>varNumContactsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>OwnerId if an existing contact is used.</description>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
