force-app/force-app/main/default/flows/Opportunity_DPS_Alert_and_Chatter_Follow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Opportunity_Closed</name>
        <label>Alert Opportunity Closed</label>
        <locationX>842</locationX>
        <locationY>1655</locationY>
        <actionName>Opportunity.Alert_DPS_Mailbox_when_Opportunity_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_DPS_Mailbox_when_Opportunity_Closed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_Opportunity_DPS_status_abandoned</name>
        <label>Alert Opportunity DPS status abandoned</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <actionName>Opportunity.Alert_Opportunity_DPS_status_abandoned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_DPS_status_abandoned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_to_DPS_Mailbox</name>
        <label>Alert to DPS Mailbox</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Alert_Opportunity_assigned_to_DPS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Owner_Assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_assigned_to_DPS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_to_DPS_Mailbox_BU_added</name>
        <label>Alert to DPS Mailbox</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>Opportunity.Alert_Opportunity_assigned_to_DPS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Business_Unit_DPS_Abandoned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_assigned_to_DPS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_to_DPS_Owner</name>
        <label>Alert to DPS Owner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Alert_DPS_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_DPS_owner_is_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_to_DPS_Owner_changed</name>
        <label>Alert to DPS Owner</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Alert_DPS_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DPS_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_DPS_owner_is_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_to_DPS_Owner_new</name>
        <label>Alert to DPS Owner</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>Opportunity.Alert_DPS_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_DPS_owner_is_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Business_Unit_DPS_Abandoned</name>
        <label>Business Unit DPS Abandoned</label>
        <locationX>974</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_abandoned</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DPS_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandoned by Us - Capacity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandoned by us - Out of Scope</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Opportunity_DPS_status_abandoned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DPS_added</name>
        <label>DPS added as BU</label>
        <locationX>974</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Business_Unit_DPS_Abandoned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_added_as_BU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPS_added_as_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_to_DPS_Mailbox_BU_added</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DPS_Owner_Changed</name>
        <label>DPS Owner Changed</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>DPS_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPSChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>DPS_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Account_is_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account is Blocked</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewAndBusinessUnitDPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_to_DPS_Mailbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Closed</name>
        <label>Opportunity Closed</label>
        <locationX>974</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Opportunity_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Assigned</name>
        <label>Owner Assigned</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Yes_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPS_Owner_Assigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DPS_Owner_Chatter_Follower</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_assign_new_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignNewDPSOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner</targetReference>
            </connector>
            <label>No, assign new owner</label>
        </rules>
    </decisions>
    <description>Added criteria to exclude test opportunities, and put blocked into a decision to exclude it. Was not able to get it to work with a formula field in initial criteria with INCLUDES( Business_Unit__c, &apos;DPS&apos;)</description>
    <environments>Default</environments>
    <formulas>
        <name>AssignNewDPSOwner</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
ISBLANK( {!$Record.DPS_Owner__c} ) &amp;&amp;
ISBLANK( {!$Record.Account.DPS_Owner__c} ) = false &amp;&amp;
INCLUDES( {!$Record.Business_Unit__c} , &quot;DPS&quot; )</expression>
    </formulas>
    <formulas>
        <name>DPS_added_as_BU</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISNEW() &amp;&amp;
INCLUDES( {!$Record.Business_Unit__c},&quot;DPS&quot; ) &amp;&amp;
INCLUDES( PRIORVALUE( {!$Record.Business_Unit__c} ),&quot;DPS&quot; ) = false</expression>
    </formulas>
    <formulas>
        <name>DPS_Owner_Assigned</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
ISBLANK({!$Record.DPS_Owner__c}) = false</expression>
    </formulas>
    <formulas>
        <name>DPSChanged</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISNEW() &amp;&amp;
ISCHANGED( {!$Record.DPS_Owner__c} ) &amp;&amp;
ISBLANK( {!$Record.DPS_Owner__c}) = false</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>IsNewAndBusinessUnitDPS</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
INCLUDES( {!$Record.Business_Unit__c}, &quot;DPS&quot; )</expression>
    </formulas>
    <formulas>
        <name>OpportunityClosed</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISNEW() &amp;&amp;
INCLUDES( {!$Record.Business_Unit__c} , &quot;DPS&quot; ) &amp;&amp;
(ISPICKVAL( PRIORVALUE({!$Record.StageName}) ,&quot;0 - Planning&quot; ) ||
ISPICKVAL( PRIORVALUE({!$Record.StageName}) ,&quot;2- RFI&quot; ) ||
ISPICKVAL( PRIORVALUE({!$Record.StageName} ) ,&quot;1 - Possibility&quot; ) ||
ISPICKVAL( PRIORVALUE({!$Record.StageName} ) ,&quot;3 - Prequal&quot; )||
ISPICKVAL( PRIORVALUE({!$Record.StageName} ) ,&quot;4 - Offer&quot; ) )
&amp;&amp; 
(ISPICKVAL( {!$Record.StageName}, &quot;Closed Won&quot;) ||
 ISPICKVAL( {!$Record.StageName} , &quot;Closed Lost&quot;) ||
 ISPICKVAL( {!$Record.StageName} , &quot;Abandoned by Us&quot;) ||
 ISPICKVAL( {!$Record.StageName} , &quot;Abandoned by Customer&quot;)  ||
 ISPICKVAL( {!$Record.StageName} , &quot;5 - Awarded&quot;)
)</expression>
    </formulas>
    <interviewLabel>Opportunity DPS Alert and Chatter Follow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Opp DPS follow and alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_New_Owner</name>
        <label>Assign New Owner</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>DPS_Owner_Chatter_Follower_new</targetReference>
        </connector>
        <inputAssignments>
            <field>DPS_Owner__c</field>
            <value>
                <elementReference>$Record.Account.DPS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_New_Owner_0</name>
        <label>Assign New Owner</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>DPS_Owner_Chatter_Follower_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>DPS_Owner__c</field>
            <value>
                <elementReference>$Record.DPS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Created_Activity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TestDataFactoryTestOpportunity12345</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>DPS_Owner_Chatter_Follower</name>
        <label>DPS Owner Chatter Follower</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Alert_to_DPS_Owner</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.DPS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DPS_Owner_Chatter_Follower_changed</name>
        <label>DPS Owner Chatter Follower</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Alert_to_DPS_Owner_changed</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.DPS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>DPS_Owner_Chatter_Follower_new</name>
        <label>DPS Owner Chatter Follower</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Alert_to_DPS_Owner_new</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.DPS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
