force-app/force-app/main/default/flows/Opportunity_BC_Follows_and_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_BC_Mailbox</name>
        <label>Alert BC Mailbox</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Alert_Opportunity_assigned_to_BC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BC_Owner_has_changed_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_assigned_to_BC</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_changed_BC_owner</name>
        <label>Alert changed BC owner</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <actionName>Opportunity.Alert_BC_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bussines_Unit_BC_Abandoned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_BC_owner_is_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_existing_BC_owner</name>
        <label>Alert existing BC owner</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.Alert_BC_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_BC_owner_is_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_new_BC_owner</name>
        <label>Alert new BC owner</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Alert_BC_owner_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_BC_owner_is_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>BC_Status_Abandoned_Alert_BC_Mailbox</name>
        <label>BC Status Abandoned - Alert BC Mailbox</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <actionName>Opportunity.Alert_Opportunity_BC_status_abandoned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_New_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_BC_status_abandoned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_is_qualified</name>
        <label>Opportunity is qualified</label>
        <locationX>842</locationX>
        <locationY>1547</locationY>
        <actionName>Opportunity.Alert_BC_Owner_when_Lead_Qualified</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_BC_Owner_when_Lead_Qualified</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>BC_added_as_Business_Unit</name>
        <label>BC added as Business Unit</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>BC_Owner_has_changed_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_As_Business_Unit_Added</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_BC_Mailbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BC_Owner_Exists</name>
        <label>BC Owner Exists</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Yes_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Owner_Is_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Follow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_BC_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BC_Owner_new</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>BC_Owner_has_changed_decision</name>
        <label>BC Owner has changed</label>
        <locationX>974</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Bussines_Unit_BC_Abandoned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Owner_Has_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changed_BC_Owner_Chatter_Follow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bussines_Unit_BC_Abandoned</name>
        <label>Bussines Unit BC Abandoned</label>
        <locationX>974</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Opportunity_New_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_BC_Status_Abandod</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BC_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandoned by Us - Capacity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandoned by Us - Out of Scope</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BC_Status_Abandoned_Alert_BC_Mailbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>BC_added_as_Business_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Account_is_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account is Blocked</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Advisory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BC_Owner_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_New_Stage</name>
        <label>New Stage</label>
        <locationX>974</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_newStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_is_qualified</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added criteria to exclude blocked accounts and test opps.</description>
    <environments>Default</environments>
    <formulas>
        <name>BC_As_Business_Unit_Added</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISNEW() &amp;&amp;
INCLUDES( {!$Record.Business_Unit__c},&quot;Advisory&quot; ) &amp;&amp;
INCLUDES( {!$Record__Prior.Business_Unit__c} ,&quot;Advisory&quot; ) = false</expression>
    </formulas>
    <formulas>
        <name>BC_Owner_Has_Changed</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISNEW() &amp;&amp;
ISCHANGED( {!$Record.BC_Owner__c}) &amp;&amp;
ISBLANK( {!$Record.BC_Owner__c} ) = false</expression>
    </formulas>
    <formulas>
        <name>BC_Owner_Is_Set</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.BC_Owner__c}) = false</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>New_Stage</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() = false &amp;&amp;
ISBLANK( {!$Record.BC_Owner__c}) = false &amp;&amp;
(TEXT(PRIORVALUE({!$Record.StageName})) =&quot;0 - Planning&quot;  || 
TEXT(PRIORVALUE({!$Record.StageName})) =&quot;1 - Possibility&quot;)  &amp;&amp;
TEXT( {!$Record.StageName}) !=&quot;0 - Planning&quot;  &amp;&amp;
TEXT({!$Record.StageName}) !=&quot;1 - Possibility&quot;</expression>
    </formulas>
    <formulas>
        <name>Set_BC_Owner</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK( {!$Record.BC_Owner__c} ) &amp;&amp;
ISBLANK( {!$Record.Account.BC_Owner__c} ) = false &amp;&amp;
INCLUDES( {!$Record.Business_Unit__c} , &quot;Advisory&quot; )</expression>
    </formulas>
    <interviewLabel>Opportunity: BC Follows and Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered : OPP BC Follows and Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_BC_Owner_new</name>
        <label>Set BC Owner</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>New_BC_Owner_Chatter_Follow</targetReference>
        </connector>
        <inputAssignments>
            <field>BC_Owner__c</field>
            <value>
                <elementReference>$Record.Account.BC_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Advisory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Created_Activity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TestDataFactoryTestOpportunity12345</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Changed_BC_Owner_Chatter_Follow</name>
        <label>Changed BC Owner Chatter Follow</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Alert_changed_BC_owner</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.BC_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Chatter_Follow</name>
        <label>Chatter Follow</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Alert_existing_BC_owner</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.BC_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>New_BC_Owner_Chatter_Follow</name>
        <label>New BC Owner Chatter Follow</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Alert_new_BC_owner</targetReference>
        </connector>
        <flowName>Add_Chatter_follower</flowName>
        <inputAssignments>
            <name>FollowerID</name>
            <value>
                <elementReference>$Record.BC_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
