force-app/force-app/main/default/flows/Record_Triggered_Account_deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Info_about_deleted_email</name>
        <label>Info about deleted email</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce account has been deleted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Info to Service NOW team about record deletion. Updated to remove hardcoding of admin email addresses.</description>
    <environments>Default</environments>
    <interviewLabel>Record Triggered: Account deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Account deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AdminEmailsSubflow</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AdminEmailsSubflow</name>
        <label>AdminEmailsSubflow</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Info_about_deleted_email</targetReference>
        </connector>
        <flowName>UsersAdminEmailList</flowName>
        <outputAssignments>
            <assignToReference>txt_userAdminEmail</assignToReference>
            <name>var_AdminEmailList</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Salesforce account {!$Record.Name} has been deleted.&lt;/p&gt;&lt;p&gt;Salesforce record ID: {!$Record.Id}&lt;/p&gt;&lt;p&gt;Deletion was done by user: {!$User.FirstName} {!$User.LastName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailList</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;rolf.nyhus2@soprasteria.com.UAT,alfred.no@soprasteria.com.UAT,{!txt_userAdminEmail}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>txt_userAdminEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
