force-app/force-app/main/default/flows/Record_Trigger_User_Modified_CountryGroup_Permset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add to multi record variable</description>
        <name>Add_Contract_Management_Permission</name>
        <label>Add Contract Management Permission</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varPermSetAssignmentMulti</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPermSetAssignmentSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High_Importance_Opportunities_ON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_High_Importance_Permission</name>
        <label>Add High Importance Permission</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>varPermSetAssignmentMulti</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPermSetAssignmentSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Perrmission_Set_Record_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Contract_Management_Permission</name>
        <label>Create Contract Management Permission</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varPermSetAssignmentSingle.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermSetAssignmentSingle.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contracts_Permission_Set.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_Management_Permission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_HighImportance_Opportunity_Assignement</name>
        <label>Create HighImportance Opportunity Assignement</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varPermSetAssignmentSingle.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermSetAssignmentSingle.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_High_Performance_Permission_Set.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_High_Importance_Permission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If &apos;High Importance Opportunities&quot; is turned off: delete associated Permission Set Assignment</description>
        <name>High_Importance_Off</name>
        <label>High Importance Off</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Importance_Flag_Off</name>
            <conditionLogic>(1 AND 2 AND 3)  OR (3 AND  4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.High_Importance_Opportunities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.High_Importance_Opportunities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighPerformanePermSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_HigImportance_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does user have access to high importance opporutnities?</description>
        <name>High_Importance_Opportunities_ON</name>
        <label>High Importance Opportunities ON</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Create_Perrmission_Set_Record_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HighImportance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighPerformanePermSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.High_Importance_Opportunities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_HighImportance_Opportunity_Assignement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reactivated_ContractPermission</name>
        <label>ContractPermission</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>High_Importance_Opportunities_ON</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reactivate_AddContractPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractsPermissionSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract_Management_Permission</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Divided this flow from Record Triggered User Created and Modified to help with troubleshooting. Runs only when the prior record was inactive and now the user is active.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record Trigger: User Modified, CountryGroup,Permset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: User Modified, Permset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Perrmission_Set_Record_s</name>
        <label>Create Perrmission Set Record(s)</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>High_Importance_Off</targetReference>
        </connector>
        <inputReference>varPermSetAssignmentMulti</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Remove the High Importance Permssion set entry</description>
        <name>Delete_HigImportance_Assignment</name>
        <label>Delete HigImportance_Assignment</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_High_Performance_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>ContractsPermissionSet</name>
        <label>ContractsPermissionSet</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reactivated_ContractPermission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contracts_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Permission_Set</name>
        <label>Get Contracts Permission Set</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HighPerformanePermSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Management_Permissions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_High_Performance_Permission_Set</name>
        <label>Get High Performance Permission Set</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contracts_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Visibility_to_Highly_important_Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HighPerformanePermSet</name>
        <label>HighPerformanePermSet</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractsPermissionSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_High_Performance_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_High_Performance_Permission_Set</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.IsActive} = true</filterFormula>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Is user assigned to permission set for Contracts?</description>
        <name>varFoundContractPermSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is user assigned to permission set for High Importance Opportunities?</description>
        <name>varFoundHighImportancePermSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPermSetAssignmentMulti</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varPermSetAssignmentSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
