force-app/force-app/main/default/flows/Reset_Bid_Room.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Country</name>
        <label>Country</label>
        <locationX>536</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bid_SE</targetReference>
            </connector>
            <label>SE</label>
        </rules>
        <rules>
            <name>NO_DK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOwnerCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bid_NO_DK</targetReference>
            </connector>
            <label>NO DK</label>
        </rules>
    </decisions>
    <description>Deletes bid room info and bid object. Does not delete the bid room!</description>
    <interviewLabel>Reset Bid Room {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Bid Room</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>List_Bid_room</name>
        <label>List Bid room</label>
        <locationX>824</locationX>
        <locationY>232</locationY>
        <inputAssignments>
            <field>Bid_Room__c</field>
            <value>
                <elementReference>varBidNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>varOwnerCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Bid_room_delete__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Bid_NO_DK</name>
        <label>Update Bid NO DK</label>
        <locationX>824</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>List_Bid_room</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BID_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBidNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <stringValue>Not in Use</stringValue>
            </value>
        </inputAssignments>
        <object>Bid__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bid_SE</name>
        <label>Update Bid SE</label>
        <locationX>545</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>List_Bid_room</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BID_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBidNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <stringValue>Not in Use</stringValue>
            </value>
        </inputAssignments>
        <object>Bid_SE__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Field</name>
        <label>Update Opportunity Field</label>
        <locationX>374</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bid_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Number__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_bid_room__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Created_in_bid_portal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Update_Opportunity_Field</startElementReference>
    <status>Active</status>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBid_NO_DK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid__c</objectType>
    </variables>
    <variables>
        <name>varBid_SE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bid_SE__c</objectType>
    </variables>
    <variables>
        <name>varBidNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
