force-app/force-app/main/default/flows/Scheduled_Opp_14_Days_Overdue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email</name>
        <label>Email</label>
        <locationX>328</locationX>
        <locationY>679</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Time to update old close dates in Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assn_oppsCount</name>
        <label>assn_oppsCount</label>
        <locationX>171</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>var_oppsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>156</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assn_oppsCount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow sends an email to any user who has  opportunities with a close day of 14 days ago or earlier. This version excludes people with opportunities at Stage - 5 only., and stageName is NOT null.

Version updates baseURL</description>
    <environments>Default</environments>
    <formulas>
        <name>baseURLFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL}+&quot;flow/Screen_UpdateMyOldOpps&quot;</expression>
    </formulas>
    <formulas>
        <name>frm_flowURL</name>
        <dataType>String</dataType>
        <expression>IF({!var_oppsCount}=1,
&quot;Klikk her for enkelt å redigere det.&quot;,
&quot;Klikk her for enkelt å redigere dem.&quot;)</expression>
    </formulas>
    <formulas>
        <description>get 14 days ago</description>
        <name>frm_FourteenDaysAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-14</expression>
    </formulas>
    <formulas>
        <description>say opportunities or opportunity in the email body</description>
        <name>frm_oppOrOpps</name>
        <dataType>String</dataType>
        <expression>IF({!var_oppsCount}=1,&quot;opportunity&quot;,&quot;opportunities&quot;)</expression>
    </formulas>
    <interviewLabel>Scheduled: Opp 14 Days Overdue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: User has opps 14 days overdue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Opps</name>
        <label>Get Open Opps</label>
        <locationX>164</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>frm_FourteenDaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>5 - Awarded</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>358</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>Get_Open_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-12-10</startDate>
            <startTime>08:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hei {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;Du har {!var_oppsCount} {!frm_oppOrOpps} med CloseDate for to uker siden eller tidligere.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!baseURLFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!frm_flowURL}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;mhv,&lt;/p&gt;&lt;p&gt;Team CRM&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_oppsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
