force-app/force-app/main/default/flows/ScreenFlow_Opportunity_Contract_problem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Contracts_team</name>
        <label>Email to Contracts team</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varAlertRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ny sak med feil i Contract</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailNotificationContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Raise a contracts problem</description>
    <dynamicChoiceSets>
        <name>chsContract</name>
        <collectionReference>Contracts_from_Junction</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contract_Archive__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmUrl</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL}&amp;{!varSupportRecord}</expression>
    </formulas>
    <interviewLabel>ScreenFlow: Opportunity-Contract problem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Opportunity-Contract problem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Crate User support record from input data</description>
        <name>User_Support</name>
        <label>User Support</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>varSupportRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Email_to_Contracts_team</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$User.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Problem_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Actions__c</field>
            <value>
                <elementReference>Requested_changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Contract__c</field>
            <value>
                <elementReference>Contract_Parent_agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Picklist__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Contract error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_request__c</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <object>User_Support__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Contract_Junction</name>
        <label>Account Contract Junction</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contracts_from_Junction</targetReference>
        </connector>
        <filterLogic>(1 AND 2  AND 3) AND (4 OR ((5  AND 6 )AND (7 OR 8)))</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_State__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>LegalOwnerCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Owner.Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinalExpirationConfirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Contract_Archive_Junction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Archive__c</queriedFields>
        <queriedFields>Contract_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Contract_Junction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Support__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Report a contract problem&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Opportunity.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Stage:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Opportunity.StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Type:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Opportunity.Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Contract Category: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Opportunity.Contract_Category__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select new contract (if you need to change which contract the oportunity is connected to)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Parent_agreement</name>
            <choiceReferences>chsContract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract (New Parent agreement)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Replace current contrac with other contract (already uploaded)&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Problem_Detail</name>
            <fieldText>Describe problem</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requested_changes</name>
            <fieldText>Requested changes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your case was registered. You will be notified when problem is solved.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can follow the status of your case &lt;/span&gt;&lt;a href=&quot;{!frmUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿TIP:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; bookmark the status page to review it later&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Send notification to contracts team</description>
        <name>emailNotificationContract</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;We have a new User Support Case for &quot;Contract&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link: {!frmUrl}&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Contracts_from_Junction</name>
        <label>Contracts from Junction</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Contract_Archive__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Account_Contract_Junction[$EachItem].Contract_Archive__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Account_Contract_Junction[$EachItem].Contract_Name__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAlertRecipients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>magne.eggen@soprasteria.com,jessie.rymph@soprasteria.com,mona.wilhelmsen@soprasteria.com,e.heidenstrom@soprasteria.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSupportRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
